In [1]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime

pd.set_option('display.max_columns',30)

In [10]:

y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2012.csv')

In [2]:
#import the newly separated portions of the original data set
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2012.csv')
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2013.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2014.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2015.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2016.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//1 raw1//year2017.csv')

In [2]:
#dummy dataframe to use as an example how dictionaries and functions are applied
ytest17=y17

# Creating Dictionaries to Clean Nan Values

### Columns with Nan values include : Address, City, Zip Code, Store Location, County Number, County, Category, Category Name, Vendor Number, Vendor Name

In [ ]:
# Which columns include nan values in raw data?
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

### For each of these columns, a dictionary is made with a corresponding column where a 1:1 relationship is present. Therefore, the relationship can be used to fill in rows where the data is missing. The process for the 'Address' column walks through this process.

### Address

In [ ]:
#concatenating data from Store Number and Address columns
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
#dropping all nan values from Address (there are no nons in the Store Number column)
sall=sall[sall['Address'].notna()]
#dropping all duplicate store number values 
sall.drop_duplicates(subset=['Store Number'],inplace=True)
#exporting to a file for easy future reference
sall.to_csv('storenumaddress.csv')

In [184]:
#there are 1884 stores in the entire dataset, checking length to confirm uniqueness of values
len(slall)

1884

In [40]:
#create dictionary with 'Store Number' column as keys and 'Address' column as values
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]

In [354]:
#export dictionary to file to be called for future use
salldict.to_csv('allstoredict.csv')

AttributeError: 'dict' object has no attribute 'to_json'

In [47]:
#this function will compare see if the address cell in a row is a nan and, if so, attempt to 
# find the key:value pair in the address dictionary to match the store number in the row and fill in the address
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

In [241]:
#a map function is used to apply the get_address function to all rows in a dataset
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

### Store Location

In [181]:
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
slall.to_csv('storenumlocation.csv')

In [184]:
#there are 1884 stores in the entire dataset, checking length to confirm uniqueness of values
len(slall)

1884

In [185]:
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]

In [186]:
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x

In [196]:
ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))

### Zip Code

In [129]:
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
zipna.to_csv('storenumzip.csv')

In [132]:
len(zipna)

1884

In [133]:
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]

In [134]:
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x

In [ ]:
ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))

### County

In [27]:
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
#countyna.to_csv('storenumcounty.csv')

NameError: name 'y16' is not defined

In [139]:
len(countyna)

1883

In [465]:
ytest17[ytest17['City']=='Mason City']['County'].unique()

array(['CERRO GORD'], dtype=object)

In [466]:
len(ytest17[ytest17['County']=='CERRO GORD'])

27745

In [140]:
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [141]:
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x

In [ ]:
ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))

### County Number

In [150]:
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna.to_csv('storenumcountynum.csv')

In [153]:
len(countynumna)

1883

In [154]:
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]

In [155]:
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x

In [ ]:
ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))

### City

In [157]:
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna.to_csv('storenumcity.csv')

In [160]:
len(cityna)

1884

In [161]:
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]

In [162]:
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x

In [ ]:
ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))

### Category

In [328]:
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catna.to_csv('idcategory.csv')

In [332]:
len(catna)

5795

In [333]:
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]

In [334]:
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x

In [335]:
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

In [336]:
#after applying map function, how many nan values are still in 'Category'
ytest17['Category'].isna().sum()

827

In [337]:
#'What' are the unique item descriptions of the rows with these 'Category' nan values
ytest17[ytest17['Category'].isna()]['Item Description'].unique()

array(["Galliano L'Autentico", 'Bains Cape Mountain Whiskey',
       'Don Pancho Origenes 8YR Rum', 'Barbados Rum 100ml',
       'Barbados Rum 1 Liter', 'Barbados Rum 200 ml',
       'Barbados Rum 375ml', 'Barbados Rum 50ml', 'Barbados Rum 750ml',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Deep Eddy  Lemon Vodka', 'Diplomatico Reserva Exclusiva',
       'Grand Teton Vodka', '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Valentine Vodka', 'Ansac VS  Cognac',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Patron Citronge Mango', 'Lairds Old Apple Brandy 7YR',
       'Green Absinthe', 'Red Absinthe', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Orphan Barrel Barterhouse', 'HA Orphan Barrel Forged Oak',
       'Rothman & Winter Orchard Peach',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'HA Pikesville Rye 110prf',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Old Forester 1920', 'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       "Aberlour A''bunadh", 'El Mayor Extra Anejo 100% Agave',
       'Ezra Brooks Bourbon Cream Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Hornitos Reposado w/Glasses',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'],
      dtype=object)

### Category Name

In [250]:
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena.to_csv('idcategoryname.csv')

In [253]:
len(catnamena)

5758

In [254]:
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]

In [255]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x

In [287]:
ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))

In [249]:
#no na values after function is applied (perfect!)
ytest17['Category'].isna().sum()
ytest17.isna().sum()
ytest17.isna().sum()

AttributeError: 'list' object has no attribute 'isna'

In [ ]:
ytest17['Category Name'].isna().sum()

In [ ]:
ytest17[ytest17['Category Name'].isna()]['Item Description'].unique()

### Vendor Name

In [268]:
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna.to_csv('storenumvendorname.csv')

In [271]:
len(vennumna)

5865

In [272]:
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]

In [273]:
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x

In [274]:
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))

### Vendor Number

In [257]:
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)
vennum.to_csv('storenumvendornumber.csv')

In [260]:
len(vennum)

5863

In [261]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]

In [262]:
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

In [ ]:
ytest17['Vendor Number']=list(map(get_vendor_name,ytest17['Vendor Number'],ytest17['Item Description']))

# Summary of all functions and dictionaries made above to apply to datasets quickly later on

In [185]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [ ]:
#import all saved dictionaries (if needed)
saddy=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumaddress.csv')
scity=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcity.csv')
sco=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcounty.csv')
sconum=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcountynum.csv')
sloc=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumlocation.csv')
szip=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumzip.csv')
venname=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumvendorname.csv')
vennum=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumvendornumber.csv')
cat=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//idcategory.csv')
catname=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//idcategoryname.csv')

In [47]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

# For exceptions with Nan Values where the dictionary method did not work, functions are made to manually replace Nan values

### In the following cells it is shown that only one Vendor Number and Vendor Name is still a Nan
### This is for the Item Laphroaig Quarter Cask, the Vendor Name is Jim Beam Brands, the Vendor Number is 65

In [200]:
ytest17[ytest17['Vendor Number'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [201]:
ytest17[ytest17['Vendor Name'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [211]:
#here we can see the reason the item still shows nan values is BOTH the Vendor Number and Vendor Name were Nan values
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
462689,11170669,INV-03923100001,03/22/2017,2556,Hy-Vee Wine and Spirits / Estherville,2608 E. Central Avenue\nEstherville 51334\n,Estherville,51334.0,2608 E. Central Avenue\nEstherville 51334\n,32.0,EMMET,1012200.0,Scotch Whiskies,NaN,NaN,905433,Laphroaig Quarter Cask,6,750,$4.17,$47.24,1,$283.44,0.75,0.19,17
1495748,12203728,INV-06985200114,08/30/2017,2614,Hy-Vee #3 Food and Drugstore,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,Davenport,52807.0,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1532764,12240744,INV-07086700037,09/06/2017,2625,Hy-Vee Wine and Spirits #2,3301 W Kimberly Rd\nDavenport 52804\n,Davenport,52804.0,3301 W Kimberly Rd\nDavenport 52804\n,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1533550,12241530,INV-07088500003,09/06/2017,5003,Famous Liquors,"2604 W Locust St\nDavenport 52804\n(41.538186,...",Davenport,52804.0,"2604 W Locust St\nDavenport 52804\n(41.538186,...",82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1578417,12286397,INV-07219300028,09/13/2017,4129,Cyclone Liquors,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",Ames,50010.0,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1620576,12328556,INV-07348800002,09/20/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1663941,12371921,INV-07485100010,09/27/2017,2501,Hy-Vee #2 / Ames,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",Ames,50010.0,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1705681,12413661,INV-07650100011,10/04/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1767730,12475710,INV-07946500008,10/12/2017,2535,Hy-Vee Food Store #1 / WDM,1700 Valley West Dr\nWest Des Moines 50265\n,West Des Moines,50265.0,1700 Valley West Dr\nWest Des Moines 50265\n,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1790130,12498110,INV-08049400116,10/17/2017,2619,Hy-Vee Wine and Spirits / WDM,1725 74th St\nWest Des Moines 50266\n(41.59851...,West Des Moines,50266.0,1725 74th St\nWest Des Moines 50266\n(41.59851...,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17

In [213]:

ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Name'].unique()

array([nan, 'Jim Beam Brands'], dtype=object)

In [212]:
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Number'].unique()

array([nan, 65.])

In [ ]:
#creating targeted functions for vendor name / vendor number to fill in nan values 
def vendor_name(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return 'Jim Beam Brands'
    else:
        return x

def vendor_number(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return '65.'
    else:
        return x

### Below are examples of searches to understand the correlation of 'Category Name' with 'Item Description' and 'Category'.
### This ultimately resulted in identifying a challenge with the dataset for: there is not enough uniqueness nor consistency to fill in the 'Category Name' and 'Category' columns' nan values via function like many of the other columns were filled in.

In [ ]:
ytest17[ytest17['Category Name'].isna()]['Item Description']

In [ ]:
ytest17[ytest17['Category'].isna()]['Item Description']

In [286]:
#No value for Category Name for Barbados Rum in any instance
catnamena[catnamena['Item Description']=='Barbados Rum']['Category Name'].unique()

array([], dtype=object)

In [303]:
#There are 5 different 'Rum' categories so a search for 'rum' in 'Item Description' 
#cannot be used to fill in the Category Name
y17[y17['Category Name'].notna() & y17['Category Name'].str.contains('Rum')]['Category Name'].unique()

array(['White Rum', 'Spiced Rum', 'Gold Rum', 'Flavored Rum',
       'Aged Dark Rum'], dtype=object)

In [307]:
#The rum categories have to many unique item descriptions to ignore 
y17[(y17['Category Name']=='White Rum') | (y17['Category Name']=='Spiced Rum') | (y17['Category Name']=='Gold Rum') | (y17['Category Name']=='Flavored Rum') | (y17['Category Name']=='Aged Dark Rum')]['Item Description'].unique()

array(['Barton Rum Light', 'Captain Morgan Spiced Rum',
       'Bacardi Superior Rum', 'Bacardi Oakheart',
       'Appleton Signature Blend', 'Sailor Jerry Spiced Navy Rum',
       'Paramount White Rum', 'Malibu Coconut Rum',
       'Bacardi Gold Rum Mini', 'Captain Morgan Silver Spiced Rum',
       'Captain Morgan Spiced Rum Pet', 'Captain Morgan Spiced Rum Mini',
       'Captain Morgan Original Spiced', 'Blue Chair Bay Coconut',
       'Bacardi Limon', 'Bacardi Mango',
       'Captain Morgan Parrot Bay Pineapple', 'Bacardi Dragon Berry',
       'Bacardi Pineapple', 'Bacardi Gold Rum',
       'Captain Morgan Cannon Blast', 'Admiral Nelson Spiced Rum',
       'Captain Morgan Black Spiced',
       'Captain Morgan Original Spiced Rum Pet', 'Captain Morgan White',
       'Cruzan Dark Rum', 'Rondiaz Rum White', 'Malibu Coconut Rum Mini',
       'Malibu Pineapple Rum', 'Bacardi Superior Rum Mini',
       'Captain Morgan 100 Proof Spiced Rum', 'Captain Morgan Pineapple',
       'Malibu Pineapple Upside Down Cake',
       'Captain Morgan Spiced Barrel',
       'Captain Morgan Parrot Bay Coconut', 'Bacardi Superior PET',
       'Lady Bligh Spiced Rum', 'Bacardi Superior Rum Pet',
       'Admiral Nelson Cherry Spiced Rum', 'Phillips White Rum',
       'Cruzan Mango Rum', 'Paramount Gold Rum',
       'Malibu Passion Fruit Rum', 'Malibu Black', 'Bacardi Black',
       'Captain Morgan Private Stock', 'Kraken Black Spiced Rum',
       'Admiral Nelson Spiced Rum Mini', 'Hawkeye Light Rum',
       "Myers's Rum Original Dark", 'Admiral Nelson Spiced Rum Traveler',
       'Ronrico Silver Label Rum (pr)', 'Rondiaz Rum Spiced',
       'Kraken Black Spiced 70prf', 'Kraken Black Spiced Rum 70prf',
       'Blackheart Premium Spiced Rum', 'Calico Jack Spiced',
       'Admiral Nelson Coconut Rum', 'Cruzan Black Cherry Rum',
       'Paramount Gold Rum Traveler', 'Captain Morgan Cannon Blast Mini',
       'Bacardi Grapefruit', 'Mt. Gay Eclipse Rum', 'Bacardi O',
       'Captain Morgan White Mini', 'Castillo Silver Rum',
       'Rondiaz Rum Spiced Black Cherry', "Gosling's Black Seal",
       'Admiral Nelson Spiced 101', 'Captain Morgan 1671',
       'Cruzan Coconut Rum', 'Paramount White Rum Traveler',
       'Don Q Cristal Rum', 'Cruzan 151', 'Cruzan Vanilla Rum',
       'Paradise Island Bay', 'Captain Morgan Parrot Bay Passion Fruit',
       'Captain Morgan Lime Bite', 'Bacardi 8 Rum', 'Zaya Guatemalan Rum',
       'Cruzan Raspberry Rum', 'Cruzan Strawberry Rum',
       'Paradise Distilling Raspberry Bay Liqueur', 'Malibu Island Melon',
       'Captain Morgan White PET', 'Captain Morgan Coconut',
       'Paradise Distilling Coconut Bay Liqueur', 'Malibu Mango Rum',
       'Bacardi Raspberry', 'Bacardi Torched Cherry',
       'Cedar Ridge Dark Rum', 'Cedar Ridge Lost Pirate Port Finish Rum',
       'Ron Zacapa 23 Year', 'Mt. Gay Black Barrel',
       'Blue Chair Bay Banana', 'Blue Chair Bay Coconut Spiced',
       'Bacardi Gran Reserva Maestro',
       'Trader Vics Private Selection Spiced Rum', "Five O'clock",
       'Calico Jack Cherry', 'Captain Morgan Parrot Bay Orange',
       'Captain Morgan Parrot Bay Mango', 'Bacardi Gold Rum Pet',
       'Captain Morgan Grapefruit', 'Cruzan Light Rum',
       'Blue Chair Bay White', 'Havana Club Anejo Clasico Mini',
       'Havana Club Anejo Blanco Mini', 'Captain Morgan Pineapple Mini',
       'Havana Club Anejo Blanco', 'Calico Jack', 'Rondiaz Mini',
       'Captain Morgan Parrot Bay Key Lime',
       'Captain Morgan Parrot Bay Strawberry',
       'Cruzan Blueberry Lemonade', 'Admiral Nelson Black Patch',
       'Admiral Nelson Black Patch Mini', 'Malibu Red',
       'Bacardi Gold Rum PET', 'Captain Morgan Private Stock Rum',
       'Clearheart Rum', 'Castillo Spiced Rum',
       'Havana Club Anejo Clasico', 'Steel Drum', 'Bacardi Tangerine',
       "British Navy Pusser's Rum", 'Cane Rune White Rum Mini',
       'Cane Run White Rum', 'Havana Judge Spiced Rum',
       'Kraken Black Mini', 'Flor De Cana White', 'Artisan Grain Silver',
       'Paradise White Sand', 'Paradise Distilling Mango Bay Liqueur',
       'Bayou Spiced Rum', 'Cachaca 51', 'Artisan Grain Gold Rum',
       'Captain Morgan Loconut Mini', 'Captain Morgan Loconut',
       "Caribbean's Finest Rum Caramel", "Caribbean's Finest Rum Coconut",
       "Caribbean's Finest Rum Ginger",
       "Caribbean's Finest Rum Gran Reserva",
       "Caribbean's Finest Rum Orange",
       "Caribbean's Finest Rum Pineapple", 'Brugal Especial Extra Dry',
       'El Dorado Special Reserve 12YR', 'Don Q 151',
       'Paradise Caribbean Mist', 'Breckenridge Spiced Rum',
       'Goslings Gold Seal', 'Kirk & Sweeney 12YR Old Anejo',
       'Bayou Satsuma Rum Liqueur', 'Ron Barcelo Gran Anejo',
       'Vizcaya Black Rum',
       "Sammy's Beach Bar Rum Red Head (Macadamia Nut)",
       'Barton Gold Rum 1.75', 'Bayou Silver White Rum',
       'Cruzan Light Mini', 'Koloa Hawaiian Kauai Coffee Rum',
       'Cruzan Citrus', 'Bacardi Banana Mini', 'Bacardi Oakheart Mini',
       'Don Q Limon', "Pusser's Gunpowder Proof Rum",
       'El Dorado 15 Year Old Special Reserve Rum', 'Bacardi Banana',
       'Bacardi Classic Cocktail Rum Punch', 'Cruzan Passion Fruit',
       'Rondiaz DSS Lemon Rum', 'Blue Chair Bay Vanilla Rum',
       "Caribbean's Finest Rum Grapefruit", 'Sugar Island Rum Coconut',
       'Cruzan Tropical Fruit', 'Rondiaz Rum Dark',
       'Beach Bonfire Cinnamon Whiskey', 'Beach Island Coconut Whiskey',
       'Malibu w/Dole Pineapple Juice',
       'Starr Oak Aged 7 year African Rum', 'J Wray Silver',
       "Holstein Single Barrel Sippin' Rum", 'Prichards Peach Mango Rum',
       'Malibu 1.75L w/Pineapple VAP Giant Tray Pack',
       'Cruzan Black Cherry', 'La Hechicera Aged Rum', 'Rogue Dark Rum',
       'Kirkland Signature Original Spiced Rum', 'Flor De Cana Gold',
       'Admiral Nelson Pineapple Rum', 'Caliber Spiced Rum',
       'Caliber Silver Rum', 'Holy Hell',
       'Blue Chair Bay Coconut Spiced Rum Cream', 'JM VSOP',
       'Novo Fogo Silver Cachaa', 'Flor De Cana 12yr Centenario',
       'Admiral Nelson Pineapple', 'RumHaven', 'Admiral Nelson Vanilla',
       'Admiral Nelson  101 Mini', 'Members Mark Silver Rum Tray Pack',
       'Ron Abuelo Anejo', 'Cruzan Blackstrap', 'Clement VSOP Aged Rum',
       'Sailor Jerry Game Day VAP', 'Captain Morgan Jack-O Blast Mini',
       'Papas Pilar Dark Rum',
       'Captain Morgan 1.75L Retail Ready 3pk Shipper',
       'Tattersall Distilling Blackstrap Rum', 'Commanders Spiced Rum',
       'Commanders Silver Aged 1YR', 'Papas Pilar Blonde Rum', 'Cruzan 9',
       'Bumbu Rum', 'El Dorado 8YR', 'Ron Barcelo Imperial',
       'Lemon Hart 1804 Original', 'Lemon Hart 151'], dtype=object)

In [379]:
y17[y17['Item Description'].str.contains('Patron Guillermo Del Toro Extra Anejo & Orange')]['Category Name'].unique()

array(['100% Agave Tequila'], dtype=object)

In [446]:
#one example of item descriptions that are very similar but not the same: being too unique to generalize
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo')]['Item Description'].unique()

array(['El Mayor Extra Anejo', 'El Mayor Extra Anejo 100% Agave HA'],
      dtype=object)

In [448]:
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo 100% Agave HA')]['Category Name'].unique()

array(['TEQUILA'], dtype=object)

In [439]:
#another example of item descriptions that are very similar but not the same: being too unique to generalize
catna[catna['Item Description'].str.contains('Michter')]['Category'].unique()

array([1011200., 1901200., 1011600., 1011500.])

In [449]:
#Categories are 
y17[y17['Category Name']=='TEQUILA']['Category'].unique()

array([1022100.])

### This means external research was done for each Item Description associated with Category Name and Category Number nan Values and targeted if/else functions were created

### Compiling results of manual search and replacement of nan values

In [451]:
#get_county uses Store Number in dictionary and misses the county for cities of Guttenberg and Belmond
def county(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return 'Clayton'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return 'Wright'
    else:
        return x

#get_county_number uses Store Number in dictionary and misses the county number for cities of Guttenberg and Belmond
def county_number(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return '22.'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return '99.'
    else:
        return x
    
def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    else:
        return x
    
def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    else:
        return x

In [454]:
def category_name2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='Spanish Single Malt 100ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 1 Liter'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 375ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 50ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 750ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 200ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Deep Eddy  Lemon Vodka'):
            return 'VODKA FLAVORED'
        elif (y=='"Beefeater ""24"""'):
            return 'IMPORTED DRY GINS'
        elif (y=='Ansac VS  Cognac'):
            return 'Imported Brandies'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return 'Imported Cordials & Liqueur'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Patron Citronge Mango'):
            return '100% Agave Tequila'
        elif (y=='Deanston Organic 14YR'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='Rothman & Winter Orchard Peach'):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='HA Pikesville Rye 110prf'):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return 'SCOTCH WHISKIES'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=="Aberlour A''bunadh"):
            return 'SINGLE MALT SCOTCH'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return 'TEQUILA'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return 'Temporary & Specialty Packages'
        elif (y=="Michter's US*1 SB Rye"):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Plata w/Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Reposado w/Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        else:
            return x
    else:
        return x
              

def category2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return '1082900.'
        elif (y=='Spanish Single Malt 100ml'):
            return '1012210.'
        elif (y=='Spanish Single Malt 1 Liter'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 375ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 50ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 750ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 200ml'):
            return  '1012210.'
        elif (y=='Deep Eddy Lemon Vodka'):
            return '1031200.'
        elif (y=='"Beefeater ""24"""'):
            return '1042100.'
        elif (y=='Ansac VS  Cognac'):
            return '1052100.'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return '1082100.'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return  '1701100.'
        elif (y=='Patron Citronge Mango'):
            return '1022200.'
        elif (y=='Deanston Organic 14YR'):
            return '1012210.'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return '1011200.'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return '1011200.'
        elif (y=='Rothman & Winter Orchard Peach'):
            return '1082900.'
        elif (y=='HA Pikesville Rye 110prf'):
            return '1011500.'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return '1012200.'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return '1701100.'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return '1701100.'
        elif (y=="Aberlour A''bunadh"):
            return '1012210.'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return '1022100.'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return '1701100.'
        elif (y=="Michter's US*1 SB Rye"):
            return '1011500.'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return '1701100.'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return  '1701100.'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return '1701100.'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return '1701100.'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return '1701100.'
        elif (y=='Hornitos Plata w/Glasses'):
            return '1701100.'
        elif (y=='Hornitos Reposado w/Glasses'):
            return  '1701100.'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return '1701100.'
        else:
            return x
    else:
        return x

In [456]:
# testing results of manual replacements
ytest17['Category']=list(map(category2,ytest17['Category'],ytest17['Item Description']))

In [457]:
ytest17['Category Name']=list(map(category_name2,ytest17['Category Name'],ytest17['Item Description']))

In [458]:
# much much better
ytest17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 128
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [5]:
#some values simply lack too much information to fill in without a level of assumption and guesswork that I did not deem 
#responsible to use. Ideally, an external source in Iowa's distribution system would be consulted for the information.
ytest17[ytest17['Category']=='Bains Cape Mountain Whiskey']['Category Name'].unique()

array([], dtype=object)

# Applying all dictionaries and functions to each year

In [ ]:
#This loops through all 6 parts with all maps to reduce nans in all categories
#However, below I more deliberately clean each part to be as accurate as possible
listof6 = (y12,y13,y14,y15,y16,y17)
counter = 12
for i in listof6:
    print(counter)
    counter+=1
    i['Address']=list(map(get_address,i['Address'],i['Store Number']))
    i['Store Location']=list(map(get_store_location,i['Store Location'],i['Store Number']))
    i['Zip Code']=list(map(get_zip,i['Zip Code'],i['Store Number']))
    i['City']=list(map(get_city,i['City'],i['Store Number']))
    i['County Number']=list(map(get_county_number,i['County Number'],i['Store Number']))
    i['County Number']=list(map(county_number,i['County Number'],i['City']))
    i['County']=list(map(get_county,i['County'],i['Store Number']))
    i['County']=list(map(county,i['County'],i['City']))
    i['Category']=list(map(category,i['Category'],i['Item Description']))
    i['Category']=list(map(category2,i['Category'],i['Item Description']))
    i['Category']=list(map(get_category,i['Category'],i['Item Description']))
    i['Category Name']=list(map(category_name,i['Category Name'],i['Item Description']))
    i['Category Name']=list(map(category_name2,i['Category Name'],i['Item Description']))
    i['Category Name']=list(map(get_category_name,i['Category Name'],i['Item Description']))
    i['Vendor Name']=list(map(get_vendor_name,i['Vendor Name'],i['Item Description']))
    i['Vendor Name']=list(map(vendor_name,i['Vendor Name'],i['Item Description']))
    i['Vendor Number']=list(map(get_vendor_number,i['Vendor Number'],i['Item Description']))
    i['Vendor Number']=list(map(vendor_number,i['Vendor Number'],i['Item Description']))

## Year 2012

In [11]:
y12.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [43]:
#Belmond is not in the dictionary due to complete correlation of 'nan' to 'Belmond' throughout the dataset
y12[y12['County Number'].isna()]['City'].unique()

array(['BELMOND'], dtype=object)

In [42]:
#Belmond is not in the dictionary due to complete correlation of 'nan' to 'Belmond' throughout the dataset
y12[y12['County'].isna()]['City'].unique()

array(['BELMOND'], dtype=object)

In [12]:
#A look at the State Bottle Cost, Retail, and Sale(Dollars) nan are all on the same 10 rows
y12[y12['State Bottle Cost'].isna()]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",93.0,Wayne,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
90574,356024,S03816800149,01/30/2012,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",77.0,Polk,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
316371,1247099,S03842900093,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,82.0,Scott,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
331539,1306628,S03839800115,01/31/2012,2593,Hy-Vee Food Store / Carroll,905 US HIGHWAY 30 WEST,CARROLL,51401,905 US HIGHWAY 30 WEST\nCARROLL 51401\n(42.064...,14.0,Carroll,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,2,NaN,1.0,0.26,12
362712,1428507,S03825400160,01/31/2012,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,"901 SOUTH 4TH ST\nCLINTON 52732\n(41.836268, -...",23.0,Clinton,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12
481611,1896582,S03818000080,01/31/2012,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,"2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...",85.0,Story,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
763284,3003583,S03842900089,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,82.0,Scott,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,2,NaN,1.2,0.32,12
1102887,4337985,S03841000063,01/31/2012,2549,Hy-Vee Food Store / Indianola,910 N JEFFERSON,INDIANOLA,50125,"910 N JEFFERSON\nINDIANOLA 50125\n(41.368503, ...",91.0,Warren,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
1153506,4536650,S03831800099,01/31/2012,2629,Hy-Vee Food Store #2 / Council Bluff,1745 MADISON AVE,COUNCIL BLUFFS,51503,1745 MADISON AVE\nCOUNCIL BLUFFS 51503\n(41.24...,78.0,Pottawattamie,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12
1529456,6017165,S03814000102,01/30/2012,2623,Hy-Vee Food Store #4 / Sioux City,2827 HAMILTON BLVD,SIOUX CITY,51104,2827 HAMILTON BLVD\nSIOUX CITY 51104\n(42.5198...,97.0,Woodbury,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,2,NaN,1.2,0.32,12

In [14]:
y12[y12['Item Description']=='Titos Handmade Mini']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
12981,51330,S04109800047,02/15/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12
50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",93.0,Wayne,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
68316,269125,S05068100052,04/16/2012,4219,Lake Liquors Wine and Spirits,910 N 8TH ST W,CLEAR LAKE,50428,"910 N 8TH ST W\nCLEAR LAKE 50428\n(43.142775, ...",17.0,Cerro Gordo,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
79171,310645,S06245700003,06/27/2012,4112,Corridor Ventures,618 MEADE DR,NORTH LIBERTY,52317,"618 MEADE DR\nNORTH LIBERTY 52317\n(41.752451,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,5,$75.25,3.0,0.79,12
88022,345620,S06417000051,07/05/2012,3762,Wine and Spirits Gallery,7690 HICKMAN RD,WINDSOR HEIGHTS,50322,7690 HICKMAN RD\nWINDSOR HEIGHTS 50322\n(41.61...,77.0,Polk,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988219,7827561,S04468100099,03/08/2012,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,"315 S GILBERT ST\nIOWA CITY 52240\n(41.657654,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
1999407,7871649,S05800900062,05/30/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
2018232,7946679,S04394400039,03/05/2012,4219,Lake Liquors Wine and Spirits,910 N 8TH ST W,CLEAR LAKE,50428,"910 N 8TH ST W\nCLEAR LAKE 50428\n(43.142775, ...",17.0,Cerro Gordo,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
2045674,8054587,S04449100198,03/07/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,3,$45.15,1.8,0.48,12
2080785,8192615,S03895300130,02/02/2012,2599,Hy-Vee Wine and Spirits / Coralville,1914 8TH STREET,CORALVILLE,52241,"1914 8TH STREET\nCORALVILLE 52241\n(41.682013,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12

In [15]:
y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
12444,49098,S06022700051,06/12/2012,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,520 SO FREMONT\nSHENANDOAH 51601\n,73.0,Page,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,4,$30.00,2.0,0.53,12
17153,67868,S04235900166,02/23/2012,2647,Hy-Vee #7 / Cedar Rapids,5050 EDGEWOOD RD,CEDAR RAPIDS,52411,5050 EDGEWOOD RD\nCEDAR RAPIDS 52411\n(42.0304...,57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
17587,69590,S08633500145,10/29/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,"3800 W LINCOLN WAY\nAMES 50010\n(42.023145, -9...",85.0,Story,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
20181,79760,S04773600001,03/28/2012,3569,Katy Did General Store,419 MERRILL ST,BUSSEY,50044,"419 MERRILL ST\nBUSSEY 50044\n(41.204759, -92....",63.0,Marion,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,24,$180.00,12.0,3.17,12
22934,90506,S09658500044,12/26/2012,4857,Westland Fast Break,1108 W AGENCY RD,WEST BURLINGTON,52655,1108 W AGENCY RD\nWEST BURLINGTON 52655\n(40.8...,29.0,Des Moines,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054233,8088298,S04248500021,02/23/2012,2510,Hy-Vee Drugstore #3 / Cedar Rapids,2405 MT VERNON RD SE,CEDAR RAPIDS,52403,2405 MT VERNON RD SE\nCEDAR RAPIDS 52403\n(41....,57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,12,$90.00,6.0,1.59,12
2060586,8113227,S08979100118,11/15/2012,2512,Hy-Vee Wine and Spirits / Iowa City,1720 WATERFRONT DR,IOWA CITY,52240,1720 WATERFRONT DR\nIOWA CITY 52240\n(41.64277...,52.0,Johnson,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2067231,8139533,S08515100061,10/23/2012,2601,Hy-Vee Food Store / Fairfield,1300 WEST BURLINGTON AVE,FAIRFIELD,52556,1300 WEST BURLINGTON AVE\nFAIRFIELD 52556\n(41...,51.0,Jefferson,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2075964,8173764,S09216900101,11/29/2012,2964,Dahl's / Ankeny,1802 N ANKENY BLVD,ANKENY,50023,"1802 N ANKENY BLVD\nANKENY 50023\n(41.747345, ...",77.0,Polk,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2079725,8188477,S09225000051,11/29/2012,2509,Hy-Vee / Drugtown #1 / Cedar Rapids,1520 6TH ST SW,CEDAR RAPIDS,52404,"1520 6TH ST SW\nCEDAR RAPIDS 52404\n(41.96233,...",57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,2,$15.00,1.0,0.26,12

In [23]:
#Titos Handmade Mini 'State Bottle Cost' is 10.03, 'State Bottle Retail' is $15.05
#A function multiplying retail to # sold needs to be applied for Sale (Dollars)
def titos_sbc(x,y):
    if (pd.isna(x)) & (y == 'Titos Handmade Mini'):
        return '$10.03'
    else:
        return x
def titos_sbr(x,y):
    if (pd.isna(x)) & (y == 'Titos Handmade Mini'):
        return '$15.05'
    else:
        return x
#Pearl Wedding Cake Vodka Mini 'State Bottle Cost' is $5.00, 'State Bottle Retail' is $7.50
#A function multiplying retail to # sold needs to be applied for Sale (Dollars)
def pearl_sbc(x,y):
    if (pd.isna(x)) & (y == 'Pearl Wedding Cake Vodka Mini'):
        return '$5.00'
    else:
        return x
def pearl_sbr(x,y):
    if (pd.isna(x)) & (y == 'Pearl Wedding Cake Vodka Mini'):
        return '$7.50'
    else:
        return x

In [24]:
y12['State Bottle Cost']=list(map(titos_sbc,y12['State Bottle Cost'],y12['Item Description']))
y12['State Bottle Retail']=list(map(titos_sbr,y12['State Bottle Retail'],y12['Item Description']))
y12['State Bottle Cost']=list(map(pearl_sbc,y12['State Bottle Cost'],y12['Item Description']))
y12['State Bottle Retail']=list(map(pearl_sbr,y12['State Bottle Retail'],y12['Item Description']))

In [ ]:
c12['State Bottle Cost']=list(map(lambda x:x[1:],c12['State Bottle Cost']))
c12['State Bottle Retail']=list(map(lambda x:x[1:],c12['State Bottle Retail']))
c12['Sale (Dollars)']=list(map(lambda x:x[1:],c12['Sale (Dollars)']))

In [ ]:
def nansale(x,y,z)
    if (pd.isna(x)):
        return y*z
    else:
        return x

In [ ]:
y12['Sale (Dollars)']=list(map(nansale,y12['Sale (Dollars)'],y12['State Bottle Retail'],y12['Bottles Sold']))

In [25]:
#Ultimately, the final sale will not be used in the regression model because it is at the discretion of the store and does
#not affect material cost.
y12.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [26]:
#Now the other columns will be cleaned
y12['County']=list(map(get_county,y12['County'],y12['Store Number']))
y12['County']=list(map(county,y12['County'],y12['City']))
y12['County Number']=list(map(get_county_number,y12['County Number'],y12['Store Number']))
y12['County Number']=list(map(county_number,y12['County Number'],y12['City']))
y12['Category']=list(map(get_category,y12['Category'],y12['Item Description']))
y12['Category']=list(map(category,y12['Category'],y12['Item Description']))
y12['Category']=list(map(category2,y12['Category'],y12['Item Description']))
y12['Category Name']=list(map(get_category_name,y12['Category Name'],y12['Item Description']))
y12['Category Name']=list(map(category_name,y12['Category Name'],y12['Item Description']))
y12['Category Name']=list(map(category_name2,y12['Category Name'],y12['Item Description']))

NameError: name 'get_county' is not defined

In [ ]:
y12.to_csv('clean_2012.csv')

## Year 2013

In [4]:
y13.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [15]:
y13['County']=list(map(get_county,y13['County'],y13['Store Number']))
y13['County']=list(map(county,y13['County'],y13['City']))
y13['County Number']=list(map(get_county_number,y13['County Number'],y13['Store Number']))
y13['County Number']=list(map(county_number,y13['County Number'],y13['City']))
y13['Category']=list(map(get_category,y13['Category'],y13['Item Description']))
y13['Category']=list(map(category,y13['Category'],y13['Item Description']))
y13['Category']=list(map(category2,y13['Category'],y13['Item Description']))
y13['Category Name']=list(map(get_category_name,y13['Category Name'],y13['Item Description']))
y13['Category Name']=list(map(category_name,y13['Category Name'],y13['Item Description']))
y13['Category Name']=list(map(category_name2,y13['Category Name'],y13['Item Description']))

In [16]:
y13.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [17]:
y13.to_csv('clean_2013.csv')

## Year 2014

In [26]:
y14=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2014.csv')

In [19]:
y14.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [36]:
y14['County']=list(map(get_county,y14['County'],y14['Store Number']))
y14['County']=list(map(county,y14['County'],y14['City']))
y14['County Number']=list(map(get_county_number,y14['County Number'],y14['Store Number']))
y14['County Number']=list(map(county_number,y14['County Number'],y14['City']))
y14['Category']=list(map(get_category,y14['Category'],y14['Item Description']))
y14['Category']=list(map(category,y14['Category'],y14['Item Description']))
y14['Category']=list(map(category2,y14['Category'],y14['Item Description']))
y14['Category Name']=list(map(get_category_name,y14['Category Name'],y14['Item Description']))
y14['Category Name']=list(map(category_name,y14['Category Name'],y14['Item Description']))
y14['Category Name']=list(map(category_name2,y14['Category Name'],y14['Item Description']))

In [37]:
y14.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [38]:
y14.to_csv('clean_2014.csv')

## Year 2015

In [25]:
y15=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2015.csv')

In [40]:
#only 4 columns need cleaning, so only these 4 dictionaries will be applied
y15.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [36]:
y15['County']=list(map(get_county,y15['County'],y15['Store Number']))
y15['County']=list(map(county,y15['County'],y15['City']))
y15['County Number']=list(map(get_county_number,y15['County Number'],y15['Store Number']))
y15['County Number']=list(map(county_number,y15['County Number'],y15['City']))
y15['Category']=list(map(get_category,y15['Category'],y15['Item Description']))
y15['Category']=list(map(category,y15['Category'],y15['Item Description']))
y15['Category']=list(map(category2,y15['Category'],y15['Item Description']))
y15['Category Name']=list(map(get_category_name,y15['Category Name'],y15['Item Description']))
y15['Category Name']=list(map(category_name,y15['Category Name'],y15['Item Description']))
y15['Category Name']=list(map(category_name2,y15['Category Name'],y15['Item Description']))

In [ ]:
y15.isna().sum()

In [ ]:
y15.to_csv('clean_2015.csv')

## Year 2016

In [8]:
y16=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2016.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
#the 8 dictionaries corresponding to the columns with nan values will be applies to y16
y16.isna().sum()

Unnamed: 0                   0
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64

In [48]:
y16[y16['County'].isna()]['City'].unique()

array(['CORALVILLE', 'HAMPTON', 'WESLEY', 'ACKLEY', 'CLARINDA', 'BELMOND',
       'DUNLAP', 'CEDAR RAPIDS', 'SEYMOUR', 'OSCEOLA', 'ALTOONA',
       'EVANSDALE', 'DAVENPORT', 'LARCHWOOD', 'WAVERLY', 'ATLANTIC',
       'NORTH LIBERTY', 'DES MOINES', 'CRESCO', 'DUBUQUE', 'SIOUX CITY',
       'MASON CITY', 'WATERLOO', 'CLINTON', 'ROCKWELL', 'SIGOURNEY',
       'HARLAN', 'AUDUBON', 'TABOR', 'PLEASANTVILLE', 'RUNNELLS',
       'CHARITON', 'ANTHON', 'ANAMOSA', 'FORT DODGE', 'NORWALK',
       'WEST BRANCH', 'IOWA CITY', 'COLUMBUS JUNCTION', 'INDIANOLA',
       'MARSHALLTOWN', 'REINBECK', 'Mason City', 'Des Moines',
       'Cedar Rapids', 'CENTRAL CITY', 'Center Point', 'Ottumwa',
       'Davenport', 'Ackley', 'Pleasantville', 'Wesley', 'Iowa City',
       'Coralville', 'Columbus Junction', 'Dunlap', 'Indianola',
       'Hampton', 'Anamosa', 'Sigourney', 'Tabor', 'Dubuque', 'Harlan',
       'Cresco', 'Fort Dodge', 'Altoona', 'Larchwood', 'Clarinda',
       'Marshalltown', 'Waverly', 'Belmond', 'Central City', 'Runnells',
       'Sioux City', 'Anthon', 'Clinton', 'Waterloo', 'Rockwell',
       'North English', 'Osceola', 'Reinbeck', 'North Liberty', 'Norwalk',
       'Forest City', 'Sac City', 'Evansdale', 'Glenwood', 'Seymour',
       'Mitchellville', 'Audubon', 'Atlantic', 'Manson',
       'West Des Moines', 'Leon', 'Missouri Valley', 'Council Bluffs',
       'Winthrop', 'West Branch', 'Atkins', 'Moravia', 'Cedar Falls',
       'Muscatine', 'Waukee', 'Chariton', 'Albert City', 'Pella',
       'Bettendorf', 'Urbandale', 'Newton', 'Windsor Heights', 'Clarion',
       'Boone', 'Brooklyn', 'Robins', 'Kingsley', 'Story City', 'Spencer',
       'Rock Valley', 'Onawa', 'Vinton', 'DeWitt', 'Webster City',
       'Stanton', 'Lawler', 'Humboldt', 'Arnolds Park', 'Ames',
       'Carter Lake', 'Alburnett', 'Otumwa', nan], dtype=object)

In [ ]:
y16['Address']=list(map(get_address,y16['Address'],y16['Store Number']))
y16['Store Location']=list(map(get_store_location,y16['Store Location'],y16['Store Number']))
y16['Zip Code']=list(map(get_zip,y16['Zip Code'],y16['Store Number']))
y16['City']=list(map(get_city,y16['City'],y16['Store Number']))
y16['County']=list(map(get_county,y16['County'],y16['Store Number']))
y16['County']=list(map(county,y16['County'],y16['City']))
y16['County Number']=list(map(get_county_number,y16['County Number'],y16['Store Number']))
y16['County Number']=list(map(county_number,y16['County Number'],y16['City']))
y16['Category']=list(map(get_category,y16['Category'],y16['Item Description']))
y16['Category']=list(map(category,y16['Category'],y16['Item Description']))
y16['Category']=list(map(category2,y16['Category'],y16['Item Description']))
y16['Category Name']=list(map(get_category_name,y16['Category Name'],y16['Item Description']))
y16['Category Name']=list(map(category_name,y16['Category Name'],y16['Item Description']))
y16['Category Name']=list(map(category_name2,y16['Category Name'],y16['Item Description']))

In [ ]:
y16.isna().sum()

In [ ]:
y16.to_csv('clean_2016.csv')

## Year 2017

In [61]:
y17.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     1
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [ ]:
y17['Address']=list(map(get_address,y17['Address'],y17['Store Number']))
y17['Store Location']=list(map(get_store_location,y17['Store Location'],y17['Store Number']))
y17['Zip Code']=list(map(get_zip,y17['Zip Code'],y17['Store Number']))
y17['City']=list(map(get_city,y17['City'],y17['Store Number']))
y17['County']=list(map(get_county,y17['County'],y17['Store Number']))
y17['County']=list(map(county,y17['County'],y17['City']))
y17['County Number']=list(map(get_county_number,y17['County Number'],y17['Store Number']))
y17['County Number']=list(map(county_number,y17['County Number'],y17['City']))
y17['Category']=list(map(get_category,y17['Category'],y17['Item Description']))
y17['Category']=list(map(category,y17['Category'],y17['Item Description']))
y17['Category']=list(map(category2,y17['Category'],y17['Item Description']))
y17['Category Name']=list(map(get_category_name,y17['Category Name'],y17['Item Description']))
y17['Category Name']=list(map(category_name,y17['Category Name'],y17['Item Description']))
y17['Category Name']=list(map(category_name2,y17['Category Name'],y17['Item Description']))

In [ ]:
y17.isna().sum()

In [ ]:
y17[y17['Address'].isna()]['Store Number'],
y17[y17['Store Number']==9932]['Store Location']
sall[sall['Store Number']==9932]['Address'].values[0]

In [9]:
#Address column will be dropped later so nan is inconsequential,
#the row would be dropped later anyways as the store is in Dubuque, not Des Moines
y17[y17['Store Number']==9932]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
1050009,11757989,INV-05674000001,06/22/2017,9932,"3-Oaks Distillery, LLC",NaN,Dubuque,52002.0,"Dubuque 52002\n(42.516027, -90.766335)",31.0,DUBUQUE,1011100.0,Blended Whiskies,215.0,"3-Oaks Distillery, LLC",27890,3-Oaks Distillery Whiskey,12,750,$21.60,$32.40,1,$388.80,0.75,0.19,17

In [ ]:
y17.to_csv('clean_2017.csv')