In [1]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime

pd.set_option('display.max_columns',30)

In [2]:
y12=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2012.csv')
y13=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2013.csv')
y14=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2014.csv')
y15=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2015.csv')
y16=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2016.csv')
y17=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2017.csv')

In [44]:
#dummy dataframe to test functions
ytest17=y17

# Setting Up Dictionaries in each column with Na values to Use in Functions to Clean Data

### Address

In [ ]:
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
sall=sall[sall['Address'].notna()]
sall.drop_duplicates(subset=['Store Number'],inplace=True)
sall.to_csv('storenumaddress.csv')

In [40]:
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]

In [354]:
salldict.to_csv('allstoredict.csv')

AttributeError: 'dict' object has no attribute 'to_json'

In [47]:
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

In [241]:
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

### Store Location

In [181]:
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
slall.to_csv('storenumlocation.csv')

In [184]:
len(slall)

1884

In [185]:
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]

In [186]:
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x

In [196]:
ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))

### Zip Code

In [129]:
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
zipna.to_csv('storenumzip.csv')

In [132]:
len(zipna)

1884

In [133]:
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]

In [134]:
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x

In [ ]:
ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))

### County

In [136]:
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
countyna.to_csv('storenumcounty.csv')

In [139]:
len(countyna)

1883

In [465]:
ytest17[ytest17['City']=='Mason City']['County'].unique()

array(['CERRO GORD'], dtype=object)

In [466]:
len(ytest17[ytest17['County']=='CERRO GORD'])

27745

In [140]:
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [141]:
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x

In [ ]:
ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))

### County Number

In [150]:
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna.to_csv('storenumcountynum.csv')

In [153]:
len(countynumna)

1883

In [154]:
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]

In [155]:
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x

In [ ]:
ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))

### City

In [157]:
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna.to_csv('storenumcity.csv')

In [160]:
len(cityna)

1884

In [161]:
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]

In [162]:
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x

In [ ]:
ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))

### Category

In [328]:
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catna.to_csv('idcategory.csv')

In [332]:
len(catna)

5795

In [333]:
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]

In [334]:
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x

In [335]:
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

In [336]:
ytest17['Category'].isna().sum()

827

In [337]:
ytest17[ytest17['Category'].isna()]['Item Description'].unique()

array(["Galliano L'Autentico", 'Bains Cape Mountain Whiskey',
       'Don Pancho Origenes 8YR Rum', 'Barbados Rum 100ml',
       'Barbados Rum 1 Liter', 'Barbados Rum 200 ml',
       'Barbados Rum 375ml', 'Barbados Rum 50ml', 'Barbados Rum 750ml',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Deep Eddy  Lemon Vodka', 'Diplomatico Reserva Exclusiva',
       'Grand Teton Vodka', '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Valentine Vodka', 'Ansac VS  Cognac',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Patron Citronge Mango', 'Lairds Old Apple Brandy 7YR',
       'Green Absinthe', 'Red Absinthe', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Orphan Barrel Barterhouse', 'HA Orphan Barrel Forged Oak',
       'Rothman & Winter Orchard Peach',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'HA Pikesville Rye 110prf',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Old Forester 1920', 'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       "Aberlour A''bunadh", 'El Mayor Extra Anejo 100% Agave',
       'Ezra Brooks Bourbon Cream Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Hornitos Reposado w/Glasses',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'],
      dtype=object)

### Category Name

In [250]:
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena.to_csv('idcategoryname.csv')

In [253]:
len(catnamena)

5758

In [254]:
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]

In [255]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x

In [287]:
ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))

In [249]:
ytest17.isna().sum()

AttributeError: 'list' object has no attribute 'isna'

### Vendor Name

In [268]:
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna.to_csv('storenumvendorname.csv')

In [271]:
len(vennumna)

5865

In [272]:
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]

In [273]:
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x

In [274]:
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))

### Vendor Number

In [257]:
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)
vennum.to_csv('storenumvendornumber.csv')

In [260]:
len(vennum)

5863

In [261]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]

In [262]:
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

# Combining all functions and dictionaries

In [185]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [47]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

# For exceptions with Nan Values where the dictionary method did not work, functions are made to manually replace Nan values

In [200]:
ytest17[ytest17['Vendor Number'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [201]:
ytest17[ytest17['Vendor Name'].isna()]['Item Description'].unique()

array(['Laphroaig Quarter Cask'], dtype=object)

In [213]:
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Name'].unique()

array([nan, 'Jim Beam Brands'], dtype=object)

In [212]:
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']['Vendor Number'].unique()

array([nan, 65.])

In [ ]:
def vendor_name(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return 'Jim Beam Brands'
    else:
        return x

def vendor_number(x,y):
    if (pd.isna(x)) and (y=='Laphroaig Quarter Cask'):
        return '65.'
    else:
        return x

In [211]:
#checking results of manual replacement
ytest17[ytest17['Item Description']=='Laphroaig Quarter Cask']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
462689,11170669,INV-03923100001,03/22/2017,2556,Hy-Vee Wine and Spirits / Estherville,2608 E. Central Avenue\nEstherville 51334\n,Estherville,51334.0,2608 E. Central Avenue\nEstherville 51334\n,32.0,EMMET,1012200.0,Scotch Whiskies,NaN,NaN,905433,Laphroaig Quarter Cask,6,750,$4.17,$47.24,1,$283.44,0.75,0.19,17
1495748,12203728,INV-06985200114,08/30/2017,2614,Hy-Vee #3 Food and Drugstore,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,Davenport,52807.0,1823 E Kimberly Rd\nDavenport 52807\n(41.55678...,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1532764,12240744,INV-07086700037,09/06/2017,2625,Hy-Vee Wine and Spirits #2,3301 W Kimberly Rd\nDavenport 52804\n,Davenport,52804.0,3301 W Kimberly Rd\nDavenport 52804\n,82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1533550,12241530,INV-07088500003,09/06/2017,5003,Famous Liquors,"2604 W Locust St\nDavenport 52804\n(41.538186,...",Davenport,52804.0,"2604 W Locust St\nDavenport 52804\n(41.538186,...",82.0,SCOTT,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1578417,12286397,INV-07219300028,09/13/2017,4129,Cyclone Liquors,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",Ames,50010.0,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1620576,12328556,INV-07348800002,09/20/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1663941,12371921,INV-07485100010,09/27/2017,2501,Hy-Vee #2 / Ames,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",Ames,50010.0,"640 Lincolnway\nAmes 50010\n(42.022848, -93.61...",85.0,STORY,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$283.44,0.75,0.19,17
1705681,12413661,INV-07650100011,10/04/2017,2233,Forbes Liquor Locker / remi,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,Spirit Lake,51360.0,2508 Enterprise Ave\nSpirit Lake 51360\n(43.41...,30.0,DICKINSON,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,1,$47.24,0.75,0.19,17
1767730,12475710,INV-07946500008,10/12/2017,2535,Hy-Vee Food Store #1 / WDM,1700 Valley West Dr\nWest Des Moines 50265\n,West Des Moines,50265.0,1700 Valley West Dr\nWest Des Moines 50265\n,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17
1790130,12498110,INV-08049400116,10/17/2017,2619,Hy-Vee Wine and Spirits / WDM,1725 74th St\nWest Des Moines 50266\n(41.59851...,West Des Moines,50266.0,1725 74th St\nWest Des Moines 50266\n(41.59851...,77.0,POLK,1012200.0,Scotch Whiskies,65.0,Jim Beam Brands,5433,Laphroaig Quarter Cask,6,750,$31.49,$47.24,2,$47.24,1.50,0.39,17

In [286]:
catnamena[catnamena['Item Description']=='Barbados Rum']['Category Name'].unique()

array([], dtype=object)

In [358]:
catnamena[catnamena['Item Description'].str.contains('thena')]['Item Description'].unique()

array([], dtype=object)

In [303]:
y17[y17['Category Name'].notna() & y17['Category Name'].str.contains('Rum')]['Category Name'].unique()

array(['White Rum', 'Spiced Rum', 'Gold Rum', 'Flavored Rum',
       'Aged Dark Rum'], dtype=object)

In [307]:
y17[(y17['Category Name']=='White Rum') | (y17['Category Name']=='Spiced Rum') | (y17['Category Name']=='Gold Rum') | (y17['Category Name']=='Flavored Rum') | (y17['Category Name']=='Aged Dark Rum')]['Item Description'].unique()

array(['Barton Rum Light', 'Captain Morgan Spiced Rum',
       'Bacardi Superior Rum', 'Bacardi Oakheart',
       'Appleton Signature Blend', 'Sailor Jerry Spiced Navy Rum',
       'Paramount White Rum', 'Malibu Coconut Rum',
       'Bacardi Gold Rum Mini', 'Captain Morgan Silver Spiced Rum',
       'Captain Morgan Spiced Rum Pet', 'Captain Morgan Spiced Rum Mini',
       'Captain Morgan Original Spiced', 'Blue Chair Bay Coconut',
       'Bacardi Limon', 'Bacardi Mango',
       'Captain Morgan Parrot Bay Pineapple', 'Bacardi Dragon Berry',
       'Bacardi Pineapple', 'Bacardi Gold Rum',
       'Captain Morgan Cannon Blast', 'Admiral Nelson Spiced Rum',
       'Captain Morgan Black Spiced',
       'Captain Morgan Original Spiced Rum Pet', 'Captain Morgan White',
       'Cruzan Dark Rum', 'Rondiaz Rum White', 'Malibu Coconut Rum Mini',
       'Malibu Pineapple Rum', 'Bacardi Superior Rum Mini',
       'Captain Morgan 100 Proof Spiced Rum', 'Captain Morgan Pineapple',
       'Malibu Pineapple Upside Down Cake',
       'Captain Morgan Spiced Barrel',
       'Captain Morgan Parrot Bay Coconut', 'Bacardi Superior PET',
       'Lady Bligh Spiced Rum', 'Bacardi Superior Rum Pet',
       'Admiral Nelson Cherry Spiced Rum', 'Phillips White Rum',
       'Cruzan Mango Rum', 'Paramount Gold Rum',
       'Malibu Passion Fruit Rum', 'Malibu Black', 'Bacardi Black',
       'Captain Morgan Private Stock', 'Kraken Black Spiced Rum',
       'Admiral Nelson Spiced Rum Mini', 'Hawkeye Light Rum',
       "Myers's Rum Original Dark", 'Admiral Nelson Spiced Rum Traveler',
       'Ronrico Silver Label Rum (pr)', 'Rondiaz Rum Spiced',
       'Kraken Black Spiced 70prf', 'Kraken Black Spiced Rum 70prf',
       'Blackheart Premium Spiced Rum', 'Calico Jack Spiced',
       'Admiral Nelson Coconut Rum', 'Cruzan Black Cherry Rum',
       'Paramount Gold Rum Traveler', 'Captain Morgan Cannon Blast Mini',
       'Bacardi Grapefruit', 'Mt. Gay Eclipse Rum', 'Bacardi O',
       'Captain Morgan White Mini', 'Castillo Silver Rum',
       'Rondiaz Rum Spiced Black Cherry', "Gosling's Black Seal",
       'Admiral Nelson Spiced 101', 'Captain Morgan 1671',
       'Cruzan Coconut Rum', 'Paramount White Rum Traveler',
       'Don Q Cristal Rum', 'Cruzan 151', 'Cruzan Vanilla Rum',
       'Paradise Island Bay', 'Captain Morgan Parrot Bay Passion Fruit',
       'Captain Morgan Lime Bite', 'Bacardi 8 Rum', 'Zaya Guatemalan Rum',
       'Cruzan Raspberry Rum', 'Cruzan Strawberry Rum',
       'Paradise Distilling Raspberry Bay Liqueur', 'Malibu Island Melon',
       'Captain Morgan White PET', 'Captain Morgan Coconut',
       'Paradise Distilling Coconut Bay Liqueur', 'Malibu Mango Rum',
       'Bacardi Raspberry', 'Bacardi Torched Cherry',
       'Cedar Ridge Dark Rum', 'Cedar Ridge Lost Pirate Port Finish Rum',
       'Ron Zacapa 23 Year', 'Mt. Gay Black Barrel',
       'Blue Chair Bay Banana', 'Blue Chair Bay Coconut Spiced',
       'Bacardi Gran Reserva Maestro',
       'Trader Vics Private Selection Spiced Rum', "Five O'clock",
       'Calico Jack Cherry', 'Captain Morgan Parrot Bay Orange',
       'Captain Morgan Parrot Bay Mango', 'Bacardi Gold Rum Pet',
       'Captain Morgan Grapefruit', 'Cruzan Light Rum',
       'Blue Chair Bay White', 'Havana Club Anejo Clasico Mini',
       'Havana Club Anejo Blanco Mini', 'Captain Morgan Pineapple Mini',
       'Havana Club Anejo Blanco', 'Calico Jack', 'Rondiaz Mini',
       'Captain Morgan Parrot Bay Key Lime',
       'Captain Morgan Parrot Bay Strawberry',
       'Cruzan Blueberry Lemonade', 'Admiral Nelson Black Patch',
       'Admiral Nelson Black Patch Mini', 'Malibu Red',
       'Bacardi Gold Rum PET', 'Captain Morgan Private Stock Rum',
       'Clearheart Rum', 'Castillo Spiced Rum',
       'Havana Club Anejo Clasico', 'Steel Drum', 'Bacardi Tangerine',
       "British Navy Pusser's Rum", 'Cane Rune White Rum Mini',
       'Cane Run White Rum', 'Havana Judge Spiced Rum',
       'Kraken Black Mini', 'Flor De Cana White', 'Artisan Grain Silver',
       'Paradise White Sand', 'Paradise Distilling Mango Bay Liqueur',
       'Bayou Spiced Rum', 'Cachaca 51', 'Artisan Grain Gold Rum',
       'Captain Morgan Loconut Mini', 'Captain Morgan Loconut',
       "Caribbean's Finest Rum Caramel", "Caribbean's Finest Rum Coconut",
       "Caribbean's Finest Rum Ginger",
       "Caribbean's Finest Rum Gran Reserva",
       "Caribbean's Finest Rum Orange",
       "Caribbean's Finest Rum Pineapple", 'Brugal Especial Extra Dry',
       'El Dorado Special Reserve 12YR', 'Don Q 151',
       'Paradise Caribbean Mist', 'Breckenridge Spiced Rum',
       'Goslings Gold Seal', 'Kirk & Sweeney 12YR Old Anejo',
       'Bayou Satsuma Rum Liqueur', 'Ron Barcelo Gran Anejo',
       'Vizcaya Black Rum',
       "Sammy's Beach Bar Rum Red Head (Macadamia Nut)",
       'Barton Gold Rum 1.75', 'Bayou Silver White Rum',
       'Cruzan Light Mini', 'Koloa Hawaiian Kauai Coffee Rum',
       'Cruzan Citrus', 'Bacardi Banana Mini', 'Bacardi Oakheart Mini',
       'Don Q Limon', "Pusser's Gunpowder Proof Rum",
       'El Dorado 15 Year Old Special Reserve Rum', 'Bacardi Banana',
       'Bacardi Classic Cocktail Rum Punch', 'Cruzan Passion Fruit',
       'Rondiaz DSS Lemon Rum', 'Blue Chair Bay Vanilla Rum',
       "Caribbean's Finest Rum Grapefruit", 'Sugar Island Rum Coconut',
       'Cruzan Tropical Fruit', 'Rondiaz Rum Dark',
       'Beach Bonfire Cinnamon Whiskey', 'Beach Island Coconut Whiskey',
       'Malibu w/Dole Pineapple Juice',
       'Starr Oak Aged 7 year African Rum', 'J Wray Silver',
       "Holstein Single Barrel Sippin' Rum", 'Prichards Peach Mango Rum',
       'Malibu 1.75L w/Pineapple VAP Giant Tray Pack',
       'Cruzan Black Cherry', 'La Hechicera Aged Rum', 'Rogue Dark Rum',
       'Kirkland Signature Original Spiced Rum', 'Flor De Cana Gold',
       'Admiral Nelson Pineapple Rum', 'Caliber Spiced Rum',
       'Caliber Silver Rum', 'Holy Hell',
       'Blue Chair Bay Coconut Spiced Rum Cream', 'JM VSOP',
       'Novo Fogo Silver Cachaa', 'Flor De Cana 12yr Centenario',
       'Admiral Nelson Pineapple', 'RumHaven', 'Admiral Nelson Vanilla',
       'Admiral Nelson  101 Mini', 'Members Mark Silver Rum Tray Pack',
       'Ron Abuelo Anejo', 'Cruzan Blackstrap', 'Clement VSOP Aged Rum',
       'Sailor Jerry Game Day VAP', 'Captain Morgan Jack-O Blast Mini',
       'Papas Pilar Dark Rum',
       'Captain Morgan 1.75L Retail Ready 3pk Shipper',
       'Tattersall Distilling Blackstrap Rum', 'Commanders Spiced Rum',
       'Commanders Silver Aged 1YR', 'Papas Pilar Blonde Rum', 'Cruzan 9',
       'Bumbu Rum', 'El Dorado 8YR', 'Ron Barcelo Imperial',
       'Lemon Hart 1804 Original', 'Lemon Hart 151'], dtype=object)

In [379]:
y17[y17['Item Description'].str.contains('Patron Guillermo Del Toro Extra Anejo & Orange')]['Category Name'].unique()

array(['100% Agave Tequila'], dtype=object)

In [446]:
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo')]['Item Description'].unique()

array(['El Mayor Extra Anejo', 'El Mayor Extra Anejo 100% Agave HA'],
      dtype=object)

In [448]:
catnamena[catnamena['Item Description'].str.contains('El Mayor Extra Anejo 100% Agave HA')]['Category Name'].unique()

array(['TEQUILA'], dtype=object)

In [439]:
catna[catna['Item Description'].str.contains('Michter')]['Category'].unique()

array([1011200., 1901200., 1011600., 1011500.])

In [449]:
y17[y17['Category Name']=='TEQUILA']['Category'].unique()

array([1022100.])

## Compiling results of manual search and replacement of nan values

In [454]:
def category_name2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='Spanish Single Malt 100ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 1 Liter'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 375ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 50ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 750ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Spanish Single Malt 200ml'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='Deep Eddy  Lemon Vodka'):
            return 'VODKA FLAVORED'
        elif (y=='"Beefeater ""24"""'):
            return 'IMPORTED DRY GINS'
        elif (y=='Ansac VS  Cognac'):
            return 'Imported Brandies'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return 'Imported Cordials & Liqueur'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Patron Citronge Mango'):
            return '100% Agave Tequila'
        elif (y=='Deanston Organic 14YR'):
            return 'SINGLE MALT SCOTCH'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return 'STRAIGHT BOURBON WHISKIES'
        elif (y=='Rothman & Winter Orchard Peach'):
            return 'MISC. IMPORTED CORDIALS & LIQUEURS'
        elif (y=='HA Pikesville Rye 110prf'):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return 'SCOTCH WHISKIES'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return 'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=="Aberlour A''bunadh"):
            return 'SINGLE MALT SCOTCH'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return 'TEQUILA'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return 'Temporary & Specialty Packages'
        elif (y=="Michter's US*1 SB Rye"):
            return 'STRAIGHT RYE WHISKIES'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Plata w/Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Hornitos Reposado w/Glasses'):
            return   'DECANTERS & SPECIALTY PACKAGES'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return  'DECANTERS & SPECIALTY PACKAGES'
        else:
            return x
    else:
        return x
              

def category2(x,y):
    if (pd.isna(x)):
        if (y=="Galliano L'Autentico"):
            return '1082900.'
        elif (y=='Spanish Single Malt 100ml'):
            return '1012210.'
        elif (y=='Spanish Single Malt 1 Liter'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 375ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 50ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 750ml'):
            return  '1012210.'
        elif (y=='Spanish Single Malt 200ml'):
            return  '1012210.'
        elif (y=='Deep Eddy Lemon Vodka'):
            return '1031200.'
        elif (y=='"Beefeater ""24"""'):
            return '1042100.'
        elif (y=='Ansac VS  Cognac'):
            return '1052100.'
        elif (y=='Aalborg Jubilaeums Aquavit'):
            return '1082100.'
        elif (y=='Patron Silver 750 Box Tray Pack'):
            return  '1701100.'
        elif (y=='Patron Citronge Mango'):
            return '1022200.'
        elif (y=='Deanston Organic 14YR'):
            return '1012210.'
        elif (y=='HA Orphan Barrel Barterhouse'):
            return '1011200.'
        elif (y=='HA Orphan Barrel Forged Oak'):
            return '1011200.'
        elif (y=='Rothman & Winter Orchard Peach'):
            return '1082900.'
        elif (y=='HA Pikesville Rye 110prf'):
            return '1011500.'
        elif (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
            return '1012200.'
        elif (y=='Jose Cuervo Especial Silver/Flask'):
            return '1701100.'
        elif (y=='Jose Cuervo Especial Gold /Flask'):
            return '1701100.'
        elif (y=="Aberlour A''bunadh"):
            return '1012210.'
        elif (y=='El Mayor Extra Anejo 100% Agave'):
            return '1022100.'
        elif (y=='Ezra Brooks Bourbon Cream Mini'):
            return '1701100.'
        elif (y=="Michter's US*1 SB Rye"):
            return '1011500.'
        elif (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
            return '1701100.'
        elif (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
            return  '1701100.'
        elif (y=='Corralejo Silver w/2 Sangrita Glasses'):
            return '1701100.'
        elif (y=='Southern Comfort w/2 Rock Glasses'):
            return '1701100.'
        elif (y=='Crystal Head Vodka w/2 Skull Glasses'):
            return '1701100.'
        elif (y=='Hornitos Plata w/Glasses'):
            return '1701100.'
        elif (y=='Hornitos Reposado w/Glasses'):
            return  '1701100.'
        elif (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
            return '1701100.'
        else:
            return x
    else:
        return x

In [456]:
# testing results of manual replacements
ytest17['Category']=list(map(category2,ytest17['Category'],ytest17['Item Description']))

In [457]:
ytest17['Category Name']=list(map(category_name2,ytest17['Category Name'],ytest17['Item Description']))

In [458]:
# much much better
ytest17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 128
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [320]:
ytest17[ytest17['Category']=='Bains Cape Mountain Whiskey']['Category Name'].unique()

array([], dtype=object)

In [ ]:
############################################################################################################################

# BELOW IS ALL SCRATCH WORK LEADING UP TO THE ABOVE RESULTS

In [ ]:
############################################################################################################################

# Creating dictionary functions to address year '15-'17 nans

In [61]:
y17.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     1
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [65]:
all_na_city=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])

In [78]:
all_na_city=all_na_city[all_na_city['City'].notna()]

In [79]:
all_na_city.drop_duplicates(subset=['Store Number'],inplace=True)

In [90]:
all_na_city.to_csv('storenumcity.csv')

In [66]:
all_na_zip=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])

In [77]:
all_na_zip=all_na_zip[all_na_zip['Zip Code'].notna()]

In [80]:
all_na_zip.drop_duplicates(subset=['Store Number'],inplace=True)

In [91]:
all_na_zip.to_csv('storenumzip.csv')

In [67]:
all_na_storeloc=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])

In [81]:
all_na_storeloc=all_na_storeloc[all_na_storeloc['Store Location'].notna()]

In [87]:
all_na_storeloc.drop_duplicates(subset=['Store Number'],inplace=True)

In [88]:
all_na_storeloc

        Store Number                                     Store Location
35              4312  2411 S 24TH ST #1\nCouncil Bluffs 51501\n(41.2...
117             5244  708 2nd AVE SE\nCresco 52136\n(43.371131, -92....
164             4829  1501 Michigan Ave\nDes Moines 50314\n(41.60572...
184             4361  4575 NW 2nd\nDes Moines 50313\n(41.643664, -93...
195             2478         One Prairie Meadows Drive\nAltoona 50009\n
...              ...                                                ...
37582           3832  211 MAIN ST\nALVORD 51230\n(43.344357, -96.301...
44455           2260  509 FIRST AVE\nPERRY 50220\n(41.83226, -94.106...
140583          4226  21 W MAIN ST\nWAUKON 52172\n(43.269279, -91.47...
142813          4830  7600, UNIVERSITY AVE\nCLIVE 50325\n(41.600394,...
143579          4314  304 4TH ST\nFONTANELLE 50846\n(41.289877, -94....

[1884 rows x 2 columns]

In [92]:
all_na_storeloc.to_csv('storenumlocation.csv')

In [89]:
all_na_storeloc[all_na_storeloc['Store Number']==9932]['Store Location']

1050009    Dubuque 52002\n(42.516027, -90.766335)
Name: Store Location, dtype: object

In [68]:
all_na_countynum=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])

In [75]:
all_na_countynum=all_na_countynum[all_na_countynum['County Number'].notna()]

In [82]:
all_na_countynum.drop_duplicates(subset=['Store Number'],inplace=True)

In [85]:
all_na_countynum

        Store Number  County Number
35              4312           78.0
117             5244           45.0
164             4829           77.0
184             4361           77.0
195             2478           77.0
...              ...            ...
37582           3832           60.0
44455           2260           25.0
140583          4226            3.0
142813          4830           77.0
143579          4314            1.0

[1883 rows x 2 columns]

In [93]:
all_na_countynum.to_csv('storenumcountynum.csv')

In [64]:
all_na_county=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])

In [73]:
all_na_county=all_na_county[all_na_county['County'].notna()]

In [83]:
all_na_county.drop_duplicates(subset=['Store Number'],inplace=True)

<ipython-input-83-32a0e3051c40>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  all_na_county.drop_duplicates(subset=['Store Number'],inplace=True)

In [94]:
all_na_county.to_csv('storenumcounty.csv')

In [84]:
all_na_county

        Store Number      County
35              4312  POTTAWATTA
117             5244      HOWARD
164             4829        POLK
184             4361        POLK
195             2478        POLK
...              ...         ...
37582           3832        Lyon
44455           2260      Dallas
140583          4226   Allamakee
142813          4830        Polk
143579          4314       Adair

[1883 rows x 2 columns]

In [74]:
all_na_county.isna().sum()

Store Number    0
County          0
dtype: int64

In [36]:
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])

In [37]:
sall=sall[sall['Address'].notna()]

In [25]:
sall

         Store Number                      Address
35               4312            2411 S 24TH ST #1
36               4312            2411 S 24TH ST #1
37               4312            2411 S 24TH ST #1
38               4312            2411 S 24TH ST #1
39               4312            2411 S 24TH ST #1
...               ...                          ...
2082054          4386             613 N. 3RD AVE N
2082055          2806                1307 N SECOND
2082056          2510         2405 MT VERNON RD SE
2082057          2500           3800 W LINCOLN WAY
2082058          3842  107 N PORTLAND ST PO BX 222

[12588701 rows x 2 columns]

In [26]:
sall.isna().sum()

Store Number    0
Address         0
dtype: int64

In [38]:
sall.drop_duplicates(subset=['Store Number'],inplace=True)

In [39]:
sall

        Store Number                    Address
35              4312          2411 S 24TH ST #1
117             5244           708 2nd  AVE  SE
164             4829          1501 Michigan Ave
184             4361                4575 NW 2nd
195             2478  One Prairie Meadows Drive
...              ...                        ...
37582           3832                211 MAIN ST
44455           2260              509 FIRST AVE
140583          4226               21 W MAIN ST
142813          4830       7600, UNIVERSITY AVE
143579          4314                304  4TH ST

[1883 rows x 2 columns]

In [29]:
sall.to_csv('store_num_and_address.csv')

In [34]:
sall[sall['Store Number']==4226]['Address'].values[0]

'21 W MAIN ST'

In [40]:
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]

In [43]:
len(salldict)

1883

In [47]:
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

# Cleaning Year 2013

In [27]:
y13=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2013.csv')

In [4]:
y13.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [5]:
y13[y13['County'].isna()]['City'].unique()

array(['GUTTENBERG', 'BELMOND'], dtype=object)

In [6]:
y13[y13['County Number'].isna()]['City'].unique()

array(['GUTTENBERG', 'BELMOND'], dtype=object)

In [7]:
y13[y13['Category'].isna()]['Item Description'].unique()

array(['Evan Williams Egg Nog', 'Wild Turkey American Honey Shot Tap',
       'Gentleman Jack w/2 Glasses', 'Caravella Limoncello w/Glass'],
      dtype=object)

In [8]:
y13[y13['Category Name'].isna()]['Item Description'].unique()

array(['Herradura Gold Reposado 6pak', 'Evan Williams Egg Nog',
       'Wild Turkey American Honey Shot Tap',
       'Gentleman Jack w/2 Glasses', 'Herradura Anejo Tequila',
       'Ultimat Vodka', 'Rogue Dark Rum', 'Craigellachie',
       "Whaler's Original Dark Rum", 'Caravella Limoncello w/Glass'],
      dtype=object)

In [9]:
y13[y13['Item Description']=='Craigellachie']['Category'].unique()

array([1012200.,  101220.])

In [13]:
y13[y13['Category']==1012200]['Category Name'].unique()

array(['SCOTCH WHISKIES'], dtype=object)

In [15]:
y13['County']=list(map(county_name,y13['County'],y13['City']))
y13['County Number']=list(map(county_name,y13['County Number'],y13['City']))
y13['Category Name']=list(map(category_name,y13['Category Name'],y13['Item Description']))
y13['Category']=list(map(category,y13['Category'],y13['Item Description']))

In [16]:
y13.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [17]:
y13.to_csv('clean_2013.csv')

# Cleaning Year 2014

In [26]:
y14=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2014.csv')

In [19]:
y14.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [21]:
y14[y14['County'].isna()]['City'].unique()

array(['BELMOND'], dtype=object)

In [23]:
y14[y14['Category'].isna()]['Item Description'].unique()

array(['Gentleman Jack w/2 Glasses', 'Evan Williams Egg Nog',
       'Caravella Limoncello w/Glass', 'Pinnacle Candy Cane Trial Pack',
       'Chambord Liqueur w/2 Glasses', 'Glenfiddich 1963 Replica HA',
       'Wild Turkey American Honey Shot Tap', 'Dry Fly Gin',
       "Galliano L'Autentico", "Carolan's Irish Cream w/2 Bowls",
       '1800 Reposado'], dtype=object)

In [22]:
y14[y14['Category Name'].isna()]['Item Description'].unique()

array(['Gentleman Jack w/2 Glasses', 'Herradura Gold Reposado 6pak',
       'Evan Williams Egg Nog', 'Caravella Limoncello w/Glass',
       'Pinnacle Candy Cane Trial Pack', 'Chambord Liqueur w/2 Glasses',
       'Glenfiddich 1963 Replica HA', 'Ardbeg Auriverdes HA',
       'Wild Turkey American Honey Shot Tap', 'Dry Fly Gin',
       "Galliano L'Autentico", "Carolan's Irish Cream w/2 Bowls",
       'Ultimat Vodka', '1800 Reposado', 'Grand Marnier Cuvee 1880 HA',
       "Whaler's Original Dark Rum", 'Courvoisier Gold', 'Craigellachie'],
      dtype=object)

In [9]:
y13[y13['Item Description']=='Craigellachie']['Category'].unique()

array([1012200.,  101220.])

In [24]:
y13[y13['Item Description']=='Craigellachie']['Category Name'].unique()

array(['SCOTCH WHISKIES'], dtype=object)

In [27]:
y13[y13['Item Description']=='Pinnacle Candy Cane Trial Pack']['Category'].unique()

array([], dtype=object)

In [28]:
y13[y13['Item Description']=='Pinnacle Candy Cane Trial Pack']['Category Name'].unique()

array([], dtype=object)

In [451]:
def county_name(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return 'Clayton'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return 'Wright'
    else:
        return x
    
def county_number(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return '22.'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return '99.'
    else:
        return x

    
def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    else:
        return x
    
def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    else:
        return x

In [36]:
y14['County']=list(map(county_name,y14['County'],y14['City']))
y14['County Number']=list(map(county_name,y14['County Number'],y14['City']))
y14['Category Name']=list(map(category_name,y14['Category Name'],y14['Item Description']))
y14['Category']=list(map(category,y14['Category'],y14['Item Description']))

In [37]:
y14.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [38]:
y14.to_csv('clean_2014.csv')

# Cleaning Year 2015

In [25]:
y15=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2015.csv')

In [40]:
y15.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [42]:
y15[y15['County'].isna()]['City'].unique()

array(['BELMOND'], dtype=object)

In [43]:
y15[y15['County Number'].isna()]['City'].unique()

array(['BELMOND'], dtype=object)

In [44]:
y15[y15['Category'].isna()]['Item Description'].unique()

array(['Templeton Rye w/Flask',
       'Disaronno Amaretto Cavalli Mignon 3-50ml Pack',
       'Knob Creek w/ Crystal Decanter', 'Pinnacle Candy Cane Trial Pack',
       'Gentleman Jack w/2 Glasses', 'Evan Williams Egg Nog',
       'Crystal Head Aurora Vodka', 'Wild Turkey American Honey Shot Tap',
       'Woodford Reserve MC 1838 White Corn',
       'Grey Goose w/2 Martini Glasses', 'Bombay Sapphire w/Glass',
       'Glenfiddich 1963 Replica HA',
       'Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls',
       'Southern Comfort w/Shot Glass & Lanyard',
       'Chambord Liqueur w/2 Glasses',
       'Parkers Heritage Collection Malt Whiskey HA',
       'Rothman & Winter Orchard Peach', 'Chivas Regal 18YR Tin HA',
       '1800 Reposado', 'Letherbee Gin'], dtype=object)

In [45]:
y15[y15['Category Name'].isna()]['Item Description'].unique()

array(['Templeton Rye w/Flask',
       'Disaronno Amaretto Cavalli Mignon 3-50ml Pack',
       'Knob Creek w/ Crystal Decanter', 'Pinnacle Candy Cane Trial Pack',
       'Gentleman Jack w/2 Glasses', 'Herradura Gold Reposado 6pak',
       'Evan Williams Egg Nog', 'Ciroc Ten HA',
       'Crystal Head Aurora Vodka', 'Wild Turkey American Honey Shot Tap',
       'Woodford Reserve MC 1838 White Corn', 'Gamle Ode Holiday',
       'Grey Goose w/2 Martini Glasses', 'Bombay Sapphire w/Glass',
       'Glenfiddich 1963 Replica HA',
       'Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls',
       "Whaler's Original Dark Rum",
       'Southern Comfort w/Shot Glass & Lanyard',
       'Three Olives Cake Flavored Vodka', 'Chambord Liqueur w/2 Glasses',
       'Parkers Heritage Collection Malt Whiskey HA',
       'Rothman & Winter Orchard Peach', 'Chivas Regal 18YR Tin HA',
       'Yeni Raki', 'Ultimat Vodka', 'Bacardi Oakheart',
       'Cruzan Passion Fruit', '1800 Reposado', 'Letherbee Gin',
       'Pearl Caramel', 'The Bitter Truth Pimento Dram',
       'Van Gogh Chocolate Vodka', 'Van Gogh Coconut',
       'Giffard Creme de Pamplemousse Rose Pink Grapefruit Liqueur',
       'Grand Marnier Cuvee 1880 HA', 'Gamle Ode Celebration Aquavit',
       'Cocoyac Excellence', 'Van Gogh Rich Dark Chocolate Vodka',
       'Cruzan Banana Rum', 'Stolichnaya Premium Vodka 80 Proof (lv)',
       'Absolut w/Ginger Beer', 'Absolut Black 100',
       'Calico Tropical Punch Jack Rum', 'Terry Centenario',
       'The Bitter Truth Apricot Liqueur',
       'The Bitter Truth Violet Liqueur', 'Courvoisier Gold',
       'Tiramisu Italian Liqueur', 'Kahlua Mocha'], dtype=object)

In [36]:
y15['County']=list(map(county_name,y15['County'],y15['City']))
y15['County Number']=list(map(county_name,y15['County Number'],y15['City']))
y14['Category Name']=list(map(category_name,y14['Category Name'],y14['Item Description']))
y14['Category']=list(map(category,y14['Category'],y14['Item Description']))

# Cleaning Year 2016

In [8]:
y16=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2016.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
y16.isna().sum()

Unnamed: 0                   0
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64

In [48]:
y16[y16['County'].isna()]['City'].unique()

array(['CORALVILLE', 'HAMPTON', 'WESLEY', 'ACKLEY', 'CLARINDA', 'BELMOND',
       'DUNLAP', 'CEDAR RAPIDS', 'SEYMOUR', 'OSCEOLA', 'ALTOONA',
       'EVANSDALE', 'DAVENPORT', 'LARCHWOOD', 'WAVERLY', 'ATLANTIC',
       'NORTH LIBERTY', 'DES MOINES', 'CRESCO', 'DUBUQUE', 'SIOUX CITY',
       'MASON CITY', 'WATERLOO', 'CLINTON', 'ROCKWELL', 'SIGOURNEY',
       'HARLAN', 'AUDUBON', 'TABOR', 'PLEASANTVILLE', 'RUNNELLS',
       'CHARITON', 'ANTHON', 'ANAMOSA', 'FORT DODGE', 'NORWALK',
       'WEST BRANCH', 'IOWA CITY', 'COLUMBUS JUNCTION', 'INDIANOLA',
       'MARSHALLTOWN', 'REINBECK', 'Mason City', 'Des Moines',
       'Cedar Rapids', 'CENTRAL CITY', 'Center Point', 'Ottumwa',
       'Davenport', 'Ackley', 'Pleasantville', 'Wesley', 'Iowa City',
       'Coralville', 'Columbus Junction', 'Dunlap', 'Indianola',
       'Hampton', 'Anamosa', 'Sigourney', 'Tabor', 'Dubuque', 'Harlan',
       'Cresco', 'Fort Dodge', 'Altoona', 'Larchwood', 'Clarinda',
       'Marshalltown', 'Waverly', 'Belmond', 'Central City', 'Runnells',
       'Sioux City', 'Anthon', 'Clinton', 'Waterloo', 'Rockwell',
       'North English', 'Osceola', 'Reinbeck', 'North Liberty', 'Norwalk',
       'Forest City', 'Sac City', 'Evansdale', 'Glenwood', 'Seymour',
       'Mitchellville', 'Audubon', 'Atlantic', 'Manson',
       'West Des Moines', 'Leon', 'Missouri Valley', 'Council Bluffs',
       'Winthrop', 'West Branch', 'Atkins', 'Moravia', 'Cedar Falls',
       'Muscatine', 'Waukee', 'Chariton', 'Albert City', 'Pella',
       'Bettendorf', 'Urbandale', 'Newton', 'Windsor Heights', 'Clarion',
       'Boone', 'Brooklyn', 'Robins', 'Kingsley', 'Story City', 'Spencer',
       'Rock Valley', 'Onawa', 'Vinton', 'DeWitt', 'Webster City',
       'Stanton', 'Lawler', 'Humboldt', 'Arnolds Park', 'Ames',
       'Carter Lake', 'Alburnett', 'Otumwa', nan], dtype=object)

# Cleaning Year 2017

In [176]:
y17=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//year2017.csv')

In [44]:
ytest17=y17

In [45]:
ytest17.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [47]:
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

In [48]:
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

In [49]:
ytest17.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     1
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [23]:
catid17=y17[y17['Category'].isna()]['Item Description'].unique()
catid17

array(["Hennessy Master Blender''s Selection", "Galliano L'Autentico",
       'Ezra Brooks Bourbon Cream', 'Jim Beam Black w/2 Glasses',
       "Tim Smith's Climax Fire #32", 'Deep Eddy 750ml Vodka w/3-50mls',
       'Jim Beam White w/2 Glasses', 'Koval Millet',
       "Broker's Gin Holiday w/1 Collins Glass", 'Irish Mist Whiskey',
       'Eagle Rare Single Barrel Buy the Barrel',
       'Blue Chair Bay Banana Rum Cream',
       'Figenza Mediterranean Fig Vodka', 'Crown Royal w/Glass & Coaster',
       'Smirnoff Peppermint Twist',
       'Bakon Vodka Sports Box Bloody Mary Kit',
       'Gentleman Jack w/2 Glasses', 'Skyy Infusions Blood Orange',
       "Ole Smoky White Lightnin' Moonshine",
       'Jagermeister w/ Mobile Phone Wood Amplifier',
       'Revel Stoke Spiced', 'Grapefruit Liqueur',
       'Black Currant Liqueur Creme de Cassis',
       'Irish Single Malt 14yr-Brother in Arms',
       '5 year Irish Single Grain', 'New Amsterdam Peach',
       'Laphroaig 25YR Cask Strength HA',
       'Southern Comfort w/Cocktail Shaker',
       'Caravella Limoncello w/Glass', "Old St. Nick's Egg Nog",
       'Bacardi O', 'Dekuyper Cranberry Crush',
       "Jefferson's Reserve Groth Cask Finish",
       'Bains Cape Mountain Whiskey', 'Don Pancho Origenes 8YR Rum',
       'Haymans Old Tom Gin', 'Burnetts Cherry Limeade',
       "Burnett's Ruby Red Grapefruit", 'Di Amore Quattro Orange',
       'Barbados Rum 100ml', 'Barbados Rum 1 Liter',
       'Barbados Rum 200 ml', 'Barbados Rum 375ml', 'Barbados Rum 50ml',
       'Barbados Rum 750ml', 'Great Glen 8 yr',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Two Casks- Caol IIa & Speyburn Sherry',
       'Red Stag Black Cherry Mini', 'Everclear 190prf', 'Avion Espresso',
       'Black Saddle Bourbon', 'Cruzan Key Lime',
       'Pikesville Rye 110prf HA', 'Hawkeye Bacon Vodka',
       'Deep Eddy  Lemon Vodka', 'Glengoyne 15YR',
       'Diplomatico Reserva Exclusiva', 'Grand Teton Vodka',
       '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Bastille 1789', 'Titos Vodka',
       'Dorda Double Chocolate Liqueur', '99 Whipped', 'Cutty Sark',
       'Valentine Vodka', 'Ansac VS  Cognac', 'Fifty Pounds',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Nux Alpina', "Sammy's Beach Bar Rum", '99 Watermelon Mini',
       'Patron Citronge Mango', 'Caliche', 'Pina Colada',
       'Lairds Old Apple Brandy 7YR', 'Green Absinthe', 'Red Absinthe',
       'Marie Brizard Chocolat Royal', 'Chilled Dills Pickle Vodka',
       'Disaronno Party Pack Sour VAP', 'Hiram Walker Coffee Brandy',
       '99 Oranges Mini', '99 Grapes', '99 Oranges',
       'Laphroaig Quarter Cask', 'Agave Loco', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA',
       'Irish Single Malt 14yr- Brother in Arms', 'HA Seven Devils',
       'Casamigos Anejo', 'Ri(1) Whiskey', 'Stolichnaya Hot',
       'Cedar Ridge Reserve Bourbon', 'Koval Rye',
       'Cedar Ridge American Whiskey Explorer Pack',
       'Don Amado Mezcal Rustico', 'Kavalan Classic Single Malt Whiskey',
       "Travis Hasse's Cow Pie", 'Old Medley 12YR', 'Pride of the Wapsi',
       "Maker's Mark Co-Pack", 'Kahlua w/Absolut 50ml & Glass',
       'Hennessy VS 750ml w/50ml VSOP', 'HA Michters US*1 Small Batch',
       'Three Olives Vanilla', 'HA Orphan Barrel Barterhouse',
       'HA Orphan Barrel Forged Oak', 'Rothman & Winter Orchard Pear',
       'Rothman & Winter Orchard Peach', 'Ketel One Oranje',
       'HA Abraham Bowman Wine Finish Whiskey', 'Yellowstone Select',
       'Members Mark Silver Tequila',
       'Jose Cuervo Gold w/1L Classic Margarita Mix',
       'Pinnacle Chocolate Whipped', 'Smirnoff Sours Green Apple Mini',
       'Don Q Limon', 'HA Highland Park Ice Edition',
       'HA Pikesville Rye 110prf', 'Haymans Sloe Gin',
       'Big Peach Liqueur',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Piping Rock Peppermint Schnapps', 'Old Forester 1920',
       'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       'Kavalan Concertmaster', 'Kauai Coconut Hawaiian Rum',
       'Hennessy VS Flask', "Aberlour A''bunadh",
       'El Mayor Extra Anejo 100% Agave', 'Calico Jack Pineapple',
       "Fulton's Harvest Pumpkin Liqueur", 'Midnight Moon Raspberry',
       'Evan Williams Kentucky Cider', 'Koval Oat', 'Burnetts Appleberry',
       'Fireball Bag in Box', 'Captain Morgan Jack-O Blast Mini',
       'Captain Morgan Jack-O Blast', 'Benromach 10YR',
       'Baileys Pumpkin Spice Irish Cream',
       'Baileys Pumpkin Spice Irish Cream Mini',
       'Rondiaz Rum Spiced Black Cherry Mini',
       "Fulton's Harvest Apple Pie Liqueur", 'Clix Vodka',
       'Ezra Brooks Bourbon Cream Mini',
       'Glenmorangie Original w/ Quinta Ruban & Lasanta',
       'Smirnoff Peppermint Twist Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'Di Amore Amaretto w/2 Glasses', 'Drambuie w/2 Glasses',
       'Mr. Boston Holiday Nog', 'Gentleman Jack w/ Coaster Set',
       "Jack Daniel's TN Honey w/Flask",
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Appleton Estate Reserve',
       'Corralejo Reposado Tequila w/2 Sangrita Glasses',
       'Templeton Rye w/2 Tumbler Glasses',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Jose Cuervo Silver w/1L Classic Margarita Mix',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Woodford Reserve w/Glass', 'Sobieski w/2 Shot Glasses',
       'Hornitos Reposado w/Glasses', 'Cedar Ridge Barrel Proof Bourbon',
       'Kavalan King Car Conductor',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses',
       'Hennessy V.S.O.P Privilege w/2 Glasses', 'Double Cross Vodka',
       'Deep Eddy'], dtype=object)

In [24]:
catna17=y17[y17['Category Name'].isna()]['Item Description'].unique()
catna17

array(["Hennessy Master Blender''s Selection", "Galliano L'Autentico",
       'Ezra Brooks Bourbon Cream', 'Jim Beam Black w/2 Glasses',
       "Tim Smith's Climax Fire #32", 'Deep Eddy 750ml Vodka w/3-50mls',
       'Jim Beam White w/2 Glasses', 'Koval Millet',
       "Broker's Gin Holiday w/1 Collins Glass", 'Irish Mist Whiskey',
       'Eagle Rare Single Barrel Buy the Barrel',
       'Blue Chair Bay Banana Rum Cream',
       'Figenza Mediterranean Fig Vodka', 'Crown Royal w/Glass & Coaster',
       'Smirnoff Peppermint Twist',
       'Bakon Vodka Sports Box Bloody Mary Kit',
       'Gentleman Jack w/2 Glasses', 'Skyy Infusions Blood Orange',
       "Ole Smoky White Lightnin' Moonshine",
       'Jagermeister w/ Mobile Phone Wood Amplifier',
       'Revel Stoke Spiced', 'Grapefruit Liqueur',
       'Black Currant Liqueur Creme de Cassis',
       'Irish Single Malt 14yr-Brother in Arms',
       '5 year Irish Single Grain', 'New Amsterdam Peach',
       'Laphroaig 25YR Cask Strength HA',
       'Southern Comfort w/Cocktail Shaker',
       'Caravella Limoncello w/Glass', "Old St. Nick's Egg Nog",
       'Bacardi O', 'Dekuyper Cranberry Crush',
       "Jefferson's Reserve Groth Cask Finish",
       'Bains Cape Mountain Whiskey', 'Don Pancho Origenes 8YR Rum',
       'Haymans Old Tom Gin', 'Burnetts Cherry Limeade',
       "Burnett's Ruby Red Grapefruit", 'Di Amore Quattro Orange',
       'Barbados Rum 100ml', 'Barbados Rum 1 Liter',
       'Barbados Rum 200 ml', 'Barbados Rum 375ml', 'Barbados Rum 50ml',
       'Barbados Rum 750ml', 'Great Glen 8 yr',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Two Casks- Caol IIa & Speyburn Sherry',
       'Red Stag Black Cherry Mini', 'Everclear 190prf', 'Avion Espresso',
       'Black Saddle Bourbon', 'Cruzan Key Lime',
       'Pikesville Rye 110prf HA', 'Hawkeye Bacon Vodka',
       'Deep Eddy  Lemon Vodka', 'Glengoyne 15YR',
       'Diplomatico Reserva Exclusiva', 'Grand Teton Vodka',
       '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Bastille 1789', 'Titos Vodka',
       'Dorda Double Chocolate Liqueur', '99 Whipped', 'Cutty Sark',
       'Valentine Vodka', 'Ansac VS  Cognac', 'Fifty Pounds',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Nux Alpina', "Sammy's Beach Bar Rum", '99 Watermelon Mini',
       'Patron Citronge Mango', 'Caliche', 'Pina Colada',
       'Lairds Old Apple Brandy 7YR', 'Green Absinthe', 'Red Absinthe',
       'Marie Brizard Chocolat Royal', 'Chilled Dills Pickle Vodka',
       'Disaronno Party Pack Sour VAP', 'Hiram Walker Coffee Brandy',
       '99 Oranges Mini', '99 Grapes', '99 Oranges',
       'Laphroaig Quarter Cask', 'Agave Loco', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA',
       'Irish Single Malt 14yr- Brother in Arms', 'HA Seven Devils',
       'Casamigos Anejo', 'Ri(1) Whiskey', 'Stolichnaya Hot',
       'Cedar Ridge Reserve Bourbon', 'Koval Rye',
       'Cedar Ridge American Whiskey Explorer Pack',
       'Don Amado Mezcal Rustico', 'Kavalan Classic Single Malt Whiskey',
       "Travis Hasse's Cow Pie", 'Old Medley 12YR', 'Pride of the Wapsi',
       "Maker's Mark Co-Pack", 'Kahlua w/Absolut 50ml & Glass',
       'Hennessy VS 750ml w/50ml VSOP', 'HA Michters US*1 Small Batch',
       'Three Olives Vanilla', 'HA Orphan Barrel Barterhouse',
       'HA Orphan Barrel Forged Oak', 'Rothman & Winter Orchard Pear',
       'Rothman & Winter Orchard Peach', 'Ketel One Oranje',
       'HA Abraham Bowman Wine Finish Whiskey', 'Yellowstone Select',
       'Members Mark Silver Tequila',
       'Jose Cuervo Gold w/1L Classic Margarita Mix',
       'Pinnacle Chocolate Whipped', 'Smirnoff Sours Green Apple Mini',
       'Don Q Limon', 'HA Highland Park Ice Edition',
       'HA Pikesville Rye 110prf', 'Haymans Sloe Gin',
       'Big Peach Liqueur',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Piping Rock Peppermint Schnapps', 'Old Forester 1920',
       'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       'Kavalan Concertmaster', 'Kauai Coconut Hawaiian Rum',
       'Hennessy VS Flask', "Aberlour A''bunadh",
       'El Mayor Extra Anejo 100% Agave', 'Calico Jack Pineapple',
       "Fulton's Harvest Pumpkin Liqueur", 'Midnight Moon Raspberry',
       'Evan Williams Kentucky Cider', 'Koval Oat', 'Burnetts Appleberry',
       'Fireball Bag in Box', 'Captain Morgan Jack-O Blast Mini',
       'Captain Morgan Jack-O Blast', 'Benromach 10YR',
       'Baileys Pumpkin Spice Irish Cream',
       'Baileys Pumpkin Spice Irish Cream Mini',
       'Rondiaz Rum Spiced Black Cherry Mini',
       "Fulton's Harvest Apple Pie Liqueur", 'Clix Vodka',
       'Ezra Brooks Bourbon Cream Mini',
       'Glenmorangie Original w/ Quinta Ruban & Lasanta',
       'Smirnoff Peppermint Twist Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'Di Amore Amaretto w/2 Glasses', 'Drambuie w/2 Glasses',
       'Mr. Boston Holiday Nog', 'Gentleman Jack w/ Coaster Set',
       "Jack Daniel's TN Honey w/Flask",
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Appleton Estate Reserve',
       'Corralejo Reposado Tequila w/2 Sangrita Glasses',
       'Templeton Rye w/2 Tumbler Glasses',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Jose Cuervo Silver w/1L Classic Margarita Mix',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Woodford Reserve w/Glass', 'Sobieski w/2 Shot Glasses',
       'Hornitos Reposado w/Glasses', 'Cedar Ridge Barrel Proof Bourbon',
       'Kavalan King Car Conductor',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses',
       'Hennessy V.S.O.P Privilege w/2 Glasses', 'Double Cross Vodka',
       'Deep Eddy'], dtype=object)

In [61]:
pd.set_option('display.max_rows',300)
for i in catna17:
    idlist=y16[y16['Item Description']==i]['Category Name'].unique()
    if (len(idlist)>0):
        if(idlist[0]!='nan'):
            print(idlist[0])

Temporary & Specialty Packages
nan
Holiday VAP
DISTILLED SPIRITS SPECIALTY
DECANTERS & SPECIALTY PACKAGES
Holiday VAP
BLENDED WHISKIES
Holiday VAP
MISC. IMPORTED CORDIALS & LIQUEURS
SINGLE BARREL BOURBON WHISKIES
Cream Liqueurs
IMPORTED VODKA - MISC
Holiday VAP
VODKA FLAVORED
Holiday VAP
DECANTERS & SPECIALTY PACKAGES
VODKA FLAVORED
DISTILLED SPIRITS SPECIALTY
Holiday VAP
CANADIAN WHISKIES
MISC. IMPORTED CORDIALS & LIQUEURS
MISC. IMPORTED CORDIALS & LIQUEURS
SINGLE MALT SCOTCH
IRISH WHISKIES
VODKA FLAVORED
SCOTCH WHISKIES
Whiskey Liqueur
DECANTERS & SPECIALTY PACKAGES
Holiday VAP
FLAVORED RUM
PEPPERMINT SCHNAPPS
BLENDED WHISKIES
IMPORTED DRY GINS
VODKA FLAVORED
VODKA FLAVORED
DISTILLED SPIRITS SPECIALTY
SCOTCH WHISKIES
SCOTCH WHISKIES
STRAIGHT BOURBON WHISKIES
AMERICAN ALCOHOL
DISTILLED SPIRITS SPECIALTY
STRAIGHT BOURBON WHISKIES
FLAVORED RUM
STRAIGHT RYE WHISKIES
VODKA FLAVORED
SCOTCH WHISKIES
BLENDED WHISKIES
VODKA 80 PROOF
MISCELLANEOUS SCHNAPPS
SCOTCH WHISKIES
IMPORTED DRY GINS
MISC. IMPORTED CORDIALS & LIQUEURS
PUERTO RICO & VIRGIN ISLANDS RUM
WATERMELON SCHNAPPS
PUERTO RICO & VIRGIN ISLANDS RUM
MISC. IMPORTED CORDIALS & LIQUEURS
DECANTERS & SPECIALTY PACKAGES
COFFEE LIQUEURS
SCOTCH WHISKIES
nan
SINGLE MALT SCOTCH
TEQUILA
STRAIGHT RYE WHISKIES
IMPORTED VODKA - MISC
STRAIGHT BOURBON WHISKIES
BLENDED WHISKIES
Iowa Distillery Whiskies
SINGLE MALT SCOTCH
MISC. AMERICAN CORDIALS & LIQUEURS
VODKA FLAVORED
DECANTERS & SPECIALTY PACKAGES
Holiday VAP
Holiday VAP
IMPORTED VODKA - MISC
MISC. IMPORTED CORDIALS & LIQUEURS
nan
IMPORTED VODKA - MISC
STRAIGHT BOURBON WHISKIES
nan
DECANTERS & SPECIALTY PACKAGES
nan
FLAVORED RUM
IMPORTED DRY GINS
PEACH SCHNAPPS
PEPPERMINT SCHNAPPS
nan
SINGLE MALT SCOTCH
DECANTERS & SPECIALTY PACKAGES
nan
FLAVORED RUM
Cream Liqueurs
DISTILLED SPIRITS SPECIALTY
DECANTERS & SPECIALTY PACKAGES
VODKA FLAVORED
Canadian Whiskies
Flavored Rum
Flavored Rum
Cream Liqueurs
Cream Liqueurs
nan
Cream Liqueurs
Scotch Whiskies
VODKA FLAVORED
nan
Holiday VAP
Holiday VAP
DECANTERS & SPECIALTY PACKAGES
nan
Straight Rye Whiskies
DECANTERS & SPECIALTY PACKAGES
nan
SINGLE MALT SCOTCH
Holiday VAP
IMPORTED VODKA
VODKA 80 PROOF

In [ ]:
pd.set_option('display.max_rows',300)

In [70]:
def category_name2(x,y):
    for i in catna17:
        idlist=y16[y16['Item Description']==i]['Category Name'].unique()
        if len(idlist)>1:
            return idlist[0]

In [93]:
snumna=list(y17[y17['Address'].isna()]['Store Number'].unique())
snumna

[5259,
 4482,
 5107,
 5070,
 5242,
 5197,
 5340,
 5088,
 5235,
 5185,
 5248,
 2641,
 5169,
 5307,
 5305,
 4478,
 4983,
 4416,
 5167,
 5388,
 4319,
 9932,
 9911,
 5230,
 2556,
 3822,
 4378]

In [83]:
snumna[0]

5259

In [92]:
slist=list(y17[y17['Store Number']==snumna[0]]['Address'].unique())
slist

[nan, '924 Locust St']

In [89]:
idk=[1,2,3,4]
len(idk)

4

In [ ]:
sndict={}
for i in snumna:
    slist=list(y17[y17['Store Number']==i]['Address'].unique())
    for j in slist:
        if pd.notna(j):
            Store_Num = j

In [130]:
storedf=y17[['Store Number','Address']]

In [163]:
storedf.isna().sum()

Store Number    0
Address         0
dtype: int64

In [124]:
storedf.head()

   Store Number        Address
0          5259  924 Locust St
1          5259  924 Locust St
2          5259  924 Locust St
3          5259  924 Locust St
4          5259  924 Locust St

In [131]:
len(storedf)

1883097

In [133]:
len(y17)

1883097

In [134]:
storedf=storedf[storedf['Address'].notna()]

In [135]:
len(storedf)

1881686

In [136]:
1883097-1881686

1411

In [139]:
storedf.drop_duplicates(subset=['Store Number'],inplace=True)

In [140]:
len(storedf)

1493

In [149]:
storedict={}
for i in storedf['Store Number']:
    storedict[i]=storedf[storedf['Store Number']==i]['Address'].values[0]

In [148]:
storedf[storedf['Store Number']==4312]['Address'].values[0]

'2411 S 24TH ST #1'

In [177]:
ytest17=y17

In [162]:
ytest17[ytest17['Store Number']==9932]['Address'].unique()

array([nan], dtype=object)

In [150]:
storedict

{4312: '2411 S 24TH ST #1',
 5244: '708 2nd  AVE  SE',
 4829: '1501 Michigan Ave',
 4361: '4575 NW 2nd',
 2478: 'One Prairie Meadows Drive',
 4819: '2635 Adventureland Dr',
 3644: '3501  8th St SW',
 3870: '3414 8th St SW',
 5057: '4960 E Broadway Ave',
 2532: '2540 E Euclid',
 5318: '2839 East University Ave',
 4799: '2930 E University Ave',
 2636: '2310 Hubbell Ave',
 3696: '5101 SE 14th St',
 4622: '3941, SE 14th St',
 3651: '1500 North Jefferson',
 4684: '1201 N Jefferson',
 2448: '705 E. SECOND',
 5359: '8400 NICC Drive',
 2549: '910 N Jefferson',
 2527: '1107 SE Army Post Rd',
 4617: '2501 HUBBELL AVE',
 5313: '2424 SW 9th St # 1',
 2536: '4815 Maple Drive',
 3816: '200 E Oak St',
 9013: '4349 Cumming Ave.',
 9913: '4349 Cumming Ave.',
 3618: '3601 29th Ave SW',
 2509: '1520 6th St SW',
 4845: '216, 3rd St SE',
 5142: '2315, Mt Vernon Rd SE',
 2588: '4035 Mt Vernon Rd SE',
 2590: '3235 Oakland Road NE',
 4487: '1661 32nd St NE',
 4636: '2904 Center Point Rd NE',
 3385: '2605 Blairs Ferry Rd NE',
 3628: '2645 Blairs Ferry Rd NE',
 2647: '5050 Edgewood Rd',
 4154: '885 Miller Rd',
 2605: '2001 Blairs Ferry Road NE',
 4624: '300 E Blairs Ferry Rd',
 5097: '3717 1st Ave SE',
 4687: '3132 1st Ave NE',
 4771: '502, E Ave NW',
 5214: '550 Wilson Ave SW',
 2622: '1125 N Dodge St',
 2627: '3424 Martin Luther King Jr Pkw',
 4677: '2900 Heartland Dr',
 2285: '401 East Market St',
 4161: '2530 Westwinds Dr',
 5286: '108, College',
 5060: '504, E Burlington St',
 5014: '22 S Van Buren St',
 3896: '1901 Broadway St',
 5111: '2601 Hwy 6 East',
 4160: '2765 Commerce Dr',
 2513: '812  S 1st Ave',
 4728: '2214 Muscatine Ave',
 2844: '2425 Muscatine Ave',
 2545: '310 N 1st St',
 4697: '601 Hollywood Blvd',
 3980: '919 Hwy 1 West',
 4844: '2580, Naples Ave',
 3926: '315 S Gilbert St',
 5224: '517 2nd St',
 4134: '105 W Monroe St',
 3849: '711  16th Ave SE',
 2624: '2395 NW Arterial Rd',
 3944: '4400 Asbury Rd',
 3632: '4200 Dodge St',
 2524: '3500 Dodge St',
 4106: '2255 John F Kennedy Rd',
 4334: '2050 John F Kennedy Rd',
 2413: '1691 Asbury Road',
 3959: '1600 University Ave',
 5258: '535, Hill Street',
 3841: '157 Locust St',
 4167: '1256 Iowa St',
 3774: '1800 Elm St',
 4712: '345 E 20th St',
 5042: '1101 Rhomberg Ave',
 3738: '2225 Central Ave',
 4535: '4003 Peru Rd',
 2649: '400 Locust St',
 3495: '228 N Main St',
 4252: '433 N Farley St',
 4137: '200 SE Laurel St',
 4299: '9 Waterhouse Ave',
 2666: '2510 SW State St',
 4136: '351 Gateway Dr',
 9911: '501 7th ave SE',
 4599: '3700 Hubbell Ave',
 3625: '1002 SE National Dr',
 5124: '5440 NW  86th St',
 4131: '8450 Meredith Dr',
 3691: '11148 Plum Dr',
 4449: '12041 Douglas Pkwy',
 4450: '4585 156th St',
 2665: '1005 E Hickman Rd',
 3943: '519 Lincolnway',
 4378: '85  4th St',
 4384: '409 Nile Kinnick Dr',
 4623: '700 Debra Dr',
 5092: '7265 Vista Dr',
 2619: '1725  74th St',
 2200: '619 E Main St',
 4098: '2485 Hwy 92',
 4021: '2701 W Burlington Ave',
 3811: '300 North Park Dr',
 3562: '324 West Agency Rd',
 3790: '1045 N Grand Ave',
 2552: '20 Wilson Avenue West',
 4492: '3625 Edgewood Rd SW',
 3666: '3400 Edgewood Rd SW',
 4956: '4920, Johnson Ave NW',
 4788: '324 Edgewood Rd NW',
 3912: '225 Edgewood Rd',
 5176: '455, Edgewood Rd NW',
 4443: '1204 1st St',
 4895: '5427 Center Point Rd NE',
 4634: '4201, Center Point Rd NE',
 5230: '4107, Center Point Rd NE',
 2843: '4116 Center Pointe Rd',
 5254: '2933 1st Ave SE',
 4496: '2824, 1st Ave NE',
 4660: '1904, Mt Vernon Rd SE',
 4637: '3301 J St',
 4566: '30 Four Oaks Dr SW',
 3822: '1205 Curtis Br Rd NE',
 3663: '1334 Flammang Dr',
 3889: '700  29 St SW',
 3859: '302 Enterprise Dr SW',
 4019: '1220 West Main',
 2113: '1119 Market St. Box 71',
 5141: '1131, Market St',
 4998: '820 E Main St',
 5010: '106 S 16th St',
 4118: '502 5th Street',
 4116: '223 Main St',
 5354: '129 Center Street',
 5151: '500, Hwy 175',
 5004: '200 Susan Lawrence Dr',
 4097: '108  2nd St',
 3932: '311 Main St',
 5228: '101, W Main St',
 5274: '101 Main St',
 3650: '118 South Main St.',
 5140: '114, S  2nd  St',
 3989: '300 E Main St',
 4310: '205 West Bluff St',
 2597: '1300 N. Second',
 3749: '1831 Lake Ave NW',
 2576: '1250 N Lake St',
 3635: '302 West Walnut St',
 5067: '1101, N  Lake Ave',
 5028: '1100, E 5th St',
 4163: '731 Seneca St',
 5326: '215 W. Milwaukee Ave',
 3855: '1201 1/2 Lakeshore Dr',
 3876: '1101 MAIN ST PO BOX 535',
 4324: '22 North Main',
 4831: '320, W Mamie Eisenhower Ave',
 2505: '1111  8TH ST',
 4935: '1117 E 4th St',
 4408: '315 Story St',
 4409: '1704 S Story St',
 4023: '1515 SE Marshall St',
 4107: '1711 Hawkeye Dr',
 3769: '525 Brandilynn Blvd',
 2572: '6301 University',
 3868: '5491 Business Hwy 151',
 4902: '821 Broadway St',
 2571: '2181 Logan Ave',
 4900: '515 Broadway St',
 4648: '508 Broadway St',
 5063: '735, Logan Ave',
 4077: '428 Franklin St',
 4647: '1615 Bishop Ave',
 5113: '1975 Franklin St',
 4502: '2100, Lafayette St',
 5243: '1309, Lafayette St',
 4265: '1104 Washington St',
 5043: '919 W 5th St',
 3993: '1625 West 4th St',
 5174: '437, Sullivan Ave',
 4512: '2332, Falls Ave',
 4642: '2844 University Ave',
 3773: '501 7th Ave SE',
 5236: '600 W Main St',
 3934: '103 E Carlisle',
 3563: '3003 North Hwy 61',
 2633: '3221 SE 14th St',
 2564: '4000 University',
 4511: '303 SE 30th St',
 4068: '136  1ST ST',
 5169: '5120, NE 14th Street',
 3909: '104 SE  A St',
 2551: '2001 West Court',
 5059: '207 Front St',
 2669: '103, E Jackson St',
 4027: '23148 Hwy 5',
 4271: '305 S 18th St',
 2523: '414 N 18th St',
 3013: '207 E Locust St',
 4046: '113 W Vanburen',
 2559: '301 Hwy. 34 West',
 4011: '121 North Clinton',
 4789: '419 Merrill St',
 4817: '1201, E Main St',
 3818: '703 W Pleasant St',
 2566: '813 N Lincoln Ste 1',
 4275: '1308 S Lincoln St',
 5080: '719 2nd Ave W',
 3660: '814 W Bell Ave',
 5050: '1115, Bluestem Dr',
 2190: '1460 2ND AVE',
 5309: '1443 2nd Ave',
 3783: '14 1/2 E Elm',
 3626: '500  11th St',
 4234: '104 E Eighth St',
 2565: '819 N Grand Ave',
 3390: '1610 Okoboji Avenue',
 5068: '612 S Highway 71',
 5293: '228, N Hwy 71',
 5104: '72, N Okoboji Grove Rd',
 2233: '2508 Enterprise Ave',
 3622: '2600 Hwy 71',
 2522: 'Hwy 9 & 71',
 4239: '1906 Keokuk',
 4387: '300 18th St',
 4582: '2402, 17th St',
 5154: '201, Market St',
 4272: '1108 Central Ave',
 2556: '2608 E. Central Avenue',
 4269: '610 Cedar St',
 4783: '2406 Main St',
 3704: '1122 Broadway',
 4254: '2008  12th St',
 4592: '2401, Main',
 2445: '504 South Highway',
 2512: '1720 Waterfront Dr',
 4013: '1126 Highway 38 North',
 5329: '2293 Hwy 30',
 5106: '622 10th  St',
 5298: '630, 6th Ave',
 3920: '1606 Camanche Ave',
 2616: '901 South 4th St',
 5227: '320, N  4th St',
 2806: '1307 N Second',
 4204: '1350 11th St NW',
 4864: '1641 S Bluff Blvd',
 3647: '2715 South 25th St',
 4132: '908 7th Ave',
 2475: '206 2nd Ave NE',
 3732: '425 E Leclaire Rd',
 3845: '210 North Hwy',
 3592: '3036 1st Ave South',
 2562: '115 South 29th St',
 2663: '8701 Douglas',
 5237: '606, N 15th St',
 2644: '1511 2nd Ave North',
 4311: '1231  1st Ave S',
 5238: '1923, 5th  Ave  S',
 5167: '1724, 5th  Ave S',
 4805: '902 1st Ave N',
 4319: '710 First Ave N',
 2606: '1011  13th St North',
 3524: '305 Airport Rd',
 5005: '410 W Main St',
 4542: '520 W Main St',
 4527: '105 SE First St',
 4757: '1111 SE Lincoln St',
 4103: '3619 Stange Rd',
 4940: '301 WATER ST',
 5279: '3020 Duff Ave',
 4428: '4510 Mortensen Rd',
 4437: '4506 Lincoln Way',
 2500: '3800 W Lincoln Way',
 2501: '640 Lincolnway',
 4129: '626 Lincoln Way',
 2609: '500 Main St',
 4438: '111 Duff Ave',
 3866: '320 S Duff',
 4004: '534 S Duff Ave',
 4674: '2108 ISAAC NEWTON DR',
 4105: '1505 South B Ave',
 5000: '1800 South B Ave',
 5135: '911 Hwy 69',
 3952: '3780 State St',
 4453: '1116, Hwy 69 South',
 3772: '2127 M L KING JR PKWY',
 4448: '4860 NW Urbandale Dr',
 5250: '3804 Hubbell Ave',
 2625: '3301 W Kimberly Rd',
 3776: '3101 West Kimberly Rd',
 2603: '2890 Devils Glen Road',
 4192: '3800 Belmont Rd',
 5013: '3715 State St',
 5335: '1810 State Street',
 4717: '3425 Middle Rd',
 2840: '2002 Spruce Hills Dr',
 3715: '1714 E Kimberly Rd',
 2614: '1823 E Kimberly Rd',
 4630: '2923 Brady St',
 4640: '3527, Spring St',
 4652: '3107, Brady St',
 5319: '1802 W 7th St',
 3853: '3108 West Central Park Ave #2',
 2637: '2351 W Locust',
 5257: '405, Madison Ave',
 5003: '2604 W Locust St',
 2502: '410 North Ankeny Blvd',
 3723: '1023  9th St',
 4971: '5500, E University Ave',
 4433: '5970 Morning Star Ct',
 3949: '1650 Washington St',
 2642: '512 E Oskaloosa',
 3990: '309 A Ave West',
 3735: '1202 A Ave East',
 4300: '311  3rd Ave W',
 4821: '901 S Market St',
 2596: '2453 North Court',
 3726: '1940 Venture Dr',
 2543: '1025 North Quincy Ave',
 4069: '1325 Albia Rd',
 3916: '1115 Albia Rd',
 5300: '534 Church St',
 2611: '1140 North Jefferson St',
 2548: '100 8th Street SW',
 2238: '3200 Adventureland Dr',
 2594: '4500 Sergeant Road',
 5348: '806 W Main St.',
 4202: '4267 Sergeant Rd',
 3879: '5775 Sunnybrook Dr',
 5351: '1203 5th St.',
 4879: '4218 MORNINGSIDE AVE',
 4884: '4523, Morningside Ave',
 4565: '1925 S Lakeport St',
 2621: '3301 Gordon Dr',
 3808: '300  4th St',
 3869: '412  1st Ave',
 4452: '2825 Gordon Dr',
 2623: '2827 Hamilton Blvd',
 3820: '507 W 19th St',
 4975: '1900 Hamilton Blvd',
 4588: '923 W 7TH ST',
 4558: '1373 Pierce St',
 2667: '2611 Pierce St',
 4200: '4016 Indian Hills Dr',
 4568: '4103 Floyd Blvd',
 3757: '3101 Floyd Blvd',
 5086: '2501, Floyd Blvd',
 3447: '4201 S. York St.',
 3722: '3400 Singing Hills Blvd',
 4201: '4040 War Eagle Dr',
 5027: '111 3rd St',
 4676: '711 Gordon Dr',
 4197: '700  1st St',
 4888: '302 1st St',
 4444: '1864 Hwy 141',
 5264: '309, Center Ave',
 3942: '104 Highway 30 West',
 4195: '1005 S County Line Rd',
 4025: '702 13th St',
 4070: '708  13th St',
 5268: '188, Parkridge Rd',
 2618: '505 Boyson Rd NE',
 3417: 'Po Box 261  310 W Dillon',
 4439: '800 Ford Lane',
 4346: '105 Pearl St',
 5292: '814, C Ave',
 4228: '501 A Ave',
 4298: '305 Crisman St',
 5202: '115, 25th  Ave',
 4978: '3535 Marigold Dr',
 4557: '420 Second St',
 5323: '320 2nd St',
 5284: '122, Front St.',
 3873: '1441 Coral Ridge Ave',
 2670: '2004 8th  St',
 5009: '1101 2ND ST',
 4157: '615 Westwood Dr   P.o Box 96',
 3928: '465 Hwy 965 Unit G',
 5105: '585 HIGHWAY 965',
 2508: '1843 Johnson Avenue, N.W.',
 5222: '1500, 1st  Ave NE',
 2568: '1556 First Avenue NE',
 5356: '1532 Ellis Blvd NW',
 3890: '904  1st Ave NW',
 5073: '2601, Williams Blvd SW',
 2846: '3419 16th Ave SW',
 4162: '4220  16th Ave SW',
 5190: '200 Hwy 151 E',
 4393: '1725 NW 86th St',
 5339: '395 Western Avenue',
 5150: '901, 3rd  St',
 3629: '3200 Manawa Dr',
 5360: '1610 Rockingham Rd',
 3762: '7690 Hickman Rd',
 4773: '2704 Vine St',
 9906: '2515 Dean Avenue',
 4849: '801, University Ave',
 5102: '724 1st  St  SE',
 2626: '4100 University Ave',
 2635: '4064 E 53rd St',
 3731: '5811 Elmore Ave',
 3354: '3845 Elmore Ave.',
 2838: '1655 W Kimberly Rd',
 4751: '1720 W Kimberly Rd',
 4694: '3815, West Kimberly Rd',
 2567: '2200 West Kimberly',
 4638: '4607 N Pine St',
 3858: '6723 NW Blvd Unit 2',
 5215: '1220, N Cody Rd',
 4196: '1635 West 53rd St',
 5029: '211, W 53rd St',
 4847: '1301 Eagle Ridge Rd',
 3420: '1101  73RD STREET',
 3645: '1001  73rd St',
 4461: '7220 Hickman Rd',
 4388: '11925 University Ave',
 2854: '14201 Hickman Rd',
 4392: '15600 Hickman Rd',
 4732: '15601 Hickman Rd',
 4733: '4600 86th St',
 4661: '1900, SE 37th St',
 4374: '1950 Princeton Dr',
 4209: '2150 East 1st St',
 4375: '801 N 1st St',
 4344: '109 East 1st St Ste B',
 4901: '1101 S 5th St',
 4362: '303 W Broadway St',
 4083: '109 SE Oralabor Rd',
 4609: '165 SW Magazine Rd',
 4397: '802 E 1st St',
 4405: '1025 E  1st St',
 2106: '2217 College',
 2130: '617 Sycamore',
 5155: '1459, Ansborough Ave',
 4988: '5925 University Ave',
 4932: '3105 Hudson Rd',
 4959: '2128 College St',
 3995: '6027 University Ave Ste 100',
 4761: '3910 University Ave',
 4958: '809 E 18th St',
 3713: '4151  4th St SW',
 3528: '3450  4th St SW',
 2515: '2400 4th St SW',
 3664: '90 10th St S',
 2652: '875  4th St SW',
 2582: '551 S Illinois Ave',
 5034: '18 N Monroe Ave',
 5251: '1303, North Federal',
 4668: '20 South 4th St',
 3456: '904 N 8th St',
 4969: '910 N 8th St W',
 4091: '910 Hwy 18 W',
 5069: '101 N Lake St',
 5334: '107 N Mill St',
 5115: '204, E South St',
 4104: '400 North Delaware Ave',
 5280: '1920 Federal Ave S',
 5247: '202 4th  ST  N',
 3525: '106 W 2nd St',
 2517: '1501 First Avenue East',
 4807: '103, W Walnut St',
 4787: '2722 NE 120th St',
 4493: '5655 C St SW',
 4500: '595 N Kansas Ave',
 4427: '610 N Kansas Ave',
 5196: '100 E  OAKDALE BLVD',
 4713: '2751 Heartland Dr',
 3670: '2801 Commerce Dr',
 4366: '101 Village Dr',
 5011: '2177 M Ave',
 3888: '415 Industrial Ave',
 2579: '320 West Street South',
 3054: '1026 Main',
 4345: '1031 West St',
 4185: '727 West St',
 5138: '103, Blair St',
 4604: '1324, 1st Ave E',
 5116: '702, 1st Ave E',
 4194: '120 N 3rd Ave E',
 3041: '28 E Howard',
 3514: '328  2nd Ave S',
 9002: '303 N Cody Rd',
 9902: '303 N Cody Road',
 5321: '606 13th St',
 5303: '108 Iowa Ave W',
 3719: '2802 S Center St',
 2544: '802 South Center',
 5248: '114, N  Center  St',
 5346: '1116 East Nevada St',
 4756: '5 E Anson',
 5324: '120 E. Main St.',
 5179: '103, N  Main St',
 4727: '2702 SE Delaware Ave',
 4810: '3603 NE Otterview Circle',
 4084: '3205 North Ankeny Blvd',
 4404: '1825 N Ankeny Blvd',
 4726: '901 N Ankeny Blvd',
 4601: '2110 Guthrie Ave',
 4598: '2221 E Euclid Ave',
 4795: '2545 E Euclid Ave',
 5125: '1320 E  Euclid Ave',
 4803: '104 E Euclid Ave',
 4140: '100 Euclid Ave',
 4802: '4415 Douglas Ave',
 5162: '6401, Douglas Ave',
 3877: '5901 Douglas Ave',
 4941: '6990 Douglas Ave',
 4447: '9915, Douglas Ave',
 2587: '5750 Merle Hay Road',
 2648: '555 S 51st St',
 4368: '5800 Northglen Dr',
 4725: '2905 W  1st St',
 2528: '3221 SE 14th St',
 4603: '3200 SE 14th St',
 2561: '4605 Fleur Drive',
 4301: '1805 SE 14th St',
 5129: '4121 Fleur Dr',
 4595: '4024 Fleur Dr',
 4997: '218, 6th Ave #101',
 4942: '333 E GRAND AVE',
 2849: '3151 SE 14th St',
 4798: '3140 SE 14th St',
 3678: '1918 SE 14th St',
 4877: '1775 NW 86th St',
 2248: '3500 Ingersoll Ave',
 5127: '3425 Ingersoll Ave',
 4804: '3501 Ingersoll Ave',
 2535: '1700 Valley West Dr',
 4230: '10151 University Ave',
 2630: '1010  60th St',
 4373: '141 S Jordan Creek Pkwy',
 3814: '7205 Mills Civic Pkwy',
 3899: '6365 Stagecoach Dr',
 5347: '220 50th St',
 4927: '3501 Ep True Pkwy',
 2521: '1990 Grand Avenue',
 5146: '329 Grand Ave',
 4718: '1660 22nd St',
 4521: '504 16th St N',
 4190: '1207 N Elm St',
 2671: '106, W Washington St',
 5205: '201 Idaho St',
 4158: '709 Monterey Dr',
 4613: '402 E 6th St',
 4688: '105 E 6th St',
 2593: '905 US Highway 30 West',
 4014: '510 C Ave',
 4410: '1219 1st St',
 4001: '2014 Kitty Hawk Ave',
 2595: '1620  4th Ave, South',
 3756: '316 Main St',
 5343: '403 Main St.',
 4917: '1115 Ia Hwy 141',
 2612: '1215  141 St',
 4320: '1315 Willis Ave',
 5012: '2810, Willis Ave',
 3831: '301 Annex Rd',
 3987: '111 S Phillips St',
 4169: '1824 Hubbell Ave',
 4385: '1453 Co Hwy G76',
 5144: '4625 SE Delaware Ave',
 2628: '1616 Edgington',
 4110: '706 Highway 57',
 2657: '1604 Bent',
 2620: '7101 University Ave',
 4893: '105 Grand Ave',
 4594: '901 SW 63rd St',
 4369: '2992 Sunset Dr',
 4092: '1711 Sunset Dr',
 4260: '215 S Main St',
 2550: '510 West Mclane',
 3997: '2400 College Dr',
 4419: '2091 E Main St',
 2668: '1004 W 1st St',
 3826: '777 Casino Dr',
 4382: '1293 8th Ave',
 4801: '3030 University Ave',
 5098: '1621 University Ave',
 4165: '113 SE Delaware Ave Ste 101',
 4549: '702 Us Hwy 65',
 5337: '119 N. Main St',
 4659: '409 E Center',
 4250: '1232 14th St',
 4455: '2359 Edgington Ave',
 4657: '308 N Washington',
 5206: '1400 G  Ave',
 4495: '504, G Ave',
 4396: '606 Grundy Ave',
 4306: '1208  4th St NE',
 4547: '309 Central Ave West',
 4421: '609 Central Ave W',
 2460: '721 Central Avenue West',
 4658: '904 Washington Ave',
 4284: '500 Iowa St',
 2658: '402 S Hayes St',
 3813: '104 North Fillmore',
 2655: '1200 S 16TH ST',
 4249: '115 Essie Davison Dr',
 5210: '900, E  Washington  St',
 4246: '1007 S Fremont St',
 2607: '520 So Fremont',
 4937: '1310 W Sheridan Ave',
 4629: '309 N Locust St',
 4708: '423 SHARP ST',
 4010: '900 S Locust St',
 4738: '1030, Veteran Memorial Hwy',
 4545: '14151 Wabash Ave',
 4510: '701 Main St',
 2518: '1607 North Broadway',
 4318: '811 Broadway',
 2656: '300  10th St',
 2327: '801 Hull St',
 5110: '200, N Walnut St',
 3830: '806 Laurel St',
 2553: '600 Sheldon',
 2672: '923 N  1st St',
 4823: '903 N Sumner Ave',
 4291: '105 E Adams St',
 4531: '501 N Douglas St',
 2228: '53 Green St',
 4848: '111 E Jefferson St',
 4907: '2323 Main St',
 4947: '1420 W First St',
 4147: '214 N Magnolia Dr',
 3819: '915 Short St',
 4631: '2425, Whitetail Dr',
 4914: '2728 Center St',
 2835: '2302 West First St',
 4723: '2509 Whitetail Dr',
 5007: '1022 Skylar St',
 5181: '1101, Jefferson St',
 5352: '600 7th Ave',
 3717: '201 W 1st St',
 3857: '9th St SW B',
 4762: '101 Main St',
 4818: '303, College Dr',
 4183: '103 E Main',
 3721: '1798 Old Stage Rd',
 4289: '777  11th Ave SW',
 2178: '618 Rossville Road',
 5017: '417 Main St',
 5330: '124 West Tilden St.',
 4973: '303, Hwy 150 N',
 4466: '515 W Water St',
 5180: '801, E  Charles  St',
 4628: '137 2nd Ave SE',
 4156: '102  2nd Ave SE',
 5199: '701, S  Frederick  Ave',
 3584: '1011 S Frederick M/a Po Bx 572',
 4395: '1111 Ia Highway 175',
 4651: '301 MAIN ST',
 5297: '1803 Superior St',
 2602: '823  2nd St',
 4709: '2719 Grand Ave',
 5187: '125 6th ST',
 4235: '942  2nd St',
 5296: '1102 2nd St',
 4133: '1447  2nd St',
 4459: '1120 S Commercial',
 4236: '205 NW  1st St',
 4556: '319 E Hwy 3',
 3056: '325 Central Ave W',
 4591: '222, Central Ave',
 5287: '300 Central Ave W',
 5302: '112 River Ave S',
 3654: '207 E Main St',
 4247: '512 River Ave N',
 4172: '1204 Water St Po Box 177',
 4355: '1554 Broad St',
 4081: '306 Washington',
 4102: '619 Burnett Ave',
 4675: '2801 E 13th St',
 4767: '6981 NE 14th St',
 5245: '1516, SE  1st St',
 5051: '630 SW  9TH ST',
 4478: '3000, SW 9th St',
 4597: '850 Army Post Rd',
 5145: '1101 Army Post Rd',
 4186: '5901 FLEUR DR',
 5131: '1401, Buchanan St',
 3700: '158 South Elm',
 5322: '212 West Wood St.',
 4743: '1801 Valley View Dr',
 3443: '1141 N Broadway',
 3728: '726 Creek Top',
 4476: '15 North 16th St',
 5182: '1749 W Broadway',
 3963: '1925 W Broadway',
 4740: '2508 W Broadway',
 5327: '3540 W Broadway',
 4317: '212 SW Kent',
 4626: '3632, Avenue G',
 4808: '3500, Ave A',
 4474: '3501 W Broadway St',
 4608: '510, 23rd Ave',
 5314: '3134 Manawa Center Dr. # 9',
 4462: '113 1st St NW',
 4509: '2515 Chamberlain',
 3477: '3221 Manawa Centre Dr',
 4503: '102 W Main St',
 4516: '205 Brown St',
 4463: '145 Us Hwy 18 W',
 4780: '576, N Main Ave',
 3682: '110 E Main St',
 4268: '1905 Highway 18 E',
 2585: '1516 Highway 169 North',
 3842: '107 N Portland St Po Bx 222',
 4650: '202, W 4th Ave',
 4073: '306 Hwy 69 South',
 3881: '120 E Main St',
 5126: '4343 Merle Hay Rd',
 2539: 'Highway 65 South',
 2651: '1311 4 Street SW',
 4146: '220 W Bremer Ave',
 4538: '402 North Main St',
 4999: '213 S Main St',
 4700: '306, N Main',
 3676: '107 E Traer',
 4203: '620 W Bremer Ave',
 4924: '2757 Charles City Rd',
 3688: '100 W Main St',
 4285: '102 S Water Ave',
 4143: '603  E HWY 24',
 4233: '112 S Elm St',
 4769: '100 Grant St',
 4559: '633 CHASE ST',
 3542: '244 W 4TH ST',
 4986: '68 Monroe St',
 5134: '609, S Main St',
 5121: '1908, Clark St',
 4321: '210  11th St',
 2578: '901 Kelly St',
 4524: '14 E Congress',
 3045: '8 2nd St NW',
 4600: '4200 E Hubbell Ave',
 4273: '2800 E University Ave',
 4057: '1434 Des Moines St Ste 5',
 3825: '1372 E 14th St',
 4062: '145 University Ave',
 5128: '1819 Beaver Ave',
 2852: '2303 Merle Hay Rd',
 3612: '509 E Platt',
 3778: '4538 Lower Beaver Rd',
 2850: '215 E Euclid Ave',
 5338: '5050 NW 2nd Ave',

In [180]:
def get_address(x,y):
    storelist=list(storedict.keys())
    if (pd.isna(x)) & (y in storelist):
        return storedict[y]
    else:
        return x

In [169]:
storelist=list(storedict.keys())

In [172]:
ytest17=y17

In [157]:
ytest17['Address'].isna().sum()

1411

In [181]:
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

In [182]:
ytest17['Address'].isna().sum()

1

In [184]:
ytest17[ytest17['Address'].isna()]['Store Number']

1050009    9932
Name: Store Number, dtype: int64

In [179]:
ytest17.isna().sum()

Unnamed: 0                  0
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

In [113]:
len(ytest17[ytest17['Address'].isna()]['Store Number'].unique())

26

In [117]:
ytest17['Address'].isna().sum()

1284

In [119]:
len(y17[y17['Address'].isna()]['Store Number'].unique())

27

In [120]:
y17['Address'].isna().sum()

1411

In [100]:
c=0
for i in snumna:
    slist=list(y17[y17['Store Number']==i]['Address'].unique())
    for j in slist:
        if pd.notna(j):
            print(j)
            break

924 Locust St
2001 W 2nd Ave
7229 University Ave
101 E 4th St
2303 Muscatine Ave
822 1st  Ave
5901 Mills Civic Pkwy #2000
107 IA HWY 60
3105 Grand Prairie Pkwy
205 2nd St
114, N  Center  St
757 W BROADWAY
5120, NE 14th Street
6005, Merle Hay Road
3330, 16th Avenue
3000, SW 9th St
14562, Washington Rd
501 Antuque Country Dr
1724, 5th  Ave S
811 Hwy 105
710 First Ave N
501 7th ave SE
4107, Center Point Rd NE
2608 E. Central Avenue
1205 Curtis Br Rd NE
85  4th St

In [7]:
# does store 9932 have an address in any of the years?
print(y17[y17['Store Number']=='9932']['Address'].unique(),
y16[y16['Store Number']=='9932']['Address'].unique(),
y15[y15['Store Number']=='9932']['Address'].unique(),
y14[y14['Store Number']=='9932']['Address'].unique(),
y13[y13['Store Number']=='9932']['Address'].unique(),
y12[y12['Store Number']=='9932']['Address'].unique())

array([], dtype=object)

In [265]:
ytest17=y17

In [266]:
len(ytest17)

1883097

In [267]:
ytest17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 827
Category Name            827
Vendor Number              0
Vendor Name                1
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [89]:
all_na_storeloc[all_na_storeloc['Store Number']==9932]['Store Location']

1050009    Dubuque 52002\n(42.516027, -90.766335)
Name: Store Location, dtype: object

In [95]:
y17[y17['Store Number']==9932]['Store Location'].unique()

array(['Dubuque 52002\n(42.516027, -90.766335)'], dtype=object)

In [127]:
len(ytest17)

1883097

In [283]:
ytest17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 827
Category Name            827
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [241]:
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))
ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))
ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))
ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))
ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))
ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))
ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))
ytest17['Vendor Number']=list(map(get_vendor_number,ytest17['Vendor Number'],ytest17['Item Description']))