In [2]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime
import sys

pd.set_option('display.max_columns',26)
pd.set_option('display.max_rows', None)
#np.set_printoptions(threshold=sys.maxsize)

### Disclaimer: any cell following the heading *** indicates the following cell is a condensed group of commands that must be run to simulate work shown beforehand. These are provided to help anyone actively follow along or for my own future use.

In [3]:
drink=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Iowa_Liqour_Sales//Iowa_Liquor_Sales.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
drink.head(3)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,NaN,NaN,255.0,Wilson Daniels Ltd.,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.5,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,NaN,NaN,255.0,Wilson Daniels Ltd.,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.0,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,NaN,NaN,130.0,Disaronno International LLC,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.3,0.08

In [110]:
drink.columns

NameError: name 'drink' is not defined

In [4]:
drink=drink.drop_duplicates()

In [5]:
drink.shape

(12591077, 24)

In [5]:
drink['Category Name']=list(map(lambda x: x.upper(),drink['Category Name']))
drink['Year']=list(map(lambda x:x[-2:],drink['Date']))
drink['Year'].unique()

array(['15', '13', '12', '14', '16', '17'], dtype=object)

### Because of its size, the original dataset will be split into 6 pieces by year, and map functions will be run on these smaller portions

In [6]:
year12 = drink[drink['Year']=='12']
year12.to_csv('year2012.csv')
year12.shape

(2082059, 25)

In [7]:
year13 = drink[drink['Year']=='13']
year13.to_csv('year2013.csv')
year13.shape

(2063763, 25)

In [8]:
year14 = drink[drink['Year']=='14']
year14.to_csv('year2014.csv')
year14.shape

(2097796, 25)

In [9]:
year15 = drink[drink['Year']=='15']
year15.to_csv('year2015.csv')
year15.shape

(2184483, 25)

In [10]:
year16 = drink[drink['Year']=='16']
year16.to_csv('year2016.csv')
year16.shape

(2279879, 25)

In [11]:
year17 = drink[drink['Year']=='17']
year17.to_csv('year2017.csv')
year17.shape

(1883097, 25)

# ***

In [2]:
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2012.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2013.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2014.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2015.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2016.csv')
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//year2017.csv')

# ***

In [12]:
#dummy dataframe to use as an example how dictionaries and functions are applied, easier names to call each portion
ytest17=year17
y12=year12
y13=year13
y14=year14
y15=year15
y16=year16
y17=year17

# Creating Dictionaries to Clean Nan Values

### Columns with Nan values include : Address, City, Zip Code, Store Location, County Number, County, Category, Category Name, Vendor Number, Vendor Name

In [22]:
# Which columns include nan values in raw data?
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

### For each of these columns, a dictionary is made with a corresponding column where a 1:1 relationship is present. Therefore, the relationship can be used to fill in rows where the data is missing. The process for the 'Address' column walks through this process.

### Address

In [ ]:
#concatenating data from Store Number and Address columns
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
#dropping all nan values from Address (there are no nons in the Store Number column)
sall=sall[sall['Address'].notna()]
#dropping all duplicate store number values 
sall.drop_duplicates(subset=['Store Number'],inplace=True)
#exporting to a file for easy future reference
sall.to_csv('storenumaddress.csv')

In [184]:
#there are 1884 stores in the entire dataset, checking length to confirm uniqueness of values
len(slall)

1884

In [40]:
#create dictionary with 'Store Number' column as keys and 'Address' column as values
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]

In [47]:
#this function will compare see if the address cell in a row is a nan and, if so, attempt to 
# find the key:value pair in the address dictionary to match the store number in the row and fill in the address
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x

In [29]:
#a map function is used to apply the get_address function to all rows in a dataset
ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/359753998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Address']=list(map(get_address,ytest17['Address'],ytest17['Store Number']))

In [31]:
ytest17['Address'].isna().sum()

1

In [41]:
y17[y17['Address'].isna()]['Store Number']

11757989    9932
Name: Store Number, dtype: int64

In [9]:
#Address column will be dropped later so nan is inconsequential,
#the row would be dropped later anyways as the store is in Dubuque, not Des Moines
y17[y17['Store Number']==9932]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
1050009,11757989,INV-05674000001,06/22/2017,9932,"3-Oaks Distillery, LLC",NaN,Dubuque,52002.0,"Dubuque 52002\n(42.516027, -90.766335)",31.0,DUBUQUE,1011100.0,Blended Whiskies,215.0,"3-Oaks Distillery, LLC",27890,3-Oaks Distillery Whiskey,12,750,$21.60,$32.40,1,$388.80,0.75,0.19,17

### Store Location

In [181]:
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
slall.to_csv('storenumlocation.csv')

In [184]:
#there are 1884 stores in the entire dataset, checking length to confirm uniqueness of values
len(slall)

1884

In [185]:
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]

In [186]:
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x

In [34]:
ytest17['Store Location'].isna().sum()

1410

In [35]:
ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/2463105831.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Store Location']=list(map(get_store_location,ytest17['Store Location'],ytest17['Store Number']))

In [36]:
ytest17['Store Location'].isna().sum()

0

### Zip Code

In [129]:
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
zipna.to_csv('storenumzip.csv')

In [132]:
len(zipna)

1884

In [133]:
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]

In [134]:
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x

In [37]:
ytest17['Zip Code'].isna().sum()

1410

In [38]:
ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/836976134.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Zip Code']=list(map(get_zip,ytest17['Zip Code'],ytest17['Store Number']))

In [39]:
ytest17['Zip Code'].isna().sum()

0

### County

In [27]:
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
#countyna.to_csv('storenumcounty.csv')

NameError: name 'y16' is not defined

In [139]:
len(countyna)

1883

In [465]:
ytest17[ytest17['City']=='Mason City']['County'].unique()

array(['CERRO GORD'], dtype=object)

In [466]:
len(ytest17[ytest17['County']=='CERRO GORD'])

27745

In [140]:
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [141]:
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x

In [43]:
ytest17['County'].isna().sum()

1410

In [44]:
ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/2542552146.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['County']=list(map(get_county,ytest17['County'],ytest17['Store Number']))

In [45]:
ytest17['County'].isna().sum()

0

### County Number

In [150]:
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna.to_csv('storenumcountynum.csv')

In [153]:
len(countynumna)

1883

In [154]:
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]

In [155]:
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x

In [46]:
ytest17['County Number'].isna().sum()

1410

In [47]:
ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/2188662252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['County Number']=list(map(get_county_number,ytest17['County Number'],ytest17['Store Number']))

In [48]:
ytest17['County Number'].isna().sum()

0

### City

In [157]:
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna.to_csv('storenumcity.csv')

In [160]:
len(cityna)

1884

In [161]:
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]

In [162]:
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x

In [49]:
ytest17['City'].isna().sum()

1410

In [50]:
ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/825511626.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['City']=list(map(get_city,ytest17['City'],ytest17['Store Number']))

In [51]:
ytest17['City'].isna().sum()

0

### Category

In [328]:
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catna.to_csv('idcategory.csv')

In [332]:
len(catna)

5795

In [333]:
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]

In [334]:
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x

In [52]:
ytest17['Category'].isna().sum()

ytest17['Category']=list(map(category,ytest17['Category'],ytest17['Item Description']))
ytest17['Category']=list(map(category2,ytest17['Category'],ytest17['Item Description']))
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

5835

In [53]:
ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/2001454877.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Category']=list(map(get_category,ytest17['Category'],ytest17['Item Description']))

In [54]:
ytest17['Category'].isna().sum()

827

In [59]:
ytest17[ytest17['Category'].isna()].head()

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
10709494,INV-02503200001,01/03/2017,2590,Hy-Vee Food Store #5 / Cedar Rapids,3235 Oakland Road NE,Cedar Rapids,52402.0,3235 Oakland Road NE\nCedar Rapids 52402\n(42....,57.0,LINN,NaN,NaN,305.0,Mhw LTD,965015,Galliano L'Autentico,12,750,$19.05,$28.58,1,$342.96,0.75,0.19,17
10924145,INV-03158200002,02/08/2017,4129,Cyclone Liquors,626 Lincoln Way,Ames,50010.0,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",85.0,STORY,NaN,NaN,363.0,Paterno Imports LTD,995509,Bains Cape Mountain Whiskey,6,750,$18.95,$28.43,3,$170.58,2.25,0.59,17
10924152,INV-03158200009,02/08/2017,4129,Cyclone Liquors,626 Lincoln Way,Ames,50010.0,"626 Lincoln Way\nAmes 50010\n(42.022854, -93.6...",85.0,STORY,NaN,NaN,363.0,Paterno Imports LTD,995508,Don Pancho Origenes 8YR Rum,6,750,$20.34,$30.51,1,$183.06,0.75,0.19,17
10938419,INV-03200500002,02/10/2017,4669,Vom Fass / Des Moines,"833, 42nd St",Des Moines,50312.0,"833, 42nd St\nDes Moines 50312\n(41.593431, -9...",77.0,POLK,NaN,NaN,885.0,YAHARA BAY DISTILLERS INC,995214,Barbados Rum 100ml,1,100,$38.74,$58.11,1,$58.11,0.10,0.02,17
10938420,INV-03200500003,02/10/2017,4669,Vom Fass / Des Moines,"833, 42nd St",Des Moines,50312.0,"833, 42nd St\nDes Moines 50312\n(41.593431, -9...",77.0,POLK,NaN,NaN,885.0,YAHARA BAY DISTILLERS INC,995218,Barbados Rum 1 Liter,1,1000,$23.67,$35.51,1,$35.51,1.00,0.26,17

In [337]:
#'What' are the unique item descriptions of the rows with these 'Category' nan values
ytest17[ytest17['Category'].isna()]['Item Description'].unique()

array(["Galliano L'Autentico", 'Bains Cape Mountain Whiskey',
       'Don Pancho Origenes 8YR Rum', 'Barbados Rum 100ml',
       'Barbados Rum 1 Liter', 'Barbados Rum 200 ml',
       'Barbados Rum 375ml', 'Barbados Rum 50ml', 'Barbados Rum 750ml',
       'Spanish Single Malt 100ml', 'Spanish Single Malt 1 Liter',
       'Spanish Single Malt 375ml', 'Spanish Single Malt 50ml',
       'Spanish Single Malt 750ml', 'Spanish Single Malt 200ml',
       'Deep Eddy  Lemon Vodka', 'Diplomatico Reserva Exclusiva',
       'Grand Teton Vodka', '"Beefeater ""24"""', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Valentine Vodka', 'Ansac VS  Cognac',
       'Aalborg Jubilaeums Aquavit', 'Patron Silver 750 Box Tray Pack',
       'Patron Citronge Mango', 'Lairds Old Apple Brandy 7YR',
       'Green Absinthe', 'Red Absinthe', 'Deanston Organic 14YR',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Orphan Barrel Barterhouse', 'HA Orphan Barrel Forged Oak',
       'Rothman & Winter Orchard Peach',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'HA Pikesville Rye 110prf',
       'HA Johnnie Walker Private Collection 2014 Smoke',
       'Old Forester 1920', 'Jose Cuervo Especial Silver/Flask',
       'Jose Cuervo Especial Gold /Flask', 'Ron Abuelo Anejo 7YR',
       "Aberlour A''bunadh", 'El Mayor Extra Anejo 100% Agave',
       'Ezra Brooks Bourbon Cream Mini', "Michter's US*1 SB Rye",
       'Glen Moray Scotch Classic Port Cask w/2 Glasses',
       'HA Laphroaig 25YR Cask Strength', 'Ron Abuelo 12YR',
       'Zaya Gran Reserva Rum w/2 Rocks Glasses',
       'Corralejo Silver w/2 Sangrita Glasses',
       'Southern Comfort w/2 Rock Glasses',
       'Crystal Head Vodka w/2 Skull Glasses', 'Hornitos Plata w/Glasses',
       'Hornitos Reposado w/Glasses',
       'Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'],
      dtype=object)

In [60]:
#The dictionary misses several items in the category column. A large list was compiled by manually 
#identifying the problematic categories for their respective items

def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
            return '1082900.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 100ml'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 1 Liter'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 375ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 50ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 750ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 200ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Deep Eddy Lemon Vodka'):
        return '1031200.'
    elif (pd.isna(x)) and (y=='"Beefeater ""24"""'):
        return '1042100.'
    elif (pd.isna(x)) and (y=='Ansac VS  Cognac'):
        return '1052100.'
    elif (pd.isna(x)) and (y=='Aalborg Jubilaeums Aquavit'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Patron Silver 750 Box Tray Pack'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Patron Citronge Mango'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Deanston Organic 14YR'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Barterhouse'):
        return '1011200.'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Forged Oak'):
        return '1011200.'
    elif (pd.isna(x)) and (y=='Rothman & Winter Orchard Peach'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='HA Pikesville Rye 110prf'):
        return '1011500.'
    elif (pd.isna(x)) and (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Silver/Flask'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Gold /Flask'):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Aberlour A''bunadh"):
        return '1012210.'
    elif (pd.isna(x)) and (y=='El Mayor Extra Anejo 100% Agave'):
        return '1022100.'
    elif (pd.isna(x)) and (y=='Ezra Brooks Bourbon Cream Mini'):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Michter's US*1 SB Rye"):
        return '1011500.'
    elif (pd.isna(x)) and (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Corralejo Silver w/2 Sangrita Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Southern Comfort w/2 Rock Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Crystal Head Vodka w/2 Skull Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Hornitos Plata w/Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Hornitos Reposado w/Glasses'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
        return '1701100.'
    else:
        return x

In [61]:
ytest17['Category']=list(map(category,ytest17['Category'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/2395316346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Category']=list(map(category,ytest17['Category'],ytest17['Item Description']))

In [62]:
#after applying map function, how many nan values are still in 'Category'
ytest17['Category'].isna().sum()

128

In [70]:
#I was not able to identify the Categories of the following:
ytest17[ytest17['Category'].isna()]['Item Description'].unique()

array(['Bains Cape Mountain Whiskey', 'Don Pancho Origenes 8YR Rum',
       'Barbados Rum 100ml', 'Barbados Rum 1 Liter',
       'Barbados Rum 200 ml', 'Barbados Rum 375ml', 'Barbados Rum 50ml',
       'Barbados Rum 750ml', 'Deep Eddy  Lemon Vodka',
       'Diplomatico Reserva Exclusiva', 'Grand Teton Vodka',
       'Athena Liq Ouzo Rum', 'Glenmorangie Bacalta HA',
       'Valentine Vodka', 'Lairds Old Apple Brandy 7YR', 'Green Absinthe',
       'Red Absinthe', 'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'Old Forester 1920',
       'Ron Abuelo Anejo 7YR', 'HA Laphroaig 25YR Cask Strength',
       'Ron Abuelo 12YR'], dtype=object)

### Category Name

In [250]:
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena.to_csv('idcategoryname.csv')

In [253]:
len(catnamena)

5758

In [254]:
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]

In [255]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x

In [63]:
#no na values after function is applied (perfect!)
ytest17['Category Name'].isna().sum()

5835

In [64]:
ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/1951155326.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Category Name']=list(map(get_category_name,ytest17['Category Name'],ytest17['Item Description']))

In [65]:
#no na values after function is applied (perfect!)
ytest17['Category Name'].isna().sum()

827

In [66]:
# As Category and Category Name are related and cleaned with the same approach, the category name dictionary 
#also misses several items in the Category Name column. A large list was also compiled for this column by manually 
#identifying the problematic Category Names for their respective items

def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 100ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 1 Liter'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 375ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 50ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 750ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 200ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Deep Eddy  Lemon Vodka'):
        return 'VODKA FLAVORED'
    elif (pd.isna(x)) and (y=='"Beefeater ""24"""'):
        return 'IMPORTED DRY GINS'
    elif (pd.isna(x)) and (y=='Ansac VS  Cognac'):
        return 'Imported Brandies'
    elif (pd.isna(x)) and (y=='Aalborg Jubilaeums Aquavit'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Patron Silver 750 Box Tray Pack'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Patron Citronge Mango'):
        return '100% Agave Tequila'
    elif (pd.isna(x)) and (y=='Deanston Organic 14YR'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Barterhouse'):
        return 'STRAIGHT BOURBON WHISKIES'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Forged Oak'):
        return 'STRAIGHT BOURBON WHISKIES'
    elif (pd.isna(x)) and (y=='Rothman & Winter Orchard Peach'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='HA Pikesville Rye 110prf'):
        return 'STRAIGHT RYE WHISKIES'
    elif (pd.isna(x)) and (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Silver/Flask'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Gold /Flask'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Aberlour A''bunadh"):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='El Mayor Extra Anejo 100% Agave'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Ezra Brooks Bourbon Cream Mini'):
        return 'Temporary & Specialty Packages'
    elif (pd.isna(x)) and (y=="Michter's US*1 SB Rye"):
        return 'STRAIGHT RYE WHISKIES'
    elif (pd.isna(x)) and (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
        return   'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Corralejo Silver w/2 Sangrita Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Southern Comfort w/2 Rock Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Crystal Head Vodka w/2 Skull Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Hornitos Plata w/Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Hornitos Reposado w/Glasses'):
        return   'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    else:
        return x

In [67]:
ytest17['Category Name']=list(map(category_name,ytest17['Category Name'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/669116045.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Category Name']=list(map(category_name,ytest17['Category Name'],ytest17['Item Description']))

In [68]:
ytest17['Category Name'].isna().sum()

126

In [69]:
#I was not able to identify the Category Names of the following:
ytest17[ytest17['Category Name'].isna()]['Item Description'].unique()

array(['Bains Cape Mountain Whiskey', 'Don Pancho Origenes 8YR Rum',
       'Barbados Rum 100ml', 'Barbados Rum 1 Liter',
       'Barbados Rum 200 ml', 'Barbados Rum 375ml', 'Barbados Rum 50ml',
       'Barbados Rum 750ml', 'Diplomatico Reserva Exclusiva',
       'Grand Teton Vodka', 'Athena Liq Ouzo Rum',
       'Glenmorangie Bacalta HA', 'Valentine Vodka',
       'Lairds Old Apple Brandy 7YR', 'Green Absinthe', 'Red Absinthe',
       'Calvados Morin Selection 3YR',
       'Seven Devils Straight Bourbon Whiskey HA', 'HA Seven Devils',
       'Don Amado Mezcal Rustico', 'HA Michters US*1 Small Batch',
       'HA Abraham Bowman Wine Finish Whiskey',
       'HA Highland Park Ice Edition', 'Old Forester 1920',
       'Ron Abuelo Anejo 7YR', 'HA Laphroaig 25YR Cask Strength',
       'Ron Abuelo 12YR'], dtype=object)

### Vendor Name

In [268]:
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna.to_csv('storenumvendorname.csv')

In [271]:
len(vennumna)

5865

In [272]:
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]

In [273]:
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x

In [71]:
ytest17['Vendor Name'].isna().sum()

1

In [72]:
ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/1169516977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Vendor Name']=list(map(get_vendor_name,ytest17['Vendor Name'],ytest17['Item Description']))

In [73]:
ytest17['Vendor Name'].isna().sum()

0

### Vendor Number

In [257]:
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)
vennum.to_csv('storenumvendornumber.csv')

In [260]:
len(vennum)

5863

In [261]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]

In [262]:
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

In [77]:
ytest17['Vendor Number'].isna().sum()

1

In [78]:
ytest17['Vendor Number']=list(map(get_vendor_number,ytest17['Vendor Number'],ytest17['Item Description']))

C:\Users\Owner\AppData\Local\Temp/ipykernel_20456/1628091444.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ytest17['Vendor Number']=list(map(get_vendor_number,ytest17['Vendor Number'],ytest17['Item Description']))

In [79]:
ytest17['Vendor Name'].isna().sum()

0

## After all functions are applied, we see the nan values extremely reduced in test dataframe

In [91]:
ytest17.isna().sum()

Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 128
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

# Summary of all functions and dictionaries made above to apply to datasets quickly later on

# ***

In [13]:
sall=pd.concat([y17[['Store Number','Address']],y16[['Store Number','Address']],y15[['Store Number','Address']],y14[['Store Number','Address']],y13[['Store Number','Address']],y12[['Store Number','Address']]])
sall=sall[sall['Address'].notna()]
sall.drop_duplicates(subset=['Store Number'],inplace=True)
slall=pd.concat([y17[['Store Number','Store Location']],y16[['Store Number','Store Location']],y15[['Store Number','Store Location']],y14[['Store Number','Store Location']],y13[['Store Number','Store Location']],y12[['Store Number','Store Location']]])
slall=slall[slall['Store Location'].notna()]
slall.drop_duplicates(subset=['Store Number'],inplace=True)
zipna=pd.concat([y17[['Store Number','Zip Code']],y16[['Store Number','Zip Code']],y15[['Store Number','Zip Code']],y14[['Store Number','Zip Code']],y13[['Store Number','Zip Code']],y12[['Store Number','Zip Code']]])
zipna=zipna[zipna['Zip Code'].notna()]
zipna.drop_duplicates(subset=['Store Number'],inplace=True)
countyna=pd.concat([y17[['Store Number','County']],y16[['Store Number','County']],y15[['Store Number','County']],y14[['Store Number','County']],y13[['Store Number','County']],y12[['Store Number','County']]])
countyna=countyna[countyna['County'].notna()]
countyna.drop_duplicates(subset=['Store Number'],inplace=True)
countynumna=pd.concat([y17[['Store Number','County Number']],y16[['Store Number','County Number']],y15[['Store Number','County Number']],y14[['Store Number','County Number']],y13[['Store Number','County Number']],y12[['Store Number','County Number']]])
countynumna=countynumna[countynumna['County Number'].notna()]
countynumna.drop_duplicates(subset=['Store Number'],inplace=True)
cityna=pd.concat([y17[['Store Number','City']],y16[['Store Number','City']],y15[['Store Number','City']],y14[['Store Number','City']],y13[['Store Number','City']],y12[['Store Number','City']]])
cityna=cityna[cityna['City'].notna()]
cityna.drop_duplicates(subset=['Store Number'],inplace=True)
catna=pd.concat([y17[['Item Description','Category']],y16[['Item Description','Category']],y15[['Item Description','Category']],y14[['Item Description','Category']],y13[['Item Description','Category']],y12[['Item Description','Category']]])
catna=catna[catna['Category'].notna()]
catna.drop_duplicates(subset=['Item Description'],inplace=True)
catnamena=pd.concat([y17[['Item Description','Category Name']],y16[['Item Description','Category Name']],y15[['Item Description','Category Name']],y14[['Item Description','Category Name']],y13[['Item Description','Category Name']],y12[['Item Description','Category Name']]])
catnamena=catnamena[catnamena['Category Name'].notna()]
catnamena.drop_duplicates(subset=['Item Description'],inplace=True)
vennumna=pd.concat([y17[['Item Description','Vendor Name']],y16[['Item Description','Vendor Name']],y15[['Item Description','Vendor Name']],y14[['Item Description','Vendor Name']],y13[['Item Description','Vendor Name']],y12[['Item Description','Vendor Name']]])
vennumna=vennumna[vennumna['Vendor Name'].notna()]
vennumna.drop_duplicates(subset=['Item Description'],inplace=True)
vennum=pd.concat([y17[['Item Description','Vendor Number']],y16[['Item Description','Vendor Number']],y15[['Item Description','Vendor Number']],y14[['Item Description','Vendor Number']],y13[['Item Description','Vendor Number']],y12[['Item Description','Vendor Number']]])
vennum=vennum[vennum['Vendor Number'].notna()]
vennum.drop_duplicates(subset=['Item Description'],inplace=True)

# ***

In [24]:
sall.to_csv('storenumaddress.csv')
slall.to_csv('storenumlocation.csv')
zipna.to_csv('storenumzip.csv')
countyna.to_csv('storenumcounty.csv')
countynumna.to_csv('storenumcountynum.csv')
cityna.to_csv('storenumcity.csv')
catna.to_csv('idcategory.csv')
catnamena.to_csv('idcategoryname.csv')
vennumna.to_csv('storenumvendorname.csv')
vennum.to_csv('storenumvendornumber.csv')

# ***

In [14]:
vennumdict={}
for i in vennum['Item Description']:
    vennumdict[i]=vennum[vennum['Item Description']==i]['Vendor Number'].values[0]
vennumnadict={}
for i in vennumna['Item Description']:
    vennumnadict[i]=vennumna[vennumna['Item Description']==i]['Vendor Name'].values[0]
catnamedict={}
for i in catnamena['Item Description']:
    catnamedict[i]=catnamena[catnamena['Item Description']==i]['Category Name'].values[0]
catdict={}
for i in catna['Item Description']:
    catdict[i]=catna[catna['Item Description']==i]['Category'].values[0]
citydict={}
for i in cityna['Store Number']:
    citydict[i]=cityna[cityna['Store Number']==i]['City'].values[0]
countynumdict={}
for i in countynumna['Store Number']:
    countynumdict[i]=countynumna[countynumna['Store Number']==i]['County Number'].values[0]
slalldict={}
for i in slall['Store Number']:
    slalldict[i]=slall[slall['Store Number']==i]['Store Location'].values[0]
salldict={}
for i in sall['Store Number']:
    salldict[i]=sall[sall['Store Number']==i]['Address'].values[0]
zipdict={}
for i in zipna['Store Number']:
    zipdict[i]=zipna[zipna['Store Number']==i]['Zip Code'].values[0]
countydict={}
for i in countyna['Store Number']:
    countydict[i]=countyna[countyna['Store Number']==i]['County'].values[0]

In [ ]:
#import all saved dictionaries (if needed)
saddy=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumaddress.csv')
scity=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcity.csv')
sco=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcounty.csv')
sconum=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumcountynum.csv')
sloc=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumlocation.csv')
szip=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumzip.csv')
venname=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumvendorname.csv')
vennum=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//storenumvendornumber.csv')
cat=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//idcategory.csv')
catname=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//idcategoryname.csv')

# ***

In [15]:
def get_category_name(x,y):
    storelist=list(catnamedict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catnamedict[y]
    else:
        return x
def get_category(x,y):
    storelist=list(catdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return catdict[y]
    else:
        return x
def get_address(x,y):
    storelist=list(salldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return salldict[y]
    else:
        return x
def get_store_location(x,y):
    storelist=list(slalldict.keys())
    if (pd.isna(x)) & (y in storelist):
        return slalldict[y]
    else:
        return x
def get_zip(x,y):
    storelist=list(zipdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return zipdict[y]
    else:
        return x
def get_county(x,y):
    storelist=list(countydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countydict[y]
    else:
        return x
def get_county_number(x,y):
    storelist=list(countynumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return countynumdict[y]
    else:
        return x
def get_city(x,y):
    storelist=list(citydict.keys())
    if (pd.isna(x)) and (y in storelist):
        return citydict[y]
    else:
        return x
def get_vendor_name(x,y):
    storelist=list(vennumnadict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumnadict[y]
    else:
        return x
def get_vendor_number(x,y):
    storelist=list(vennumdict.keys())
    if (pd.isna(x)) and (y in storelist):
        return vennumdict[y]
    else:
        return x

# ***

In [16]:
#get_county uses Store Number in dictionary and misses the county for cities of Guttenberg and Belmond
def county(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return 'Clayton'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return 'Wright'
    else:
        return x

#get_county_number uses Store Number in dictionary and misses the county number for cities of Guttenberg and Belmond
def county_number(x,y):
    if (pd.isna(x)) and (y=='GUTTENBERG'):
        return '22.'
    elif (pd.isna(x)) and (y=='BELMOND'):
        return '99.'
    else:
        return x
    
def category_name(x,y):
    if (pd.isna(x)) and (y=='Herradura Gold Reposado 6pak'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return 'CREAM LIQUEURS'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Rogue Dark Rum'):
        return 'AGED DARK RUM'
    elif (pd.isna(x)) and (y=='Ultimat Vodka'):
        return 'IMPORTED VODKA'
    elif (pd.isna(x)) and (y=='Herradura Anejo Tequila'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=="Whaler's Original Dark Rum"):
        return 'SPECIAL ORDER ITEMS'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return 'Holiday VAP'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return 'AMERICAN DRY GINS'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 100ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 1 Liter'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 375ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 50ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 750ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 200ml'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='Deep Eddy  Lemon Vodka'):
        return 'VODKA FLAVORED'
    elif (pd.isna(x)) and (y=='"Beefeater ""24"""'):
        return 'IMPORTED DRY GINS'
    elif (pd.isna(x)) and (y=='Ansac VS  Cognac'):
        return 'Imported Brandies'
    elif (pd.isna(x)) and (y=='Aalborg Jubilaeums Aquavit'):
        return 'Imported Cordials & Liqueur'
    elif (pd.isna(x)) and (y=='Patron Silver 750 Box Tray Pack'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Patron Citronge Mango'):
        return '100% Agave Tequila'
    elif (pd.isna(x)) and (y=='Deanston Organic 14YR'):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Barterhouse'):
        return 'STRAIGHT BOURBON WHISKIES'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Forged Oak'):
        return 'STRAIGHT BOURBON WHISKIES'
    elif (pd.isna(x)) and (y=='Rothman & Winter Orchard Peach'):
        return 'MISC. IMPORTED CORDIALS & LIQUEURS'
    elif (pd.isna(x)) and (y=='HA Pikesville Rye 110prf'):
        return 'STRAIGHT RYE WHISKIES'
    elif (pd.isna(x)) and (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
        return 'SCOTCH WHISKIES'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Silver/Flask'):
        return 'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Gold /Flask'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=="Aberlour A''bunadh"):
        return 'SINGLE MALT SCOTCH'
    elif (pd.isna(x)) and (y=='El Mayor Extra Anejo 100% Agave'):
        return 'TEQUILA'
    elif (pd.isna(x)) and (y=='Ezra Brooks Bourbon Cream Mini'):
        return 'Temporary & Specialty Packages'
    elif (pd.isna(x)) and (y=="Michter's US*1 SB Rye"):
        return 'STRAIGHT RYE WHISKIES'
    elif (pd.isna(x)) and (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
        return   'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Corralejo Silver w/2 Sangrita Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Southern Comfort w/2 Rock Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Crystal Head Vodka w/2 Skull Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Hornitos Plata w/Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Hornitos Reposado w/Glasses'):
        return   'DECANTERS & SPECIALTY PACKAGES'
    elif (pd.isna(x)) and (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
        return  'DECANTERS & SPECIALTY PACKAGES'
    else:
        return x
    
def category(x,y):
    if (pd.isna(x)) and (y=='Evan Williams Egg Nog'):
        return '1081200.'
    elif (pd.isna(x)) and (y=="Carolan's Irish Cream w/2 Bowls"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Wild Turkey American Honey Shot Tap"):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Chambord Liqueur w/2 Glasses"):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Gentleman Jack w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Caravella Limoncello w/Glass'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Craigellachie'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Glenfiddich 1963 Replica HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Pinnacle Candy Cane Trial Pack'):
        return '1701200.'
    elif (pd.isna(x)) and (y=='Dry Fly Gin'):
        return '1041100.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
        return '1082900.'
    elif (pd.isna(x)) and (y=='1800 Reposado'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Grand Marnier Cuvee 1880 HA'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Courvoisier Gold'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='Ardbeg Auriverdes HA'):
        return '1012210.'
    elif (pd.isna(x)) and (y=="Galliano L'Autentico"):
            return '1082900.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 100ml'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 1 Liter'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 375ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 50ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 750ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Spanish Single Malt 200ml'):
        return  '1012210.'
    elif (pd.isna(x)) and (y=='Deep Eddy Lemon Vodka'):
        return '1031200.'
    elif (pd.isna(x)) and (y=='"Beefeater ""24"""'):
        return '1042100.'
    elif (pd.isna(x)) and (y=='Ansac VS  Cognac'):
        return '1052100.'
    elif (pd.isna(x)) and (y=='Aalborg Jubilaeums Aquavit'):
        return '1082100.'
    elif (pd.isna(x)) and (y=='Patron Silver 750 Box Tray Pack'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Patron Citronge Mango'):
        return '1022200.'
    elif (pd.isna(x)) and (y=='Deanston Organic 14YR'):
        return '1012210.'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Barterhouse'):
        return '1011200.'
    elif (pd.isna(x)) and (y=='HA Orphan Barrel Forged Oak'):
        return '1011200.'
    elif (pd.isna(x)) and (y=='Rothman & Winter Orchard Peach'):
        return '1082900.'
    elif (pd.isna(x)) and (y=='HA Pikesville Rye 110prf'):
        return '1011500.'
    elif (pd.isna(x)) and (y=='HA Johnnie Walker Private Collection 2014 Smoke'):
        return '1012200.'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Silver/Flask'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Jose Cuervo Especial Gold /Flask'):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Aberlour A''bunadh"):
        return '1012210.'
    elif (pd.isna(x)) and (y=='El Mayor Extra Anejo 100% Agave'):
        return '1022100.'
    elif (pd.isna(x)) and (y=='Ezra Brooks Bourbon Cream Mini'):
        return '1701100.'
    elif (pd.isna(x)) and (y=="Michter's US*1 SB Rye"):
        return '1011500.'
    elif (pd.isna(x)) and (y=='Glen Moray Scotch Classic Port Cask w/2 Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Zaya Gran Reserva Rum w/2 Rocks Glasses'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Corralejo Silver w/2 Sangrita Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Southern Comfort w/2 Rock Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Crystal Head Vodka w/2 Skull Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Hornitos Plata w/Glasses'):
        return '1701100.'
    elif (pd.isna(x)) and (y=='Hornitos Reposado w/Glasses'):
        return  '1701100.'
    elif (pd.isna(x)) and (y=='Glen Moray Classic Chardonnay Cask Finish w/2 Glasses'):
        return '1701100.'
    else:
        return x

# Applying all dictionaries and functions to each year

In [17]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            3599
County                   3599
Category                  284
Category Name             822
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost          10
State Bottle Retail        10
Bottles Sold                0
Sale (Dollars)             10
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            2660
County                   2660
Category                  298
Category Name             810
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1054
County                   1054
Category                  480
Category Name            1057
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                     0
City                        0
Zip Code                    0
Store Location              0
County Number            1119
County                   1119
Category                  773
Category Name            1462
Vendor Number               0
Vendor Name                 0
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64
Invoice/Item Number          0
Date                         0
Store Number                 0
Store Name                   0
Address                    965
City                       965
Zip Code                  1010
Store Location             965
County Number            69336
County                   69336
Category                   350
Category Name             6100
Vendor Number                2
Vendor Name                  0
Item Number                  0
Item Description             0
Pack                         0
Bottle Volume (ml)           0
State Bottle Cost            0
State Bottle Retail          0
Bottles Sold                 0
Sale (Dollars)               0
Volume Sold (Liters)         0
Volume Sold (Gallons)        0
Year                         0
dtype: int64
Invoice/Item Number         0
Date                        0
Store Number                0
Store Name                  0
Address                  1411
City                     1410
Zip Code                 1410
Store Location           1410
County Number            1410
County                   1410
Category                 5835
Category Name            5835
Vendor Number               1
Vendor Name                 1
Item Number                 0
Item Description            0
Pack                        0
Bottle Volume (ml)          0
State Bottle Cost           0
State Bottle Retail         0
Bottles Sold                0
Sale (Dollars)              0
Volume Sold (Liters)        0
Volume Sold (Gallons)       0
Year                        0
dtype: int64

# ***

In [18]:
#Warning: ~ 1.5 hr. runtime
#This loops through all 6 parts with all maps to reduce nans in all categories
#However, below I more deliberately clean each part to be as accurate as possible
listof6 = (y12,y13,y14,y15,y16,y17)
counter = 12
for i in listof6:
    print(counter)
    i['Address']=list(map(get_address,i['Address'],i['Store Number']))
    i['Store Location']=list(map(get_store_location,i['Store Location'],i['Store Number']))
    i['Zip Code']=list(map(get_zip,i['Zip Code'],i['Store Number']))
    i['City']=list(map(get_city,i['City'],i['Store Number']))
    print(counter+0.25)
    i['County Number']=list(map(get_county_number,i['County Number'],i['Store Number']))
    i['County Number']=list(map(county_number,i['County Number'],i['City']))
    i['County']=list(map(get_county,i['County'],i['Store Number']))
    print(counter+0.5)
    i['County']=list(map(county,i['County'],i['City']))
    i['Category']=list(map(get_category,i['Category'],i['Item Description']))
    i['Category']=list(map(category,i['Category'],i['Item Description']))
    i['Category Name']=list(map(get_category_name,i['Category Name'],i['Item Description']))
    print(counter+0.75)
    i['Category Name']=list(map(category_name,i['Category Name'],i['Item Description']))
    i['Vendor Name']=list(map(get_vendor_name,i['Vendor Name'],i['Item Description']))
    i['Vendor Number']=list(map(get_vendor_number,i['Vendor Number'],i['Item Description']))
    counter+=1

12

C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Address']=list(map(get_address,i['Address'],i['Store Number']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Store Location']=list(map(get_store_location,i['Store Location'],i['Store Number']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Zip Code']=list(map(get_zip,i['Zip Code'],i['Store Number']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['City']=list(map(get_city,i['City'],i['Store Number']))

12.25

C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['County Number']=list(map(get_county_number,i['County Number'],i['Store Number']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['County Number']=list(map(county_number,i['County Number'],i['City']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['County']=list(map(get_county,i['County'],i['Store Number']))

12.5

C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['County']=list(map(county,i['County'],i['City']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Category']=list(map(get_category,i['Category'],i['Item Description']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Category']=list(map(category,i['Category'],i['Item Description']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Category Name']=list(map(get_category_name,i['Category Name'],i['Item Description']))

12.75

C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Category Name']=list(map(category_name,i['Category Name'],i['Item Description']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Vendor Name']=list(map(get_vendor_name,i['Vendor Name'],i['Item Description']))
C:\Users\Owner\AppData\Local\Temp/ipykernel_20532/1301407680.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  i['Vendor Number']=list(map(get_vendor_number,i['Vendor Number'],i['Item Description']))

13
13.25
13.5
13.75
14
14.25
14.5
14.75
15
15.25
15.5
15.75
16
16.25
16.5
16.75
17
17.25
17.5
17.75

# ***

In [19]:
#post loop pre further cleaning checks
y12.to_csv('postloopy12.csv')
y13.to_csv('postloopy13.csv')
y14.to_csv('postloopy14.csv')
y15.to_csv('postloopy15.csv')
y16.to_csv('postloopy16.csv')
y17.to_csv('postloopy17.csv')

# Dataset Cleaning by Year
### There are still hundreds of nans throughout the data that require more inspection, which is soon to come
### First, directly below are results from the inspection that were found best to be applied to all 6 datasets as a whole to make it easier to clean them individually after.

In [5]:
#Checkpoint: read in all postloop files
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy12.csv')
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy13.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy14.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy15.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy16.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//postloopy17.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [15]:
#needed for string columns only
def sametext(a):
    if (pd.isna(a)):
        return a
    else:
        return a.lower()

In [16]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i['Category Name'].nunique())

77
78
78
83
125
85

In [ ]:
for i in listof6:
    print(i.isna().sum())

In [17]:
listof6=(y12,y13,y14,y15,y16,y17)
objlist=('Category Name','City','County', 'Vendor Name','Item Description')
for i in listof6:
    for j in objlist:
        i[j]=list(map(sametext,i[j]))

In [18]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i['Category Name'].nunique())

76
77
77
80
103
71

## Year 2012

In [7]:
y12.isna().sum()

Unnamed: 0                0
Invoice/Item Number       0
Date                      0
Store Number              0
Store Name                0
Address                   0
City                      0
Zip Code                  0
Store Location            0
County Number             0
County                    0
Category                  0
Category Name             0
Vendor Number             0
Vendor Name               0
Item Number               0
Item Description          0
Pack                      0
Bottle Volume (ml)        0
State Bottle Cost        10
State Bottle Retail      10
Bottles Sold              0
Sale (Dollars)           10
Volume Sold (Liters)      0
Volume Sold (Gallons)     0
Year                      0
dtype: int64

In [12]:
#A look at the State Bottle Cost, Retail, and Sale(Dollars) nan are all on the same 10 rows
y12[y12['State Bottle Cost'].isna()]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",93.0,Wayne,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
90574,356024,S03816800149,01/30/2012,2190,"Central City Liquor, Inc.",1460 2ND AVE,DES MOINES,50314,"1460 2ND AVE\nDES MOINES 50314\n(41.60566, -93...",77.0,Polk,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
316371,1247099,S03842900093,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,82.0,Scott,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
331539,1306628,S03839800115,01/31/2012,2593,Hy-Vee Food Store / Carroll,905 US HIGHWAY 30 WEST,CARROLL,51401,905 US HIGHWAY 30 WEST\nCARROLL 51401\n(42.064...,14.0,Carroll,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,2,NaN,1.0,0.26,12
362712,1428507,S03825400160,01/31/2012,2616,Hy-Vee Food and Drug / Clinton,901 SOUTH 4TH ST,CLINTON,52732,"901 SOUTH 4TH ST\nCLINTON 52732\n(41.836268, -...",23.0,Clinton,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12
481611,1896582,S03818000080,01/31/2012,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,AMES,50010,"2515 CHAMBERLAIN\nAMES 50010\n(42.02146, -93.6...",85.0,Story,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
763284,3003583,S03842900089,01/31/2012,2614,Hy-Vee #3 Food and Drugstore,1823 E KIMBERLY RD,DAVENPORT,52807,1823 E KIMBERLY RD\nDAVENPORT 52807\n(41.55678...,82.0,Scott,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,2,NaN,1.2,0.32,12
1102887,4337985,S03841000063,01/31/2012,2549,Hy-Vee Food Store / Indianola,910 N JEFFERSON,INDIANOLA,50125,"910 N JEFFERSON\nINDIANOLA 50125\n(41.368503, ...",91.0,Warren,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,NaN,NaN,1,NaN,0.5,0.13,12
1153506,4536650,S03831800099,01/31/2012,2629,Hy-Vee Food Store #2 / Council Bluff,1745 MADISON AVE,COUNCIL BLUFFS,51503,1745 MADISON AVE\nCOUNCIL BLUFFS 51503\n(41.24...,78.0,Pottawattamie,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,3,NaN,1.8,0.48,12
1529456,6017165,S03814000102,01/30/2012,2623,Hy-Vee Food Store #4 / Sioux City,2827 HAMILTON BLVD,SIOUX CITY,51104,2827 HAMILTON BLVD\nSIOUX CITY 51104\n(42.5198...,97.0,Woodbury,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,2,NaN,1.2,0.32,12

In [14]:
y12[y12['Item Description']=='Titos Handmade Mini']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
12981,51330,S04109800047,02/15/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12
50476,199088,S03816000008,01/30/2012,3583,Mac's Liquor And Videos,220 EAST JEFFERSON,CORYDON,50060,"220 EAST JEFFERSON\nCORYDON 50060\n(40.75718, ...",93.0,Wayne,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,NaN,NaN,1,NaN,0.6,0.16,12
68316,269125,S05068100052,04/16/2012,4219,Lake Liquors Wine and Spirits,910 N 8TH ST W,CLEAR LAKE,50428,"910 N 8TH ST W\nCLEAR LAKE 50428\n(43.142775, ...",17.0,Cerro Gordo,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
79171,310645,S06245700003,06/27/2012,4112,Corridor Ventures,618 MEADE DR,NORTH LIBERTY,52317,"618 MEADE DR\nNORTH LIBERTY 52317\n(41.752451,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,5,$75.25,3.0,0.79,12
88022,345620,S06417000051,07/05/2012,3762,Wine and Spirits Gallery,7690 HICKMAN RD,WINDSOR HEIGHTS,50322,7690 HICKMAN RD\nWINDSOR HEIGHTS 50322\n(41.61...,77.0,Polk,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988219,7827561,S04468100099,03/08/2012,3926,Liquor Downtown / Iowa City,315 S GILBERT ST,IOWA CITY,52240,"315 S GILBERT ST\nIOWA CITY 52240\n(41.657654,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
1999407,7871649,S05800900062,05/30/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
2018232,7946679,S04394400039,03/05/2012,4219,Lake Liquors Wine and Spirits,910 N 8TH ST W,CLEAR LAKE,50428,"910 N 8TH ST W\nCLEAR LAKE 50428\n(43.142775, ...",17.0,Cerro Gordo,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,1,$15.05,0.6,0.16,12
2045674,8054587,S04449100198,03/07/2012,2543,Hy-Vee Food Store #1 / Ottumwa,1025 NORTH QUINCY AVE,OTTUWMA,52501,1025 NORTH QUINCY AVE\nOTTUWMA 52501\n(41.0153...,90.0,Wapello,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,3,$45.15,1.8,0.48,12
2080785,8192615,S03895300130,02/02/2012,2599,Hy-Vee Wine and Spirits / Coralville,1914 8TH STREET,CORALVILLE,52241,"1914 8TH STREET\nCORALVILLE 52241\n(41.682013,...",52.0,Johnson,1031080.0,VODKA 80 PROOF,301.0,Fifth Generation Inc.,38180,Titos Handmade Mini,5,600,$10.03,$15.05,2,$30.10,1.2,0.32,12

In [15]:
y12[y12['Item Description']=='Pearl Wedding Cake Vodka Mini']

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
12444,49098,S06022700051,06/12/2012,2607,Hy-Vee Wine and Spirits / Shenandoah,520 SO FREMONT,SHENANDOAH,51601,520 SO FREMONT\nSHENANDOAH 51601\n,73.0,Page,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,4,$30.00,2.0,0.53,12
17153,67868,S04235900166,02/23/2012,2647,Hy-Vee #7 / Cedar Rapids,5050 EDGEWOOD RD,CEDAR RAPIDS,52411,5050 EDGEWOOD RD\nCEDAR RAPIDS 52411\n(42.0304...,57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
17587,69590,S08633500145,10/29/2012,2500,Hy-Vee Food Store #1 / Ames,3800 W LINCOLN WAY,AMES,50010,"3800 W LINCOLN WAY\nAMES 50010\n(42.023145, -9...",85.0,Story,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
20181,79760,S04773600001,03/28/2012,3569,Katy Did General Store,419 MERRILL ST,BUSSEY,50044,"419 MERRILL ST\nBUSSEY 50044\n(41.204759, -92....",63.0,Marion,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,24,$180.00,12.0,3.17,12
22934,90506,S09658500044,12/26/2012,4857,Westland Fast Break,1108 W AGENCY RD,WEST BURLINGTON,52655,1108 W AGENCY RD\nWEST BURLINGTON 52655\n(40.8...,29.0,Des Moines,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054233,8088298,S04248500021,02/23/2012,2510,Hy-Vee Drugstore #3 / Cedar Rapids,2405 MT VERNON RD SE,CEDAR RAPIDS,52403,2405 MT VERNON RD SE\nCEDAR RAPIDS 52403\n(41....,57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,12,$90.00,6.0,1.59,12
2060586,8113227,S08979100118,11/15/2012,2512,Hy-Vee Wine and Spirits / Iowa City,1720 WATERFRONT DR,IOWA CITY,52240,1720 WATERFRONT DR\nIOWA CITY 52240\n(41.64277...,52.0,Johnson,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2067231,8139533,S08515100061,10/23/2012,2601,Hy-Vee Food Store / Fairfield,1300 WEST BURLINGTON AVE,FAIRFIELD,52556,1300 WEST BURLINGTON AVE\nFAIRFIELD 52556\n(41...,51.0,Jefferson,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2075964,8173764,S09216900101,11/29/2012,2964,Dahl's / Ankeny,1802 N ANKENY BLVD,ANKENY,50023,"1802 N ANKENY BLVD\nANKENY 50023\n(41.747345, ...",77.0,Polk,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,1,$7.50,0.5,0.13,12
2079725,8188477,S09225000051,11/29/2012,2509,Hy-Vee / Drugtown #1 / Cedar Rapids,1520 6TH ST SW,CEDAR RAPIDS,52404,"1520 6TH ST SW\nCEDAR RAPIDS 52404\n(41.96233,...",57.0,Linn,1032200.0,IMPORTED VODKA - MISC,434.0,Luxco-St Louis,35920,Pearl Wedding Cake Vodka Mini,12,500,$5.00,$7.50,2,$15.00,1.0,0.26,12

# ***

In [8]:
#Titos Handmade Mini 'State Bottle Cost' is 10.03, 'State Bottle Retail' is $15.05
#A function multiplying retail to # sold needs to be applied for Sale (Dollars)

#Pearl Wedding Cake Vodka Mini 'State Bottle Cost' is $5.00, 'State Bottle Retail' is $7.50
#A function multiplying retail to # sold needs to be applied for Sale (Dollars)
def fix_bottle_cost(x,y):
    if (pd.isna(x)) and (y=='Pearl Wedding Cake Vodka Mini'):
        return '$5.00'
    elif(pd.isna(x)) and (y=='Titos Handmade Mini'):
        return '$10.03'
    else:
        return x
    
def fix_bottle_retail(x,y):
    if (pd.isna(x))&(y=='Pearl Wedding Cake Vodka Mini'):
        return '$7.50'
    elif(pd.isna(x))&(y=='Titos Handmade Mini'):
        return '$15.05'
    else:
        return x
    
def sale_dollars(x,y,a):
    if (pd.isna(x))&(y=='Pearl Wedding Cake Vodka Mini'):
        b=7.50*int(a)
        e=str(b)
        return '$'+e
    elif(pd.isna(x))&(y=='Titos Handmade Mini'):
        c=15.05*int(a)
        d=str(c)
        return '$'+d
    else:
        return x

In [9]:
#apply map function to show bottle cost, retail, and sale in dollars
y12['State Bottle Cost']=list(map(fix_bottle_cost,y12['State Bottle Cost'],y12['Item Description']))
y12['State Bottle Retail']=list(map(fix_bottle_retail,y12['State Bottle Retail'],y12['Item Description']))
y12['Sale (Dollars)']=list(map(sale_dollars,y12['Sale (Dollars)'],y12['Item Description'],y12['Bottles Sold']))

In [10]:
#all nans now removed
y12.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [12]:
#Now I will change the dtypes of these three columns to numeric as they are currently strings
y12['Sale (Dollars)'].dtype, y12['State Bottle Cost'].dtype, y12['State Bottle Retail'].dtype

(dtype('O'), dtype('O'), dtype('O'))

In [13]:
#This will remove the dollar sign from each cell 
y12['State Bottle Cost']=list(map(lambda x:x[1:],y12['State Bottle Cost']))
#Now the column will be converted to the float dtype
y12['State Bottle Cost']=pd.to_numeric(y12['State Bottle Cost'])

#This will remove the dollar sign from each cell 
y12['State Bottle Retail']=list(map(lambda x:x[1:],y12['State Bottle Retail']))
#Now the column will be converted to the float dtype
y12['State Bottle Retail']=pd.to_numeric(y12['State Bottle Retail'])

#This will remove the dollar sign from each cell 
y12['Sale (Dollars)']=list(map(lambda x:x[1:],y12['Sale (Dollars)']))
#Now the column will be converted to the float dtype
y12['Sale (Dollars)']=pd.to_numeric(y12['Sale (Dollars)'])

In [14]:
#Successful conversion
y12['Sale (Dollars)'].dtype, y12['State Bottle Cost'].dtype, y12['State Bottle Retail'].dtype

(dtype('float64'), dtype('float64'), dtype('float64'))

In [19]:
y12.to_csv('clean_2012.csv')

## Year 2013

In [25]:
y13.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [21]:
y13.to_csv('clean_2013.csv')

## Year 2014

In [26]:
y14.isna().sum()

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

In [23]:
y14.to_csv('clean_2014.csv')

## Year 2015

In [76]:
y15.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 174
Category Name            182
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [30]:
y15[y15['Category Name'].isna() & y15['Category'].notna()]['Category'].unique()

array([1091100., 1089290., 1052100., 1081100.])

In [44]:
y15[y15['Category']==1032100.0]['Category Name'].unique()

array(['nan', 'imported vodka'], dtype=object)

In [45]:
def vodka(a,b):
    if (pd.isna(a)) & (b == 1032100.0):
        return 'imported vodka'
    elif (a =='imported vodkas'):
        return 'imported vodka'
    else: 
        return a

In [46]:
y15['Category Name']=list(map(vodka,y15['Category Name'],y15['Category']))

In [78]:
#map function worked
listof5 = (1032100.0, 1091100.0, 1089290.0, 1052100.0, 1081100.0)
for i in listof5:
    print('For Category ',i,' the Category name(s) is/are: ',y15[y15['Category']== i]['Category Name'].unique())

For Category  1032100.0  the Category name(s) is/are:  ['imported vodka']
For Category  1091100.0  the Category name(s) is/are:  [nan]
For Category  1089290.0  the Category name(s) is/are:  [nan]
For Category  1052100.0  the Category name(s) is/are:  [nan]
For Category  1081100.0  the Category name(s) is/are:  [nan]

In [77]:
#all Category nan values have  Category Name nan values as well, but there are some Category value for nan Category Names
y15[y15['Category'].isna()]['Category Name'].unique(), y15[y15['Category Name'].isna()]['Category'].unique()

(array([nan], dtype=object),
 array([     nan, 1091100., 1089290., 1052100., 1081100.]))

In [79]:
#in y15, all of these categories only have nan values
listof4 = (1091100.0, 1089290.0, 1052100.0, 1081100.0)
for i in listof4:
    print('For Category ',i,' the Category name(s) is/are: ',y15[y15['Category']== i]['Category Name'].unique())

For Category  1091100.0  the Category name(s) is/are:  [nan]
For Category  1089290.0  the Category name(s) is/are:  [nan]
For Category  1052100.0  the Category name(s) is/are:  [nan]
For Category  1081100.0  the Category name(s) is/are:  [nan]

In [102]:
#using full dataset, is there more information for these Categories?
#for Category 1089290.0 the only Category name is'cocoyac excellence'
counter=12
for j in listof6:
    for i in listof4:
        print("In year 20",counter, ' for Category ',i,' the Category name(s) is/are: ',j[j['Category']== i]['Category Name'].unique(), 'for ',j[j['Category']== i]['Item Description'].unique())
    counter+=1

In year 20 12  for Category  1091100.0  the Category name(s) is/are:  [] for  []
In year 20 12  for Category  1089290.0  the Category name(s) is/are:  [] for  []
In year 20 12  for Category  1052100.0  the Category name(s) is/are:  [] for  []
In year 20 12  for Category  1081100.0  the Category name(s) is/are:  [] for  []
In year 20 13  for Category  1091100.0  the Category name(s) is/are:  [] for  []
In year 20 13  for Category  1089290.0  the Category name(s) is/are:  [] for  []
In year 20 13  for Category  1052100.0  the Category name(s) is/are:  [] for  []
In year 20 13  for Category  1081100.0  the Category name(s) is/are:  [] for  []
In year 20 14  for Category  1091100.0  the Category name(s) is/are:  [] for  []
In year 20 14  for Category  1089290.0  the Category name(s) is/are:  [] for  []
In year 20 14  for Category  1052100.0  the Category name(s) is/are:  [] for  []
In year 20 14  for Category  1081100.0  the Category name(s) is/are:  [] for  []
In year 20 15  for Category  1091100.0  the Category name(s) is/are:  [nan] for  ['gamle ode holiday' 'pearl caramel' 'gamle ode celebration aquavit']
In year 20 15  for Category  1089290.0  the Category name(s) is/are:  [nan] for  ['cocoyac excellence']
In year 20 15  for Category  1052100.0  the Category name(s) is/are:  [nan] for  ['terry centenario']
In year 20 15  for Category  1081100.0  the Category name(s) is/are:  [nan] for  ['kahlua mocha']
In year 20 16  for Category  1091100.0  the Category name(s) is/are:  ['american distilled spirits specialty' 'distilled spirits specialty' nan
 'american distilled spirit specialty'] for  ['anchor old tom gin' 'westland american single malt'
 'westland peated single malt' 'westland sherry wood single malt'
 "tim smith's climax moonshine" 'bird dog peppermint moonshine'
 'st. george absinthe verte' 'pearl caramel' 'white dog wheat ha'
 'white dog mash #1 ha' 'white dog straight rye ha' "sipp'n sweet corn"
 'koval bourbon' 'north shore aquavit - private reserve'
 "tim smith's climax fire #32" "burnett's cucumber lime  vodka"
 'tarantula azul' 'saints n sinners apple pie' 'reservoir wheat whiskey'
 'st. george bruto americano' 'pearl lime basil vodka'
 'cody road uncommon double barrel']
In year 20 16  for Category  1089290.0  the Category name(s) is/are:  [] for  []
In year 20 16  for Category  1052100.0  the Category name(s) is/are:  ['imported brandies' nan 'imported grape brandies'] for  ['christian drouin calvados selcetion' 'hennessy vs' 'hennessy vs cognac'
 'hennessy vsop privilege' 'hennessy black' 'courvoisier vsop cognac'
 'hennessy vs cognac 100ml' 'remy martin vsop' 'maraska slivovitz'
 'remy martin 1738 accord royal'
 'chateau du busca busca de maniban xo no.1' 'courvoisier vs cognac'
 'courvoisier vs coganc' 'barsol selecto italia pisco'
 'encanto grand & noble' 'presidente grape brandy (pedro domecq)'
 'remy martin v' 'hennessy vs cognac minis' 'remy martin vsop (flask)'
 'hennessy vs scott campbell' 'st. remy vsop napoleon brandy'
 'remy martin vsop cognac' 'gjergj kastrioti skenderbeu v.s konjak'
 'gjergj kastroti skenderbeu balle kazani skrapari'
 'gjergj kastrioti skenderbeu v.s.o.p konjak' 'stock 84 brandy'
 'takovo sljivovica plum brandy' 'hennessy xo cognac'
 'hennessy vsop round giftbox' 'takovo viljamovka williams pear brandy'
 'hartley' 'remy martin xo excellence' 'takovo kajsija apricot brandy'
 'hennessy paradis ha' 'millet armagnac vs' 'millet armagnac vsop'
 'millet armagnac xo' 'five star pirate sword'
 'takovo dunja quince brandy' 'salignac vs' 'badel williams pear brandy'
 'courvoisier vs' 'badel stara sljivovica old plum brandy'
 'courvoisier vs cognac mini' 'charles baur poire william'
 "charles baur fine d''alsace" 'cognac napoleon xo'
 'kirkland signature cognac xo' 'courvoisier 21yr'
 'hennessy paradis imperial 750ml']
In year 20 16  for Category  1081100.0  the Category name(s) is/are:  [nan 'decanters & specialty packages' 'coffee liqueurs'] for  ['kahlua mocha' 'kahlua peppermint mocha' 'prairie wolf dark'
 'kahlua coffee liqueur' 'kapali coffee liqueur'
 'caffe lolita coffee liqueur' 'chila coffee liqueur'
 'kahlua french vanilla liqueur' 'copa de oro mexican coffee'
 'patron xo cafe' 'kamora coffee liqueur' 'kahlua coffee liqueur mini'
 'kahlua salted caramel' 'kahlua chili chocolate'
 'iowa coffee company liqueur']
In year 20 17  for Category  1091100.0  the Category name(s) is/are:  ['american distilled spirit specialty'] for  ['saints n sinners apple pie' "tim smith's climax fire #32"
 'tattersall  aquavit' 'copper & kings blanche absinthe' 'cody road maple'
 "tim smith's climax moonshine" 'evan williams honey'
 'evan williams peach' 'evan williams fire' 'madikwe' "sipp'n sweet corn"
 'st. george bruto americano' 'smooth ambler old scout american whiskey'
 'elemental romarin liqueur' 'tarantula azul' 'mad hen fiery cinnamon'
 'sugarlands shine peanut butter & jelly moonshine'
 'sugarlands shine butterscotch gold' 'silver cloud tennessee sour mash']
In year 20 17  for Category  1089290.0  the Category name(s) is/are:  [] for  []
In year 20 17  for Category  1052100.0  the Category name(s) is/are:  ['imported brandies'] for  ['hennessy vs cognac' 'remy martin vsop cognac' 'hennessy black'
 'courvoisier vs cognac' 'hennessy vs' 'hennessy vs cognac 100ml'
 'hennessy vsop privilege' 'remy martin vsop (flask)'
 'remy martin 1738 accord royal' 'courvoisier vs coganc'
 'hennessy vs cognac minis' 'hartley' 'takovo sljivovica plum brandy'
 'remy martin v' 'remy martin vsop' 'salignac vs'
 'st. remy vsop napoleon brandy' 'stock 84 brandy'
 'remy martin xo excellence' 'presidente grape brandy (pedro domecq)'
 'courvoisier vs cognac mini' 'millet armagnac vsop'
 'hennessy vsop round giftbox' 'badel williams pear brandy'
 'takovo viljamovka williams pear brandy' 'takovo kajsija apricot brandy'
 'courvoisier vs' 'takovo dunja quince brandy' 'courvoisier vsop cognac'
 'badel stara sljivovica old plum brandy' 'maraska slivovitz'
 'millet armagnac vs' 'millet armagnac xo'
 'gjergj kastrioti skenderbeu v.s konjak' 'hennessy xo cognac'
 'charles baur poire william' "charles baur fine d''alsace"
 'kirkland signature cognac xo' 'ansac vs  cognac' 'hennessy paradis'
 'roger groult calvados 8yr - dno' 'courvoisier vsop' 'roner kirschwasser'
 'roner waldhimbeergeist' 'plantaze montenegro lozova rakija'
 'roner obstler' 'gjergj kastrioti skenderbeu v.s.o.p konjak'
 'gjergj kastroti skenderbeu balle kazani skrapari' 'deluze cognac vsop'
 'christian drouin calvados selcetion' 'kelt vsop'
 'hennessy vsop privilege flask' 'hennessy vs luminous'
 'calvados morin "selection"' 'hennessy vs jonone le'
 "charles baur fine d'alsace" 'macchu pisco' 'la diablada pisco'
 'ansac vsop' 'hiram walker apricot brandy' 'don pedro brandy'
 'pere magloire vsop' 'hennessy vsop w/snifters' 'korbel brandy xs'
 'hennessy vs eoy' 'martell blueswift']
In year 20 17  for Category  1081100.0  the Category name(s) is/are:  ['coffee liqueurs'] for  ['kahlua coffee liqueur' 'kahlua coffee liqueur mini'
 'kamora coffee liqueur' 'copa de oro mexican coffee'
 'kahlua french vanilla liqueur' 'chila coffee liqueur'
 'caffe lolita coffee liqueur' 'kapali coffee liqueur'
 'iowa coffee company liqueur' 'kahlua salted caramel' 'patron xo cafe'
 'kahlua especial' 'grind espresso shot']

In [108]:
#looking further into the item 'terry centenario', there are no values taht can be cleaned. 
for i in listof6:
    print(i[i['Item Description']=='terry centenario']['Category'].unique(),i[i['Item Description']=='terry centenario']['Category Name'].unique())

[] []
[] []
[] []
[1052100.] [nan]
[] []
[] []

In [ ]:
y15.to_csv('clean_2015.csv')

## Year 2016

In [28]:
y16.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                   5
Category Name            117
Vendor Number              2
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [28]:
y16[y16['County'].isna()]['City'].unique()

array(['MASON CITY', 'Mason City'], dtype=object)

In [53]:
y16['City']=list(map(lambda x: x.lower(),y16['City']))
y16['County']=list(map(lambda x: x.lower(),y16['County']))

AttributeError: 'float' object has no attribute 'lower'

In [51]:
y16[y16['County'].isna()]['City'].unique()

array(['mason city'], dtype=object)

In [52]:
y16[y16['City']=='mason city']['County'].unique()

array(['Cerro Gordo', nan, 'CERRO GORD'], dtype=object)

In [ ]:
def cg_county(a,b):
    if (pd.isna(a))&(b=='mason city'):
        return 'cerro gordo'
    else:
        return a
    
def cg_county_number(a,b):
    if(b=='mason city') & (pd.isna(a)):
        return 17.
    else:
        return a

In [ ]:
y16['County']=list(map(cg_county,y16['County'],y16['City']))
y16['County Number']=list(map(cg_county_number,y16['County Number'],y16['City']))

In [64]:
#County Number for Mason City is 17
print(y16[y16['County']=='CERRO GORD']['County Number'].unique(),
y16[y16['County']=='Cerro Gordo']['County Number'].unique(),
y16[y16['County'].isna()]['County Number'].unique(),
y16[y16['County'].isna()]['City'].unique())

[17.] [17.] [nan] ['mason city']

In [67]:
y16[y16['Category'].isna()]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
206415,8634516,S30603400001,02/08/2016,4604,Pit Stop Liquors / Newton,"1324, 1st AVE E",newton,50208,"1324, 1st AVE E\nNEWTON 50208\n(41.699173, -93...",50.0,Jasper,NaN,nan,85.0,Brown-Forman Corporation,333,Jack Daniels TN Honey & Jack Daniels TN Fire 7...,4,1500,$15.07,$22.61,3,$67.83,4.50,1.19,16
655811,9083912,S31932100002,04/27/2016,4509,A J'S LIQUOR II,2515 CHAMBERLAIN,ames,50010,"2515 CHAMBERLAIN\nAMES 50010\n(42.021461, -93....",85.0,Story,NaN,nan,469.0,"TY KU, LLC",929570,Ty Ku Coconut,6,750,$7.00,$10.50,6,$63.00,4.50,1.19,16
1530181,9958282,INV-00201700001,09/08/2016,5102,Wilkie Liquors,724 1st St SE,mount vernon,52314.0,"724 1st St SE\nMount Vernon 52314\n(41.918452,...",57.0,LINN,NaN,nan,446.0,STEPHEN AUGUSTUS IMPORTS,984162,Calvados Morin Selection 3YR,12,750,$13.84,$20.76,1,$249.12,0.75,0.19,16
1630306,10058407,INV-00512000007,09/26/2016,3773,Benz Distributing,501 7th Ave SE,cedar rapids,52401,501 7th Ave SE\nCedar Rapids 52401\n(41.975787...,57.0,LINN,NaN,nan,477.0,VINO COM LLC,942332,Ron Abuelo 12YR,12,750,$24.17,$36.26,1,$435.12,0.75,0.19,16
1630307,10058408,INV-00512000008,09/26/2016,3773,Benz Distributing,501 7th Ave SE,cedar rapids,52401,501 7th Ave SE\nCedar Rapids 52401\n(41.975787...,57.0,LINN,NaN,nan,477.0,VINO COM LLC,942330,Ron Abuelo Anejo 7YR,12,750,$15.84,$23.76,2,$285.12,1.50,0.39,16

In [76]:
#searching for item with ellipses in previous cell
#found: 'Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls'
y16[y16['Vendor Name']=='Brown-Forman Corporation']['Item Description'].unique()

array(['Jack Daniels Tennessee Honey w/Glass',
       'Gentleman Jack w/2 Glasses',
       'Southern Comfort w/Shot Glass & Lanyard', 'Herradura Silver',
       'Herradura Anejo', 'Herradura Gold Reposado 6pak',
       'Canadian Mist Whisky', 'Canadian Mist Whiskey Pet',
       'Canadian Mist', 'Old Forester Signature 100prf Bourbon',
       'Early Times 36 Mo Ky Str Bourbon',
       'Early Times 36 Mo Ky Str Bourbon Pet', 'Old Forester Bourbon',
       'Woodford Reserve', 'Woodford Reserve Bourbon',
       'Woodford Reserve Double Oaked', 'Gentleman Jack',
       'Jack Daniels Old #7 Black Lbl Flat',
       'Jack Daniels Old #7 Black Lbl Mini', 'Jack Daniels Black Label',
       'Jack Daniels Old #7 Black Lbl',
       'Jack Daniels Old #7 Black Lbl Square',
       'Jack Daniels Single Barrel Why.', 'Korbel Brandy',
       'Korbel Brandy Pet', 'Chambord Liqueur Royale De France',
       'Jack Daniels Winter Jack', 'Tuaca Perfect Chill',
       'Southern Comfort', "Jack Daniel's Tennessee Honey Mini",
       "Jack Daniel's Tennessee Honey",
       "Jack Daniel's Tennessee Fire Mini",
       "Jack Daniel's Tennessee Fire", 'Southern Comfort Caramel',
       'Southern Comfort Cherry', 'Southern Comfort Lime',
       'Southern Comfort Mini', 'Southern Comfort Pet',
       'Southern Comfort PET', 'Southern Comfort 100 Prf',
       'El Jimador Silver Tequila', 'El Jimador Anejo Tequila',
       'El Jimador Reposado Tequila', 'Pepe Lopez Gold',
       "Jack Daniel's Single Barrel Barrel Proof",
       'Chambord Liqueur Minis', 'Finlandia Mango Fusion',
       "Jack Daniel's Sinatra Select Whiskey",
       "Jack Daniel's Masters Distillers 3", 'Jack Daniels Single Barrel',
       'Finlandia Vodka Raspberry',
       'Jack Daniels TN Honey & Jack Daniels TN Fire 750mls w/2Gls',
       "Jack Daniel's  4YR Rye Single Barrel", 'Finlandia Vodka 80 Proof',
       'Old Forester 4yr 86prf Bourbon',
       'Old Forester 1897 Whisky Row Series', "Jack Daniel's Winter Jack",
       'Woodford Reserve Kentucky Derby 2016',
       'Canadian Mist Canadian Why Pet', 'Korbel Brandy VSOP',
       'Woodford Reserve Personal Selection Barrel',
       'Old Forester 1870 Whisky Row Series'], dtype=object)

In [111]:
#all Category nan values have  Category Name nan values as well, and vice versa
y16[y16['Category'].isna()]['Category Name'].unique(), y16[y16['Category Name'].isna()]['Category'].unique()

(array([nan], dtype=object),
 array([1081100.,      nan, 1082100., 1091100., 1022300., 1092100.,
        1091300., 1062500., 1022200., 1052100.]))

In [112]:
#list of all items where Category is nan
y16[y16['Category'].isna()]['Item Description'].unique()

array(['jack daniels tn honey & jack daniels tn fire 750mls w/2gls',
       'ty ku coconut', 'calvados morin selection 3yr', 'ron abuelo 12yr',
       'ron abuelo anejo 7yr'], dtype=object)

In [114]:
itemlist16=('jack daniels tn honey & jack daniels tn fire 750mls w/2gls',
       'ty ku coconut', 'calvados morin selection 3yr', 'ron abuelo 12yr',
       'ron abuelo anejo 7yr')

In [113]:
#list of all items where Category Name is nan: its the exact same list as for Category
y16[y16['Category Name'].isna()]['Item Description'].unique()

array(['kahlua mocha',
       'jack daniels tn honey & jack daniels tn fire 750mls w/2gls',
       "dr. mcgillicuddy's mentholmint", 'pearl caramel',
       'del maguey san luis del rio', 'twenty grand gold',
       'white dog wheat ha', 'white dog mash #1 ha',
       'white dog straight rye ha', 'ole smoky moonshine - margarita',
       'ty ku coconut', 'blueberry valentino  1.75liter',
       'blueberry valentino 750ml', 'blue chair bay banana rum',
       'rondiaz gran reserva spiced rum', 'gran centenario plata tequila',
       'chateau du busca busca de maniban xo no.1', 'prairie wolf dark',
       'the english whisky co. peated cask strength single malt',
       'sullivans cove american cask single malt whisky ha',
       'sullivans cove double cask single malt ha',
       'disaronno riserva ha', 'barsol selecto italia pisco',
       'encanto grand & noble', "burnett's cucumber lime  vodka",
       'calvados morin selection 3yr', 'ron abuelo 12yr',
       'ron abuelo anejo 7yr'], dtype=object)

In [118]:
for j in listof6:
    for i in itemlist16:
        print(j[j['Item Description']==i]['Category'].unique())
        print(j[j['Item Description']==i]['Category Name'].unique())

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[1062200.]
['puerto rico & virgin islands rum']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[nan]
[nan]
[]
[]
[]
[]
[]
[]
[]
[]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[]
[]
[]
[]
[nan]
[nan]
[1062200.]
['puerto rico & virgin islands rum']
[nan]
[nan]

In [70]:
def prrumc(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 1062200.
    else: 
        return x
    
def prrumcn(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 'puerto rico & virgin islands rum'
    else: 
        return x

In [119]:
y16['Category'].isna().sum(),y16['Category Name'].isna().sum()

(5, 117)

In [120]:
y16['Category']=list(map(prrumc,y16['Category'],y16['Item Description']))
y16['Category Name']=list(map(prrumcn,y16['Category Name'],y16['Item Description']))

In [121]:
y16['Category'].isna().sum(),y16['Category Name'].isna().sum()

(4, 116)

In [33]:
y16[y16['Vendor Number'].isna()]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
1767189,10195290,INV-00993400006,10/17/2016,2190,"Central City Liquor, Inc.",1460 2ND AVE,des moines,50314.0,"1460 2ND AVE\nDes Moines 50314\n(41.60566, -93...",77.0,polk,1011300.0,single barrel bourbon whiskies,NaN,reservoir distillery,916456,reservoir bourbon whiskey,6,750,$45.00,$67.50,5,$405.00,3.75,0.99,16
1767190,10195291,INV-00993400007,10/17/2016,2190,"Central City Liquor, Inc.",1460 2ND AVE,des moines,50314.0,"1460 2ND AVE\nDes Moines 50314\n(41.60566, -93...",77.0,polk,1091100.0,american distilled spirit specialty,NaN,reservoir distillery,927565,reservoir wheat whiskey,6,750,$45.00,$67.50,3,$405.00,2.25,0.59,16

In [80]:
#Searching y16 for any record of Vender Number for Reservoir Distillery (but there are only 2 instances and both are nan)
y16[y16['Vendor Name']=='Reservoir Distillery']['Vendor Number']

1767189   NaN
1767190   NaN
Name: Vendor Number, dtype: float64

In [34]:
#couldn't find name in '16, let's search entire dataset
#result: all nan values
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i[i['Vendor Name']=='Reservoir Distillery']['Vendor Number'])

Series([], Name: Vendor Number, dtype: float64)
Series([], Name: Vendor Number, dtype: float64)
Series([], Name: Vendor Number, dtype: float64)
Series([], Name: Vendor Number, dtype: float64)
Series([], Name: Vendor Number, dtype: float64)
Series([], Name: Vendor Number, dtype: float64)

In [ ]:
y16.to_csv('clean_2016.csv')

## Year 2017

In [29]:
y17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 126
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [40]:
#all Category nan values have  Category Name nan values as well, and vice versa
y17[y17['Category'].isna()]['Category Name'].unique(), y17[y17['Category Name'].isna()]['Category'].unique()

(array([nan], dtype=object), array([nan]))

In [41]:
#list of all items where Category is nan
y17[y17['Category'].isna()]['Item Description'].unique()

array(['bains cape mountain whiskey', 'don pancho origenes 8yr rum',
       'barbados rum 100ml', 'barbados rum 1 liter',
       'barbados rum 200 ml', 'barbados rum 375ml', 'barbados rum 50ml',
       'barbados rum 750ml', 'diplomatico reserva exclusiva',
       'grand teton vodka', 'athena liq ouzo rum',
       'glenmorangie bacalta ha', 'valentine vodka',
       'lairds old apple brandy 7yr', 'green absinthe', 'red absinthe',
       'calvados morin selection 3yr',
       'seven devils straight bourbon whiskey ha', 'ha seven devils',
       'don amado mezcal rustico', 'ha michters us*1 small batch',
       'ha abraham bowman wine finish whiskey',
       'ha highland park ice edition', 'old forester 1920',
       'ron abuelo anejo 7yr', 'ha laphroaig 25yr cask strength',
       'ron abuelo 12yr'], dtype=object)

In [42]:
#list of all items where Category Name is nan: its the exact same list as for Category
y17[y17['Category Name'].isna()]['Item Description'].unique()

array(['bains cape mountain whiskey', 'don pancho origenes 8yr rum',
       'barbados rum 100ml', 'barbados rum 1 liter',
       'barbados rum 200 ml', 'barbados rum 375ml', 'barbados rum 50ml',
       'barbados rum 750ml', 'diplomatico reserva exclusiva',
       'grand teton vodka', 'athena liq ouzo rum',
       'glenmorangie bacalta ha', 'valentine vodka',
       'lairds old apple brandy 7yr', 'green absinthe', 'red absinthe',
       'calvados morin selection 3yr',
       'seven devils straight bourbon whiskey ha', 'ha seven devils',
       'don amado mezcal rustico', 'ha michters us*1 small batch',
       'ha abraham bowman wine finish whiskey',
       'ha highland park ice edition', 'old forester 1920',
       'ron abuelo anejo 7yr', 'ha laphroaig 25yr cask strength',
       'ron abuelo 12yr'], dtype=object)

In [89]:
#As a last attempt to clean more nan values, I will look for unique Category and Category Name values by Item Description
itemlist17=('bains cape mountain whiskey', 'don pancho origenes 8yr rum',
       'barbados rum 100ml', 'barbados rum 1 liter',
       'barbados rum 200 ml', 'barbados rum 375ml', 'barbados rum 50ml',
       'barbados rum 750ml', 'diplomatico reserva exclusiva',
       'grand teton vodka', 'athena liq ouzo rum',
       'glenmorangie bacalta ha', 'valentine vodka',
       'lairds old apple brandy 7yr', 'green absinthe', 'red absinthe',
       'calvados morin selection 3yr',
       'seven devils straight bourbon whiskey ha', 'ha seven devils',
       'don amado mezcal rustico', 'ha michters us*1 small batch',
       'ha abraham bowman wine finish whiskey',
       'ha highland park ice edition', 'old forester 1920',
       'ron abuelo anejo 7yr', 'ha laphroaig 25yr cask strength',
       'ron abuelo 12yr')

In [90]:
for i in itemlist17:
    print(y17[y17['Item Description']==i]['Category'].unique())

[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[1062200.]

In [91]:
for i in itemlist17:
    print(y17[y17['Item Description']==i]['Category Name'].unique())

[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
[nan]
['puerto rico & virgin islands rum']

In [92]:
#there was no luck in y17: I will now do it across all years
#only result: ron abuelo 12yr [1062200.]
counter=12
for j in listof6:
    print(counter)
    for i in itemlist17:
        print(i, j[j['Item Description']==i]['Category'].unique())
    counter+=1

12
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
13
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr [1062200.]
14
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
15
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
16
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr [nan]
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr [nan]
ha laphroaig 25yr cask strength []
ron abuelo 12yr [nan]
17
bains cape mountain whiskey [nan]
don pancho origenes 8yr rum [nan]
barbados rum 100ml [nan]
barbados rum 1 liter [nan]
barbados rum 200 ml [nan]
barbados rum 375ml [nan]
barbados rum 50ml [nan]
barbados rum 750ml [nan]
diplomatico reserva exclusiva [nan]
grand teton vodka [nan]
athena liq ouzo rum [nan]
glenmorangie bacalta ha [nan]
valentine vodka [nan]
lairds old apple brandy 7yr [nan]
green absinthe [nan]
red absinthe [nan]
calvados morin selection 3yr [nan]
seven devils straight bourbon whiskey ha [nan]
ha seven devils [nan]
don amado mezcal rustico [nan]
ha michters us*1 small batch [nan]
ha abraham bowman wine finish whiskey [nan]
ha highland park ice edition [nan]
old forester 1920 [nan]
ron abuelo anejo 7yr [nan]
ha laphroaig 25yr cask strength [nan]
ron abuelo 12yr [1062200.]

In [93]:
#only result: ron abuelo 12yr ['puerto rico & virgin islands rum']
counter=12
for j in listof6:
    print(counter)
    for i in itemlist17:
        print(i, j[j['Item Description']==i]['Category Name'].unique())
    counter+=1

12
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
13
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr ['puerto rico & virgin islands rum']
14
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
15
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr []
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr []
ha laphroaig 25yr cask strength []
ron abuelo 12yr []
16
bains cape mountain whiskey []
don pancho origenes 8yr rum []
barbados rum 100ml []
barbados rum 1 liter []
barbados rum 200 ml []
barbados rum 375ml []
barbados rum 50ml []
barbados rum 750ml []
diplomatico reserva exclusiva []
grand teton vodka []
athena liq ouzo rum []
glenmorangie bacalta ha []
valentine vodka []
lairds old apple brandy 7yr []
green absinthe []
red absinthe []
calvados morin selection 3yr [nan]
seven devils straight bourbon whiskey ha []
ha seven devils []
don amado mezcal rustico []
ha michters us*1 small batch []
ha abraham bowman wine finish whiskey []
ha highland park ice edition []
old forester 1920 []
ron abuelo anejo 7yr [nan]
ha laphroaig 25yr cask strength []
ron abuelo 12yr [nan]
17
bains cape mountain whiskey [nan]
don pancho origenes 8yr rum [nan]
barbados rum 100ml [nan]
barbados rum 1 liter [nan]
barbados rum 200 ml [nan]
barbados rum 375ml [nan]
barbados rum 50ml [nan]
barbados rum 750ml [nan]
diplomatico reserva exclusiva [nan]
grand teton vodka [nan]
athena liq ouzo rum [nan]
glenmorangie bacalta ha [nan]
valentine vodka [nan]
lairds old apple brandy 7yr [nan]
green absinthe [nan]
red absinthe [nan]
calvados morin selection 3yr [nan]
seven devils straight bourbon whiskey ha [nan]
ha seven devils [nan]
don amado mezcal rustico [nan]
ha michters us*1 small batch [nan]
ha abraham bowman wine finish whiskey [nan]
ha highland park ice edition [nan]
old forester 1920 [nan]
ron abuelo anejo 7yr [nan]
ha laphroaig 25yr cask strength [nan]
ron abuelo 12yr ['puerto rico & virgin islands rum']

In [70]:
def prrumc(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 1062200.
    else: 
        return x
    
def prrumcn(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 'puerto rico & virgin islands rum'
    else: 
        return x

In [66]:
y17['Category'].isna().sum(),y17['Category Name'].isna().sum()

(126, 126)

In [73]:
y17['Category']=list(map(prrumc,y17['Category'],y17['Item Description']))
y17['Category Name']=list(map(prrumcn,y17['Category Name'],y17['Item Description']))

In [74]:
y17['Category'].isna().sum(),y17['Category Name'].isna().sum()

(125, 125)

#### Attempting to Clean Address

In [88]:
y17[y17['Address'].isna()]['Store Number']

1050009    9932
Name: Store Number, dtype: int64

In [89]:
#no full address in y17
y17[y17['Store Number']==9932]['Store Location']

1050009    Dubuque 52002\n(42.516027, -90.766335)
Name: Store Location, dtype: object

In [9]:
#Address column will be dropped later so nan is inconsequential,
#plus the row would also be dropped later anyways as the store is in Dubuque, not Des Moines
y17[y17['Store Number']==9932]

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
1050009,11757989,INV-05674000001,06/22/2017,9932,"3-Oaks Distillery, LLC",NaN,Dubuque,52002.0,"Dubuque 52002\n(42.516027, -90.766335)",31.0,DUBUQUE,1011100.0,Blended Whiskies,215.0,"3-Oaks Distillery, LLC",27890,3-Oaks Distillery Whiskey,12,750,$21.60,$32.40,1,$388.80,0.75,0.19,17

In [91]:
#Though ultimately inconsequential, let's search entire dataset for more info since y17
#did not have the data I wanted
#result: no new information
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i[i['Store Number']==9932]['Address'])

Series([], Name: Address, dtype: object)
Series([], Name: Address, dtype: object)
Series([], Name: Address, dtype: object)
Series([], Name: Address, dtype: object)
Series([], Name: Address, dtype: object)
1050009    NaN
Name: Address, dtype: object

#### Attempting to Clean Category

In [94]:
#Category nans are associated with Category Name 'vodka flavored'
y17[y17['Category'].isna()]['Category Name'].unique()

array(['nan', 'vodka flavored'], dtype=object)

In [97]:
#The Category value for 'vodka flavored' is 1031200.
y17[y17['Category Name']=='vodka flavored']['Category'].unique()

array([1031200.,      nan])

In [99]:
#creating function to erase the nans for this Category Name pairing
def cnvodka17(a,b):
    if (pd.isna(a)) & (b == 1031200.):
        return 'vodka flavored'
    else: 
        return a
    
def cvodka17(a,b):
    if (pd.isna(a)) & (b == 'vodka flavored'):
        return 1031200.
    else: 
        return a

In [100]:
#applying the functions
y17['Category Name']=list(map(cnvodka17,y17['Category Name'],y17['Category']))
y17['Category']=list(map(cvodka17,y17['Category'],y17['Category Name']))

In [75]:
y17.isna().sum()

Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 125
Category Name            125
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [103]:
y17[y17['Category'].isna()]['Category Name'].unique()

array(['nan'], dtype=object)

In [ ]:
y17.to_csv('clean_2017.csv')

# Summary of Cleaning Functions After Individual Dataset Inspection

In [ ]:
def vodka(a,b):
    if (pd.isna(a)) & (b == 1032100.0):
        return 'imported vodka'
    elif (a =='imported vodkas'):
        return 'imported vodka'
    else: 
        return a

def cnvodka17(a,b):
    if (pd.isna(a)) & (b == 1031200.):
        return 'vodka flavored'
    else: 
        return a
    
def cvodka17(a,b):
    if (pd.isna(a)) & (b == 'vodka flavored'):
        return 1031200.
    else: 
        return a
def cg_county(a,b):
    if (pd.isna(a))&(b=='mason city'):
        return 'cerro gordo'
    else:
        return a
    
def cg_county_number(a,b):
    if(pd.isna(a)) & (b=='mason city'):
        return 17.
    else:
        return a
    
def prrumc(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 1062200.
    else: 
        return x
    
def prrumcn(x,y):
    if (pd.isna(x)) & (y=='ron abuelo 12yr'):
        return 'puerto rico & virgin islands rum'
    else: 
        return x
    
def fix_bottle_cost(x,y):
    if (pd.isna(x)) and (y=='Pearl Wedding Cake Vodka Mini'):
        return '$5.00'
    elif(pd.isna(x)) and (y=='Titos Handmade Mini'):
        return '$10.03'
    else:
        return x
    
def fix_bottle_retail(x,y):
    if (pd.isna(x))&(y=='Pearl Wedding Cake Vodka Mini'):
        return '$7.50'
    elif(pd.isna(x))&(y=='Titos Handmade Mini'):
        return '$15.05'
    else:
        return x
    
def sale_dollars(x,y,a):
    if (pd.isna(x))&(y=='Pearl Wedding Cake Vodka Mini'):
        b=7.50*int(a)
        e=str(b)
        return '$'+e
    elif(pd.isna(x))&(y=='Titos Handmade Mini'):
        c=15.05*int(a)
        d=str(c)
        return '$'+d
    else:
        return x

In [20]:
listof6=(y12,y13,y14,y15,y16,y17)
for i in listof6:
    i['Category Name']=list(map(vodka,i['Category Name'],i['Category']))
    i['Category']=list(map(cvodka17,i['Category'],i['Category Name']))
    i['Category Name']=list(map(cnvodka17,i['Category Name'],i['Category']))
    i['County']=list(map(cg_county,i['County'],i['City']))
    i['County Number']=list(map(cg_county_number,i['County Number'],i['City']))
    i['Category']=list(map(prrumc,y17['Category'],i['Item Description']))
    i['Category Name']=list(map(prrumcn,y17['Category Name'],i['Item Description']))

In [130]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 174
Category Name            182
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                   4
Category Name            116
Vendor Number              2
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64
Unnamed: 0                 0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 125
Category Name            125
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [24]:
#y15,y16, and y17 condensed categories due to .upper() function
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i['Category Name'].nunique(),i['Category'].nunique())

76 76
77 78
77 80
79 85
102 99
70 68

In [9]:
#apply map function to show bottle cost, retail, and sale in dollars
y12['State Bottle Cost']=list(map(fix_bottle_cost,y12['State Bottle Cost'],y12['Item Description']))
y12['State Bottle Retail']=list(map(fix_bottle_retail,y12['State Bottle Retail'],y12['Item Description']))
y12['Sale (Dollars)']=list(map(sale_dollars,y12['Sale (Dollars)'],y12['Item Description'],y12['Bottles Sold']))

In [13]:
#This will remove the dollar sign from each cell 
y12['State Bottle Cost']=list(map(lambda x:x[1:],y12['State Bottle Cost']))
#Now the column will be converted to the float dtype
y12['State Bottle Cost']=pd.to_numeric(y12['State Bottle Cost'])

#This will remove the dollar sign from each cell 
y12['State Bottle Retail']=list(map(lambda x:x[1:],y12['State Bottle Retail']))
#Now the column will be converted to the float dtype
y12['State Bottle Retail']=pd.to_numeric(y12['State Bottle Retail'])

#This will remove the dollar sign from each cell 
y12['Sale (Dollars)']=list(map(lambda x:x[1:],y12['Sale (Dollars)']))
#Now the column will be converted to the float dtype
y12['Sale (Dollars)']=pd.to_numeric(y12['Sale (Dollars)'])

In [124]:
set5 = (y13,y14,y15,y16,y17)
counter = 13
for i in set5:
    print(counter)
    counter+=1
    i['State Bottle Cost']=list(map(lambda x:x[1:],i['State Bottle Cost']))
    i['State Bottle Cost']=pd.to_numeric(i['State Bottle Cost'])
    i['State Bottle Retail']=list(map(lambda x:x[1:],i['State Bottle Retail']))
    i['State Bottle Retail']=pd.to_numeric(i['State Bottle Retail'])
    i['Sale (Dollars)']=list(map(lambda x:x[1:],i['Sale (Dollars)']))
    i['Sale (Dollars)']=pd.to_numeric(i['Sale (Dollars)'])

13
14
15
16
17

# Next Steps (new file?)

In [5]:
#Checkpoint: read in all postloop files
y12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean12.csv')
y13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean13.csv')
y14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean14.csv')
y15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean15.csv')
y16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean16.csv')
y17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//Des_Moines_Liquor_Store//Jupyter Files//testrun//allclean17.csv')

C:\Users\Owner\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [129]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.dtypes)

Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object
Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object
Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object
Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object
Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object
Unnamed: 0                 int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                 float64
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object

In [134]:
#transferring all na's to 0's or unknowns for conversion of dtypes (which will erase Nan values in the process)
settrio = (y15,y16,y17)
for i in settrio:
    i['Category']=i['Category'].fillna(0.0)
    i['Category Name']=i['Category Name'].fillna('unknown')
    i['Vendor Number']=i['Vendor Number'].fillna(0.0)
    i['Address']=i['Address'].fillna('unknown')

In [135]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.isna().sum())

Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64
Unnamed: 0               0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64

# ***

In [136]:
listof6 = (y12,y13,y14,y15,y16,y17)
counter = 12
for i in listof6:
    print(counter)
    counter+=1
    i['Date']=pd.to_datetime(i['Date'])
    #nan conundrum
    i['Store Number']=i['Store Number'].astype(str)
    i['Zip Code']=i['Zip Code'].astype(str)
    i['County Number']=i['County Number'].astype(str)
    i['Category']=i['Category'].astype(str)
    i['Vendor Number']=i['Vendor Number'].astype(str)
    i['Item Number']=i['Item Number'].astype(str)

12
13
14
15
16
17

In [137]:
listof6 = (y12,y13,y14,y15,y16,y17)
for i in listof6:
    print(i.dtypes)

Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object
Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object
Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object
Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object
Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object
Unnamed: 0                        int64
Invoice/Item Number              object
Date                     datetime64[ns]
Store Number                     object
Store Name                       object
Address                          object
City                             object
Zip Code                         object
Store Location                   object
County Number                    object
County                           object
Category                         object
Category Name                    object
Vendor Number                    object
Vendor Name                      object
Item Number                      object
Item Description                 object
Pack                              int64
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
Year                              int64
dtype: object

In [138]:
#post cleaning checkpoint save
y12.to_csv('allclean12.csv')
y13.to_csv('allclean13.csv')
y14.to_csv('allclean14.csv')
y15.to_csv('allclean15.csv')
y16.to_csv('allclean16.csv')
y17.to_csv('allclean17.csv')