In [1]:
import pandas as pd
import numpy as np
import chunk
import re
from datetime import datetime

#pd.set_option('display.max_columns',30)
#pd.set_option('display.max_rows',300)

In [ ]:
# Clean versions (here for visibility, they are individually imported in the code below)
c12=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2012.csv')
c13=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2013.csv')
c14=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2014.csv')
c15=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2015.csv')
c16=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2016.csv')
c17=pd.read_csv('C://Users//Owner//DA//Classwork//0 Activities//Final_Project//Final Cuts//2 cleaned//clean_2017.csv')

## For more accurate information, I will focus on liquor stores only in the city of Des Moines. The following cells import each of the 6 portions of the now clean dataset and determine how many stores are in Des Moines.

In [2]:
c12=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2012.csv')
c12['City']=list(map(lambda x: x.upper(),c12['City']))
len(c12[c12['City']=='DES MOINES'])

In [ ]:
listof6 = (c12,c13,c14,c15,c16,c17)
for i in listof6:
    i['City']=list(map(lambda x: x.upper(),i['City']))
    print('The number of stores in Des Moines in ',i, 'is: ',i['Store Number'].nunique())

In [83]:
c12['Store Number'].nunique()

75

In [62]:
c13=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2013.csv')
c13['City']=list(map(lambda x: x.upper(),c13['City']))
len(c13[c13['City']=='DES MOINES'])

In [82]:
c13['Store Number'].nunique()

82

In [4]:
c14=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2014.csv')
c14['City']=list(map(lambda x: x.upper(),c14['City']))
len(c14[c14['City']=='DES MOINES'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [81]:
c14['Store Number'].nunique()

83

In [5]:
c15=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2015.csv')
c15['City']=list(map(lambda x: x.upper(),c15['City']))
len(c15[c15['City']=='DES MOINES'])

In [80]:
c15['Store Number'].nunique()

90

In [6]:
c16=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2016.csv')
c16['City']=list(map(lambda x: x.upper(),c16['City']))
len(c16[c16['City']=='DES MOINES'])

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [79]:
c16['Store Number'].nunique()

84

In [7]:
c17=pd.read_csv('C://Users//Matthew//DA//Activities//Final_Project//Final Cuts//clean_2017.csv')
c17['City']=list(map(lambda x: x.upper(),c17['City']))
len(c17[c17['City']=='DES MOINES'])

In [78]:
c17['Store Number'].nunique()

82

### Confirming status of each file's na values and dtypes

In [9]:
print(c12.isna().sum(),c13.isna().sum(),c14.isna().sum(),c15.isna().sum(),c16.isna().sum(),c17.isna().sum())

Unnamed: 0               0
Unnamed: 0.1             0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64 Unnamed: 0               0
Unnamed: 0.1             0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64 Unnamed: 0               0
Unnamed: 0.1             0
Invoice/Item Number      0
Date                     0
Store Number             0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County Number            0
County                   0
Category                 0
Category Name            0
Vendor Number            0
Vendor Name              0
Item Number              0
Item Description         0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
Year                     0
dtype: int64 Unnamed: 0                 0
Unnamed: 0.1               0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 231
Category Name            280
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64 Unnamed: 0                 0
Unnamed: 0.1               0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    0
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                   5
Category Name            121
Vendor Number              2
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64 Unnamed: 0                 0
Unnamed: 0.1               0
Invoice/Item Number        0
Date                       0
Store Number               0
Store Name                 0
Address                    1
City                       0
Zip Code                   0
Store Location             0
County Number              0
County                     0
Category                 128
Category Name            126
Vendor Number              0
Vendor Name                0
Item Number                0
Item Description           0
Pack                       0
Bottle Volume (ml)         0
State Bottle Cost          0
State Bottle Retail        0
Bottles Sold               0
Sale (Dollars)             0
Volume Sold (Liters)       0
Volume Sold (Gallons)      0
Year                       0
dtype: int64

In [27]:
print(c12.dtypes,c13.dtypes,c14.dtypes,c15.dtypes,c16.dtypes,c17.dtypes)

Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number             object
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number             object
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number             object
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                  object
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object Unnamed: 0                 int64
Unnamed: 0.1               int64
Invoice/Item Number       object
Date                      object
Store Number               int64
Store Name                object
Address                   object
City                      object
Zip Code                 float64
Store Location            object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number            float64
Vendor Name               object
Item Number                int64
Item Description          object
Pack                       int64
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
Year                       int64
dtype: object

## Remove excess columns, confirm appropriate dtypes

In [84]:
c12=c12.reset_index(drop=True)

In [85]:
c12.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Invoice/Item Number', 'Date',
       'Store Number', 'Store Name', 'Address', 'City', 'Zip Code',
       'Store Location', 'County Number', 'County', 'Category',
       'Category Name', 'Vendor Number', 'Vendor Name', 'Item Number',
       'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)', 'Year'],
      dtype='object')

### Are unique Item Description, Item Number, State Bottle Cost, State Bottle Retail values occuring in the same pattern?

In [90]:
c12['Item Description'].nunique()

1779

In [92]:
c12['Item Number'].nunique()

2484

In [108]:
c12['State Bottle Cost'].nunique()

1395

In [109]:
c12['State Bottle Retail'].nunique()

1587

### no they are not: they have individual value in the data

### Need to see if different Item Numbers means different sale/cost values per item

In [206]:
iddf=c12[['Item Description','Item Number','State Bottle Cost',
       'State Bottle Retail','Vendor Number']]

In [207]:
iddf.drop_duplicates(subset=['Item Number'],inplace=True)

<ipython-input-207-d640498d7573>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iddf.drop_duplicates(subset=['Item Number'],inplace=True)

In [209]:
c12['Item Description'].nunique()

1779

In [210]:
c12['Item Number'].nunique()

2484

In [211]:
c12['Vendor Number'].nunique()

101

In [212]:
c12['State Bottle Cost'].nunique()

1395

In [213]:
len(iddf)

2484

In [115]:
c12['State Bottle Retail'].nunique()

1587

In [214]:
iddf.reset_index(drop=True)

,Item Description,Item Number,State Bottle Cost,State Bottle Retail,Vendor Number
0,Jagermeister Liqueur,65256,11.58,17.37,192.0
1,J & B Rare Scotch,5289,14.98,22.47,260.0
2,Bacardi Gold Rum,43038,14.67,22.00,35.0
3,Tanqueray Gin,28866,12.00,17.99,260.0
4,Williams Pear Brandy,901167,19.87,29.81,885.0
...,...,...,...,...,...
2479,Ardbeg Uigeadail,902707,51.98,77.97,420.0
2480,Grappa Chianti Classico,901662,4.28,6.42,885.0
2481,Rogue Pink Spruce Gin,904562,18.67,28.01,399.0
2482,Compass Box Spice Tree Whisky,904224,34.67,52.01,305.0
2483,Seagrams Seven Crown Dark Honey Mini,904701,8.09,12.14,260.0

In [216]:
for i in iddf['Item Description'].unique():
    if len(iddf[iddf['Item Description']==i]['Item Number'].unique())>1:
                print(i,iddf[iddf['Item Description']==i]['Vendor Number'].unique())
  #      print(i,iddf[iddf['Item Description']==i]['Item Number'].unique(),iddf[iddf['Item Description']==i]['State Bottle Cost'].unique(),iddf[iddf['Item Description']==i]['State Bottle Retail'].unique(),iddf[iddf['Item Description']==i]['Vendor Number'].unique())

Jagermeister Liqueur ['192.0']
J & B Rare Scotch ['260.0']
Bacardi Gold Rum ['35.0']
Tanqueray Gin ['260.0']
Williams Pear Brandy ['885.0']
Jim Beam ['65.0']
Ciroc Red Berry ['260.0']
Juarez Tequila Silver ['434.0']
Burnett's Vodka 80 Prf ['259.0']
Jose Cuervo Especial Reposado Tequila ['395.0']
Yukon Jack Canadian Liqueur ['260.0']
Ciroc Super Premium Vodka ['260.0']
Rumchata ['305.0']
Crown Royal Canadian Whisky ['260.0']
Black Velvet ['115.0']
Hawkeye Vodka ['434.0']
Seagrams 7 Crown Bl Whiskey ['260.0']
Tequila Rose Liqueur ['300.0']
Arrow Spearmint Schnapps ['434.0']
Skyy Vodka ['461.0']
Admiral Nelson Spiced Rum ['259.0']
Juarez Tequila Gold ['434.0']
E & J Vsop Superior Reserve ['205.0']
Nikolai Vodka ['421.0']
Paul Masson Grande Amber Brandy ['115.0']
Bushmills Irish Whiskey ['395.0']
Ten High ['55.0']
Dekuyper Watermelon Pucker ['65.0']
Dekuyper Sour Apple Pucker ['65.0']
Paramount White Rum ['434.0']
Fleischmann's Royal Vodka ['55.0']
Fireball Cinnamon Whiskey ['421.0']
Five Star ['297.0']
Southern Comfort 100 Prf ['85.0']
New Amsterdam Vodka ['205.0']
Paramount Gin ['434.0']
Dr. Mcgillicuddy's Cherry Schnapps ['421.0']
1800 Reposado Tequila ['395.0']
Hennessy Vs Cognac ['420.0']
Kessler Blend Whiskey ['65.0']
Crown Royal Black ['260.0']
Popov Vodka 80 Prf ['260.0']
Five O'clock Vodka ['297.0']
Lauder's ['55.0']
Grey Goose Vodka ['35.0']
Beam's 8 Star Bl Whiskey ['65.0']
Patron Tequila Silver ['410.0']
Southern Comfort ['85.0']
Smirnoff Vodka 80 Prf ['260.0']
Lord Calvert Canadian Whisky ['434.0']
Barton Vodka ['55.0']
E & J Vs Brandy ['205.0']
Myers's Rum Original Dark ['260.0']
Lady Bligh Spiced Rum ['434.0']
Hawkeye Blend Whiskey ['434.0']
Jose Cuervo Authentic Lime Margarita ['395.0']
Juarez Triple Sec ['434.0']
Ketel One Imported Vodka ['260.0']
Cutty Sark Scotch ['305.0']
Seagrams Extra Dry Gin ['370.0']
Mccormick Vodka Pet ['300.0']
Captain Morgan Spiced Rum ['260.0']
New Amsterdam Gin ['205.0']
Paramount Peppermint Schnapps ['434.0']
Grand Marnier Cordon Rouge ['420.0']
Malibu Coconut Rum ['370.0']
Uv Blue (raspberry) Vodka ['380.0']
Maker's Mark ['65.0']
Sauza Blanco Silver ['65.0']
Absolut Swedish Vodka 80 Prf ['370.0']
Disaronno Amaretto ['130.0']
La Prima Tequila/gold ['434.0']
Carolan's Irish Cream Liqueur ['461.0']
Dekuyper Blustery Peppermint Burst Schnapps ['65.0']
Bailey's Original Irish Cream ['260.0']
Sailor Jerry Spiced Navy Rum ['240.0']
Goldschlager Cinnamon Schnapps ['260.0']
Arrow Raspberry Schnapps ['434.0']
Canadian Mist Whisky ['85.0']
Seagrams Vodka ['255.0']
Jack Daniels Old #7 Black Lbl ['85.0']
Ryan's Cream Liqueur ['330.0']
Paramount Long Island Iced Tea ['434.0' '350.0']
Skol Vodka ['55.0']
Phillips Gin ['380.0']
Smirnoff Orange Vodka ['260.0']
Paramount Triple Sec ['434.0']
Bacardi Limon ['35.0']
Jose Cuervo Authentic Strawberry Margarita ['395.0']
Blair Athol Cask ['885.0']
Isle of Jura ['885.0']
Ice 101, Peppermint Schnapps ['421.0']
Phillips White Rum ['380.0']
Canadian Club Whisky ['65.0']
Beefeater Gin ['370.0']
Johnnie Walker Red ['260.0']
Smirnoff Vanilla Vodka ['260.0']
Clan Macgregor Scotch ['240.0']
El Jimador Reposado Tequila ['85.0']
Kahlua Coffee Liqueur ['370.0']
Patron Silver Tequila ['410.0']
Paramount Gold Rum ['434.0']
Nuvo ['305.0']
Windsor Canadian ['65.0']
Absolut Vanilia ['370.0']
St. Brendan's Superior Irish Cream Liqueur ['434.0']
Scoresby Rare Scotch ['260.0']
Ciroc Luxury Vodka ['260.0']
Courvoisier Vs Cognac ['65.0']
Phillips Vodka ['380.0']
E & J Vs ['205.0']
Pendleton Canadian Whisky ['971.0']
Bacardi Superior Rum ['35.0']
Three Olives Vodka ['395.0']
Cazadores Reposado ['35.0']
Svedka Vodka ['115.0']
Mccormick Vodka ['300.0']
UV Cake Vodka ['380.0']
Glenlivet 12 Yr Malt Scotch ['370.0']
Absolut Mandrin ['370.0']
Old Crow ['65.0']
Red Stag By Jim Beam ['65.0']
Tortilla White Tequila ['421.0']
Five O'clock Gin ['297.0']
Bacardi Dragon Berry ['35.0']
Sobieski Vodka ['267.0']
Remy Martin Vsop Cognac ['389.0']
Christian Bros Brandy ['259.0']
Barton Gin ['55.0']
Seagrams V.o. Bl Canadian Whisky ['260.0']
Arrow Apricot Flav Brandy ['434.0']
Jameson ['370.0']
Hennessy VS ['420.0']
Jeremiah Weed Sweet Tea Vodka ['260.0']
Bombay Sapphire Gin ['35.0']
Sunny Brook Blend Whiskey ['65.0']
Hennessy Black ['420.0']
Hpnotiq ['259.0']
Paramount Amaretto ['434.0']
Remy Martin Vs Cognac ['389.0']
Black Velvet Reserve ['115.0']
Famous Grouse Scotch ['305.0']
Framboise Raspberry Liqueur ['885.0']
Belvedere Vodka ['420.0']
Ginger Liqueur ['885.0']
Ancient Age Bourbon ['421.0']
Skinnygirl White Cranberry Cosmo ['65.0']
Hawkeye Light Rum ['434.0']
Wild Turkey American Honey ['461.0']
Pinnacle Whipped ['65.0']
Bacardi Oakheart ['35.0']
Jose Cuervo Golden Margarita ['395.0']
Rumple Minze Peppermint Schnapps Liqueur ['260.0']
Gilbey's Gin London Dry ['65.0']
Smirnoff Strawberry Vodka ['260.0']
Canadian Ltd Whisky ['55.0']
Three Olives Cherry Vodka ['395.0']
Captain Morgan Spiced Rum Pet ['260.0']
Hawkeye Gin ['434.0']
1800 Silver Tequila ['395.0']
Jose Cuervo Especial Silver ['395.0']
Dekuyper Hot Damn! ['65.0']
St. Charles Brandy ['65.0']
Sauza Gold ['65.0']
Smirnoff Vodka 100 Prf ['260.0']
Titos Handmade Vodka ['301.0']
Burnett's Gin London Dry ['259.0']
Absolut Citron (lemon Vodka) ['370.0']
Uv Pink Lemonade Vodka ['380.0']
Johnnie Walker Black ['260.0']
Dekuyper Raspberry Pucker ['65.0']
Arrow Peppermint Schnapps ['434.0']
Dewars White Label Scotch ['35.0']
Jack Daniel's Tennessee Honey ['85.0']
Paramount Blackberry Brandy ['434.0']
Absolut Raspberri ['370.0']
Bacardi Select Rum ['35.0']
Cruzan Dark Rum ['65.0']
Crystal Head Vodka ['255.0']
Hornitos Gold ['65.0']
Canadian Reserve Whisky ['434.0']
Paramount Apricot Flavored Brandy ['434.0']
Dr. Mcgillicuddy's Mentholmint ['421.0']
Castillo Silver Rum ['35.0']
Smirnoff Raspberry Vodka ['260.0']
Uv Cake Vodka ['380.0']
Gordon's Gin London Dry ['260.0']
Korski Vodka ['434.0']
Maui Blue Hawaiian Schnapps ['421.0']
Pinnacle Vodka ['65.0']
Galliano Liqueur ['305.0']
Uv Red (cherry) Vodka ['380.0']
Phillips Root Beer Schnapps ['380.0']
Stolichnaya Russian Vodka 80 Prf ['277.0']
Absolut Apeach ['370.0']
Gentleman Jack ['85.0']
Wild Turkey 101 ['461.0']
El Jimador Silver Tequila ['85.0']
Bacardi Torched Cherry ['35.0']
Bacardi O ['35.0']
Fleischmann's Gin ['55.0']
Don Q Cristal Rum ['451.0']
Dr. Mcgillicuddy's Vanilla ['421.0']
After Shock Cinnamon Liqueur ['65.0']
Kamora Coffee Liqueur ['65.0']
Bourbon Supreme Bourbon ['434.0']
Ursus Blue Raspberry Vodka ['260.0']
Arrow Blackberry Flav Brandy ['434.0']
Smirnoff Citrus Vodka ['260.0']
Arrow Peach Schnapps ['434.0']
Uv Grape Vodka ['380.0']
Paramount Sloe Gin ['434.0']
Captain Morgan Parrot Bay Coconut ['260.0']
Five O'clock ['297.0']
Firewater Cinnamon Schnapps ['421.0']
Skinnygirl Bare Naked ['65.0']
Fris Danish Vodka ['370.0']
Passport Scotch ['370.0']
Paramount Peach Schnapps ['434.0']
Bacardi Razz ['35.0']
Admiral Nelson Coconut Rum ['259.0']
Chivas Regal 12 Yr ['370.0']
Calvert Extra Bl Whiskey ['434.0']
Ciroc Coconut ['260.0']
Nut Chocolate ['885.0']
Don Julio Reposado ['260.0']
Irish Single Malt Whiskey ['885.0']
Wild Rose Liqueur ['885.0']
X Rated Fusion Liqueur ['461.0']
Grappa Di Recioto Amarone ['885.0']
Sauza Blue Silver ['65.0']
Captain Morgan Lime Bite ['260.0']
Remy Martin 1738 Accord Royal ['389.0']
Armagnac XO 10 YR ['885.0']
Dekuyper Island Punch Pucker ['65.0']
Italian Brandy ['885.0']
Skinnygirl Island Coconut ['65.0']
Laphroaig ['885.0']
10 Cane Rum ['420.0']
Yahara Bay Gin ['885.0']
Irish Peated Single Malt Whiskey ['885.0']
Bartenders Hot Sex ['285.0']
Skinnygirl Tangerine ['65.0']
Cerises Rogue(Cherry Liqueur) ['885.0']
Sour Cherry ['885.0']
Paramount Vodka ['434.0' '350.0']
Apricot Grappa ['885.0']
Grappa Moscato ['885.0']
Admiral Nelson Cherry Spiced Rum ['259.0']
Effen Cucumber ['65.0']
Grappa Chianti Classico ['885.0']
Caol Ila 15yr ['885.0']
Kahlua Sampler Pack ['370.0']
Pearl Vodka ['434.0']
Caipirinha Lime ['885.0']
Pearl Red Berry Vodka ['434.0']
Yahara Bay Aged Rum ['885.0']
Blair Athol ['885.0']
Tullibardine 20YR ['885.0']
Absinthe Verde ['885.0']
Pina Colada ['885.0']
Isle of Arran ['885.0']
Libertine Absinthe(French Absinthe) ['885.0']
Whiskey Liqueur ['885.0']
Hiram Walker Orange Curacao ['370.0']
Jesse James Bourbon ['294.0']
Mango Limes ['885.0']
Yahara Bay Cocoa Liqueur ['885.0']
Old St. Nick''s Egg Nog ['421.0']

Cruzan Pineapple Rum ['65.0']
Yahara Bay American Rye Whiskey ['885.0']
Ursus Green Apple Vodka ['260.0']
Glen Garioch ['885.0']
Ardmore ['885.0']
Orange Liqueur ['885.0']
Cognac Napoleon XO ['885.0']
Absinthe Blanco ['885.0']
Fernandez Brandy De Jerez ['885.0']
Latte Machiatto ['885.0']
Skinnygirl Cucumber ['65.0']
G & W Bourbon ['297.0']
Hunters Herbal Liqueur ['885.0']
Armagnac XO 25yr ['885.0']
Calvados ['885.0']
Kirsch Cherry Brandy ['885.0']
Skinnygirl Pina Colada ['65.0']
Glengoyne ['885.0']
Yahara Bay Apple Crisp(Apple Pie) ['885.0']
Grappa Nebbiolo ['885.0']
Yahara Bay Apple Brandy ['885.0']
Christian Brothers Holiday Nog ['259.0']
Yahara Bay Lemoncello ['885.0']
Yahara Bay Vodka ['885.0']
Absolut Zing Zang Bloody Mary Mix ['370.0']
Hacienda Vieja ['310.0']
Yahara Bay American Whiskey ['885.0']
Don Q Limon ['451.0']
Dailuaine 29yr ['885.0']
Casa Noble Anejo ['115.0']
Uv Red(cherry) Vodka ['380.0']
Gentian Aperitif ['885.0']
Yahara Bay Orangecello ['885.0']
Yahara Bay Rum ['885.0']
White Horse Scotch ['260.0']
Paul Masson Vsop Brandy ['115.0']
Alize Blue ['295.0']
Milagro Reposado Tequila ['240.0']

### The answer is yes, Item number matters

### With this in mind: dropping unnecessary columns: Keeping Pack, Vendor Number, Bottle Volume (ml), Bottles Sold, Volume Sold (Liters) for future math, not for modeling

In [88]:
c12.head(3)

,Unnamed: 0,Unnamed: 0.1,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,Category,Category Name,Vendor Number,Vendor Name,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Year
0,11,135,S04414100075,03/06/2012,2532,Hy-Vee Food Store #2 / Des Moines,2540 E EUCLID,DES MOINES,50317,"2540 E EUCLID\nDES MOINES 50317\n(41.627842, -...",77.0,Polk,1082900.0,MISC. IMPORTED CORDIALS & LIQUEURS,192.0,Sidney Frank Importing Co.,65256,Jagermeister Liqueur,12,750,$11.58,$17.37,12,$208.44,9.0,2.38,12
1,31,190,S04958800091,04/09/2012,2633,Hy-Vee #3 / BDI / Des Moines,3221 SE 14TH ST,DES MOINES,50320,"3221 SE 14TH ST\nDES MOINES 50320\n(41.554101,...",77.0,Polk,1012200.0,SCOTCH WHISKIES,260.0,Diageo Americas,5289,J & B Rare Scotch,12,1000,$14.98,$22.47,12,$269.64,12.0,3.17,12
2,36,215,S03613800042,01/17/2012,2959,Dahl's / Merle Hay,4343 MERLE HAY ROAD,DES MOINES,50310,4343 MERLE HAY ROAD\nDES MOINES 50310\n(41.637...,77.0,Polk,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,35.0,"Bacardi U.S.A., Inc.",43038,Bacardi Gold Rum,6,1750,$14.67,$22.00,6,$132.00,10.5,2.77,12

In [119]:
c12=c12.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)

In [120]:
c12.shape

(2082059, 27)

In [121]:
c12.shape

(184093, 13)

## Next: Converting to correct dtypes (Date, Vendor Number, Item Number, State Bottle Cost, State Bottle Retail, Sale (Dollars)

#  2012 Data dtypes

In [122]:
c12.dtypes

Date                     object
Store Number              int64
Category Name            object
Vendor Number           float64
Item Number               int64
Item Description         object
Pack                      int64
Bottle Volume (ml)        int64
State Bottle Cost        object
State Bottle Retail      object
Bottles Sold              int64
Sale (Dollars)           object
Volume Sold (Liters)    float64
dtype: object

In [123]:
c12['Date']=pd.to_datetime(c12['Date'])
c12['Vendor Number']=c12['Vendor Number'].astype(str)
c12['Store Number']=c12['Store Number'].astype(str)
c12['Item Number']=c12['Item Number'].astype(str)
c12['State Bottle Cost']=list(map(lambda x:x[1:],c12['State Bottle Cost']))
c12['State Bottle Cost']=pd.to_numeric(c12['State Bottle Cost'])
c12['State Bottle Retail']=list(map(lambda x:x[1:],c12['State Bottle Retail']))
c12['State Bottle Retail']=pd.to_numeric(c12['State Bottle Retail'])
c12['Sale (Dollars)']=list(map(lambda x:x[1:],c12['Sale (Dollars)']))
c12['Sale (Dollars)']=pd.to_numeric(c12['Sale (Dollars)'])

In [191]:
c12.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [193]:
c12.to_csv('final_2012.csv')

#  2013 Data dtypes

In [142]:
c13.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Invoice/Item Number', 'Date',
       'Store Number', 'Store Name', 'Address', 'City', 'Zip Code',
       'Store Location', 'County Number', 'County', 'Category',
       'Category Name', 'Vendor Number', 'Vendor Name', 'Item Number',
       'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)', 'Year'],
      dtype='object')

In [144]:
c13=c13.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)
flen(c13.columns)

In [148]:
c13.dtypes

Date                     object
Store Number              int64
Category Name            object
Vendor Number           float64
Item Number               int64
Item Description         object
Pack                      int64
Bottle Volume (ml)        int64
State Bottle Cost        object
State Bottle Retail      object
Bottles Sold              int64
Sale (Dollars)           object
Volume Sold (Liters)    float64
dtype: object

In [151]:
c13['Date']=pd.to_datetime(c13['Date'])
c13['Vendor Number']=c13['Vendor Number'].astype(str)
c13['Store Number']=c13['Store Number'].astype(str)
c13['Item Number']=c13['Item Number'].astype(str)
c13['State Bottle Cost']=list(map(lambda x:x[1:],c13['State Bottle Cost']))
c13['State Bottle Cost']=pd.to_numeric(c13['State Bottle Cost'])
c13['State Bottle Retail']=list(map(lambda x:x[1:],c13['State Bottle Retail']))
c13['State Bottle Retail']=pd.to_numeric(c13['State Bottle Retail'])
c13['Sale (Dollars)']=list(map(lambda x:x[1:],c13['Sale (Dollars)']))
c13['Sale (Dollars)']=pd.to_numeric(c13['Sale (Dollars)'])

In [189]:
c13.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [190]:
c13.to_csv('final_2013.csv')

#  2014 Data dtypes

In [154]:
c14.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Invoice/Item Number', 'Date',
       'Store Number', 'Store Name', 'Address', 'City', 'Zip Code',
       'Store Location', 'County Number', 'County', 'Category',
       'Category Name', 'Vendor Number', 'Vendor Name', 'Item Number',
       'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)', 'Volume Sold (Gallons)', 'Year'],
      dtype='object')

In [155]:
c14=c14.reset_index(drop=True)
c14=c14.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)
len(c14.columns)

In [158]:
c14.dtypes

Date                     object
Store Number              int64
Category Name            object
Vendor Number           float64
Item Number               int64
Item Description         object
Pack                      int64
Bottle Volume (ml)        int64
State Bottle Cost        object
State Bottle Retail      object
Bottles Sold              int64
Sale (Dollars)           object
Volume Sold (Liters)    float64
dtype: object

In [159]:
c14['Date']=pd.to_datetime(c14['Date'])
c14['Vendor Number']=c14['Vendor Number'].astype(str)
c14['Store Number']=c14['Store Number'].astype(str)
c14['Item Number']=c14['Item Number'].astype(str)
c14['State Bottle Cost']=list(map(lambda x:x[1:],c14['State Bottle Cost']))
c14['State Bottle Cost']=pd.to_numeric(c14['State Bottle Cost'])
c14['State Bottle Retail']=list(map(lambda x:x[1:],c14['State Bottle Retail']))
c14['State Bottle Retail']=pd.to_numeric(c14['State Bottle Retail'])
c14['Sale (Dollars)']=list(map(lambda x:x[1:],c14['Sale (Dollars)']))
c14['Sale (Dollars)']=pd.to_numeric(c14['Sale (Dollars)'])

In [187]:
c14.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [188]:
c14.to_csv('final_2014.csv')

#  2015 column drops

In [165]:
c15=c15.reset_index(drop=True)
c15=c15.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)
len(c15.columns)

13

In [166]:
c15['Date']=pd.to_datetime(c15['Date'])
c15['Vendor Number']=c15['Vendor Number'].astype(str)
c15['Store Number']=c15['Store Number'].astype(str)
c15['Item Number']=c15['Item Number'].astype(str)
c15['State Bottle Cost']=list(map(lambda x:x[1:],c15['State Bottle Cost']))
c15['State Bottle Cost']=pd.to_numeric(c15['State Bottle Cost'])
c15['State Bottle Retail']=list(map(lambda x:x[1:],c15['State Bottle Retail']))
c15['State Bottle Retail']=pd.to_numeric(c15['State Bottle Retail'])
c15['Sale (Dollars)']=list(map(lambda x:x[1:],c15['Sale (Dollars)']))
c15['Sale (Dollars)']=pd.to_numeric(c15['Sale (Dollars)'])

In [185]:
c15.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [186]:
c15.to_csv('final_2015.csv')

#  2016 column drops

In [168]:
c16=c16.reset_index(drop=True)
c16=c16.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)
len(c16.columns)

13

In [169]:
c16['Date']=pd.to_datetime(c16['Date'])
c16['Vendor Number']=c16['Vendor Number'].astype(str)
c16['Store Number']=c16['Store Number'].astype(str)
c16['Item Number']=c16['Item Number'].astype(str)
c16['State Bottle Cost']=list(map(lambda x:x[1:],c16['State Bottle Cost']))
c16['State Bottle Cost']=pd.to_numeric(c16['State Bottle Cost'])
c16['State Bottle Retail']=list(map(lambda x:x[1:],c16['State Bottle Retail']))
c16['State Bottle Retail']=pd.to_numeric(c16['State Bottle Retail'])
c16['Sale (Dollars)']=list(map(lambda x:x[1:],c16['Sale (Dollars)']))
c16['Sale (Dollars)']=pd.to_numeric(c16['Sale (Dollars)'])

In [181]:
c16.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [180]:
c16.head(2)

,Date,Store Number,Category Name,Vendor Number,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters)
0,2016-01-28,2248,DECANTERS & SPECIALTY PACKAGES,65.0,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,36,1057.32,27.00
1,2016-01-05,5126,CREAM LIQUEURS,305.0,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.00
2,2016-01-13,4062,DECANTERS & SPECIALTY PACKAGES,370.0,316,Absolut with Ginger Beer,6,750,11.49,17.24,6,103.44,4.50
3,2016-01-19,5126,DECANTERS & SPECIALTY PACKAGES,259.0,352,Blackheart Playboy Edition,12,750,7.94,11.91,12,142.92,9.00
4,2016-01-21,2190,DECANTERS & SPECIALTY PACKAGES,259.0,352,Blackheart Playboy Edition,12,750,7.94,11.91,2,23.82,1.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
202134,2016-12-30,2190,Imported Vodka,368.0,36171,Cooranbong Vodka,6,750,11.50,17.25,2,17.25,1.50
202135,2016-12-30,2190,Imported Vodka,115.0,34820,Svedka Vodka,12,750,8.25,12.38,2,12.38,1.50
202136,2016-12-30,2190,Cocktails / RTD,395.0,59154,1800 Ultimate Margarita,6,1750,9.50,14.25,1,14.25,1.75
202137,2016-12-30,2190,100% Agave Tequila,260.0,87485,Don Julio Blanco Tequila,6,750,26.99,40.49,2,40.49,1.50
202138,2016-12-30,2190,100% Agave Tequila,35.0,89099,Cazadores Anejo,6,750,23.33,35.00,1,35.00,0.75

In [182]:
c16.to_csv('final_2016.csv')

#  2017 column drops

In [171]:
c17=c17.reset_index(drop=True)
c17=c17.drop(['Unnamed: 0','Unnamed: 0.1','Invoice/Item Number','Store Name','Address','City','Zip Code', 'Store Location','County Number','County','Category','Vendor Name','Volume Sold (Gallons)','Year'] ,axis=1)
len(c17.columns)

13

In [172]:
c17['Date']=pd.to_datetime(c17['Date'])
c17['Vendor Number']=c17['Vendor Number'].astype(str)
c17['Store Number']=c17['Store Number'].astype(str)
c17['Item Number']=c17['Item Number'].astype(str)
c17['State Bottle Cost']=list(map(lambda x:x[1:],c17['State Bottle Cost']))
c17['State Bottle Cost']=pd.to_numeric(c17['State Bottle Cost'])
c17['State Bottle Retail']=list(map(lambda x:x[1:],c17['State Bottle Retail']))
c17['State Bottle Retail']=pd.to_numeric(c17['State Bottle Retail'])
c17['Sale (Dollars)']=list(map(lambda x:x[1:],c17['Sale (Dollars)']))
c17['Sale (Dollars)']=pd.to_numeric(c17['Sale (Dollars)'])

In [183]:
c17.dtypes

Date                    datetime64[ns]
Store Number                    object
Category Name                   object
Vendor Number                   object
Item Number                     object
Item Description                object
Pack                             int64
Bottle Volume (ml)               int64
State Bottle Cost              float64
State Bottle Retail            float64
Bottles Sold                     int64
Sale (Dollars)                 float64
Volume Sold (Liters)           float64
dtype: object

In [184]:
c17.to_csv('final_2017.csv')

In [196]:
c12.columns

Index(['Date', 'Store Number', 'Category Name', 'Vendor Number', 'Item Number',
       'Item Description', 'Pack', 'Bottle Volume (ml)', 'State Bottle Cost',
       'State Bottle Retail', 'Bottles Sold', 'Sale (Dollars)',
       'Volume Sold (Liters)'],
      dtype='object')